Repository spacetelescope/jdaviz, pull requests merged in 2021-06, with the labels that each got.

#611 Imviz: Add simple blink tool
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  notebooks/ImvizExample.ipynb
Labels: Ready for final review, enhancement, imviz

#625 fix: also set the height for the app in a lab context
  jdaviz/app.vue
Labels: Ready for final review, bug, embed

#553 Imviz: Change Contrast and Bias with mouse click-and-drag
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  setup.cfg
Labels: Ready for final review, imviz

#618 Imviz: Load NDData and ndarray
  conftest.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/conftest.py
  setup.cfg
Labels: Ready for final review, imviz

#640 BUG: Fix loading of HLA product in Imviz
  jdaviz/configs/imviz/plugins/parsers.py
Labels: Ready for final review, bug, imviz

#641 Imviz: Support file list input in CLI
  jdaviz/cli.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: Ready for final review, imviz

#613 Imviz: Make the WCS match tool into a pan/zoom with WCS matching tool
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/data/icons/pan_wcs.png
  jdaviz/data/icons/pan_wcs.svg
  notebooks/ImvizExample.ipynb
Labels: Ready for final review, imviz

#675 Pin glue-jupyter to 0.5 while a ROI selection bug exists in 0.6
  setup.cfg
Labels: Upstream fix required

#678 MNT: Bump glue-jupyter minversion to 0.6.1
  jdaviz/configs/imviz/plugins/tools.py
  setup.cfg
Labels: imviz

#679 MNT: Delete PNG icon
  jdaviz/data/icons/pan_wcs.png
Labels: Ready for final review, imviz

#647 DOC: Add Imviz API documentation
  docs/reference/api.rst
Labels: Ready for final review, documentation, imviz

#682 feat: support Voila dark theme (--theme=dark)
  jdaviz/cli.py
  share/jupyter/nbconvert/templates/jdaviz-default/app.html
  share/jupyter/nbconvert/templates/jdaviz-default/index.html.j2
Labels: Ready for final review, embed

#673 Fix Imviz tiling bug
  jdaviz/app.py
Labels: Ready for final review, bug, imviz

#691 DOC: Known bottleneck install issue
  docs/known_bugs.rst
Labels: documentation

#672 Rename Test to Viewer
  jdaviz/container.vue
Labels: Ready for final review, UI/UX😍, embed

#650 DOC: Clean up Mosviz example notebook
  notebooks/MosvizExample.ipynb
Labels: Ready for final review, documentation, enhancement, mosviz

#680 Ensure data loaded into glue is the "right" data to view in Imviz
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: Ready for final review, enhancement, imviz

#670 MNT: Bump bqplot minversion to 0.12.29
  setup.cfg
Labels: Ready for final review, bug

#684 MNT: Bump ipyvuetify for lab dark mode
  setup.cfg
Labels: Ready for final review

#656 MNT: Change jwst maxversion to minversion
  setup.cfg
Labels: Ready for final review

#636 Wrote notebook on synthetic Mosviz image creation
  notebooks/concepts/generate_mosviz_photometry.ipynb
Labels: Ready for final review, documentation, mosviz

#701 Snackbar fix
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/utils.py
Labels: Ready for final review, embed, imviz

#703 Fix bug with empty snackbar queue
  jdaviz/utils.py
Labels: Ready for final review, bug, embed

#687 Imviz: astrowidget API for center_on and offset_to
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/conftest.py
  notebooks/ImvizExample.ipynb
Labels: Ready for final review, imviz

#627 Add tests for the redshift slider
  jdaviz/configs/specviz/plugins/redshift_slider/tests/__init__.py
  jdaviz/configs/specviz/plugins/redshift_slider/tests/test_redshift_slider.py
Labels: Ready for final review, specviz, testing

#671 fix: don't show the scrollbar in the app template
  share/jupyter/nbconvert/templates/jdaviz-default/index.html.j2
Labels: Ready for final review, bug, embed

#698 Documentation Updates
  README.rst
  docs/index.rst
Labels: Ready for final review, documentation
