Repository spacetelescope/jdaviz, pull requests merged in 2021-08, with the labels that each got.

#749 Clarify tooltip for WCS panzoom tool
  jdaviz/configs/imviz/plugins/tools.py
Labels: Ready for final review, imviz

#744 Imviz: Add zoom and zoom_level API
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/utils.py
  notebooks/ImvizExample.ipynb
Labels: Ready for final review, documentation, imviz

#755 BUG: Fix Imviz center/offset bounds check
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
Labels: Ready for final review, bug, imviz

#737 MNT: Add PR review check list
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Ready for final review

#746 MNT: Bump minversion of glue to 1.1
  setup.cfg
Labels: Ready for final review

#758 Specviz Spectral Region Getter falls back to reference data units
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/tests/test_helper.py
Labels: bug, specviz, Ready for final review

#757 Enable multiple spectra to share the same image without data duplication
  jdaviz/app.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_helper.py
  notebooks/MosvizExample.ipynb
Labels: enhancement, mosviz, Ready for final review

#768 Add way to turn off slit overlay if data is not NIRSpec
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
Labels: mosviz, Ready for final review

#726 MNT: Remove jwst as dependency for Imviz
  conftest.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/conftest.py
  setup.cfg
  tox.ini
Labels: testing, imviz, Ready for final review

#787 MNT: Bump glue-astronomy minversion to 0.2
  setup.cfg
Labels: imviz, Ready for final review, trivial

#789 MNT: Update code owners list
  .github/CODEOWNERS
Labels: Ready for final review

#792 Clarify Imviz tooltip
  jdaviz/configs/imviz/plugins/tools.py
Labels: documentation, imviz, trivial

#782 Speed up loading of MOSViz data
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_parsers.py
  setup.cfg
Labels: mosviz, Upstream fix required, Ready for final review, performance

#759 Imviz astrowidgets API: save
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  notebooks/ImvizExample.ipynb
Labels: documentation, imviz, Ready for final review

#786 BUG: Imviz get_interactive_regions now supports GWCS
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_regions.py
Labels: bug, imviz, Ready for final review

#775 BUG: Fix Imviz contrast/bias math
  jdaviz/configs/imviz/plugins/tools.py
Labels: bug, imviz, Ready for final review

#778 Imviz: Do not crash on bad GWCS
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: bug, imviz, Ready for final review

#798 fix: remove border around imviz image
  jdaviz/configs/imviz/plugins/viewers.py
Labels: bug, imviz, Ready for final review

#764 Imviz astrowidgets API MVP triple-play: stretch, cuts, colormap
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/utils.py
  notebooks/ImvizExample.ipynb
Labels: documentation, imviz, Ready for final review

#784 DOC: Clarify share_image in Mosviz parser
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
Labels: documentation, mosviz, Ready for final review

#780 DOC: Update known issues, etc
  docs/installation.rst
  docs/known_bugs.rst
Labels: documentation, Ready for final review

#795 Updated synthetic image creation notebook
  notebooks/concepts/generate_mosviz_photometry.ipynb
Labels: documentation, Ready for final review

#805 MNT: Bump minversion of glue-core and glue-jupyter
  setup.cfg
Labels: :fire:, Ready for final review, trivial

#796 Cubeviz: Allow model fitting to operate on spectral Subset
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
Labels: bug, cubeviz, Ready for final review

#621 Multi-extension data format identification
  jdaviz/core/data_formats.py
  jdaviz/tests/test_data_formats.py
Labels: specviz, Upstream fix required, testing

#779 Mosviz zoom to slit or object
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/core/events.py
  notebooks/MosvizNIRISSExample.ipynb
Labels: mosviz

#823 Automatically load first object on data load in Mosviz
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/tests/test_helper.py
Labels: mosviz, UI/UX😍
