Repository spacetelescope/jdaviz, pull requests merged in 2021-07, with the labels that each got.

#699 Imviz: astrowidgets markers API
  docs/known_bugs.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/utils.py
  notebooks/ImvizExample.ipynb
Labels: Ready for final review, documentation, imviz

#607 Add specviz helper tests
  jdaviz/configs/specviz/tests/__init__.py
  jdaviz/configs/specviz/tests/test_helper.py
Labels: Ready for final review, specviz, testing

#706 Add elliptical ROI button to imviz
  jdaviz/configs/imviz/plugins/viewers.py
  setup.cfg
Labels: Ready for final review, imviz

#709 Imviz: Replace offset_to with offset_by
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  notebooks/ImvizExample.ipynb
Labels: Ready for final review, documentation, imviz

#721 Imviz regions setter/getter API
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_regions.py
  notebooks/ImvizExample.ipynb
  setup.cfg
Labels: Ready for final review, documentation, imviz

#722 Viewers now have human-readable IDs
  jdaviz/app.py
  jdaviz/conftest.py
  jdaviz/container.vue
  jdaviz/tests/test_viewer_ids.py
Labels: Ready for final review, embed

#728 Add Mosviz NIRISS example notebook
  notebooks/MosvizNIRISSExample.ipynb
Labels: Ready for final review, documentation, mosviz

#730 BUG: unclosed v-row
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
Labels: Ready for final review, bug

#731 DOC: Remove old notebook
  notebooks/test_data_translation.ipynb
Labels: Ready for final review, documentation

#742 Add information about adding cutouts in notebook
  notebooks/MosvizExample.ipynb
Labels: documentation, mosviz, trivial
