Repository spacetelescope/jdaviz, pull requests merged in 2021-12, with the labels that each got.

#971 Imviz: Show coordinates in degrees too
  CHANGES.rst
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.vue
  jdaviz/configs/imviz/plugins/viewers.py
Labels: UI/UX😍, imviz, Ready for final review

#986 DOC: skimage removed deprecated rgb2grey in 0.19.0
  jdaviz/configs/imviz/helper.py
Labels: documentation, imviz, trivial, no-changelog-entry-needed

#980 refactor mosviz row lock to be plugin
  jdaviz/app.vue
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/mosviz/plugins/__init__.py
  jdaviz/configs/mosviz/plugins/row_lock/__init__.py
  jdaviz/configs/mosviz/plugins/row_lock/row_lock.py
  jdaviz/configs/mosviz/plugins/row_lock/row_lock.vue
  jdaviz/core/events.py
Labels: mosviz, embed, Ready for final review, no-changelog-entry-needed

#954 spectrum-2d-viewer: set custom toolbar tools
  jdaviz/configs/mosviz/plugins/viewers.py
Labels: mosviz, no-changelog-entry-needed

#927 Mos: Genercize SourceID logic
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_source_identifier_extract.py
Labels: mosviz, no-changelog-entry-needed

#989 redshift slider select wide enough to avoid overflow
  jdaviz/configs/specviz/plugins/redshift_slider/redshift_slider.vue
Labels: specviz, UI/UX😍, no-changelog-entry-needed

#974 add data to viewers when created by plugins
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
Labels: cubeviz, specviz, mosviz, Ready for final review

#992 BUG: Fix inaccurate coordinates info on dithered data linked by WCS
  CHANGES.rst
  docs/specviz/import_data.rst
  jdaviz/app.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  notebooks/ImvizExample.ipynb
Labels: bug, documentation, imviz, Ready for final review

#996 Add Custom Line List Import API Docs
  docs/notebook/import_data.rst
Labels: documentation, trivial, no-changelog-entry-needed

#994 spectrum-viewer: override default thickness for new subset
  CHANGES.rst
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/helpers.py
Labels: specviz

#982 Mosviz redshift slider
  CHANGES.rst
  docs/mosviz/index.rst
  docs/mosviz/redshift.rst
  docs/specviz/redshift.rst
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/redshift_slider/redshift_slider.py
Labels: specviz, mosviz, embed

#998 Update changelog for release, pin dev version of glue-astronomy for now
  CHANGES.rst
  setup.cfg
Labels: trivial

#999 Revert to release version of glue-astronomy to make PyPi happy
  setup.cfg
Labels: no-changelog-entry-needed

#1000 Put changelog back in unreleased state
  CHANGES.rst
Labels: skip-changelog-checks, no-changelog-entry-needed

#1001 DOC: Add milestone bookkeeping
  docs/dev/release.rst
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#1007 update colors of top toolbar and import button
  jdaviz/app.vue
  jdaviz/configs/default/plugins/data_tools/data_tools.vue
Labels: embed, UI/UX😍, no-changelog-entry-needed

#1004 BUG: Recreate JWST MJD-OBS if it is missing
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
Labels: bug, cubeviz, Ready for final review

#1008 consistent plugin padding & styling
  docs/dev/index.rst
  docs/dev/ui_style_guide.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/docs_link.vue
  jdaviz/components/plugin_section_header.vue
  jdaviz/components/tooltip.vue
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
Labels: cubeviz, specviz, mosviz, embed, UI/UX😍, imviz, no-changelog-entry-needed

#995 plot toolbar icons and styling
  jdaviz/app.vue
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/container.vue
  jdaviz/data/icons/blink.svg
  jdaviz/data/icons/box-select.svg
  jdaviz/data/icons/contrast.svg
  jdaviz/data/icons/home.svg
  jdaviz/data/icons/pan2.svg
  jdaviz/data/icons/panzoom_match.svg
  jdaviz/data/icons/save.svg
  jdaviz/data/icons/select_circle.svg
  jdaviz/data/icons/select_ellipse.svg
  jdaviz/data/icons/select_lasso.svg
  jdaviz/data/icons/select_x.svg
  jdaviz/data/icons/select_xy.svg
  jdaviz/data/icons/select_y.svg
  jdaviz/data/icons/zoom_box.svg
Labels: embed, UI/UX😍, imviz, no-changelog-entry-needed

#997 implement box zoom
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/core/tools.py
  jdaviz/data/icons/zoom_box_match.svg
  jdaviz/data/icons/zoom_xrange.svg
  jdaviz/data/icons/zoom_yrange.svg
Labels: cubeviz, specviz, mosviz, imviz

#1012 Line analysis subsets
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
Labels: specviz

#1016 Prep changelog for 2.2.0 release
  CHANGES.rst
Labels: trivial, skip-changelog-checks

#1017 Put changelog back in unreleased state
  CHANGES.rst
Labels: trivial, skip-changelog-checks, no-changelog-entry-needed
