Repository spacetelescope/jdaviz, pull requests merged in 2021-05, with the labels that each got.

#565 fix: add Voila >= 0.2.8 support
  share/jupyter/nbconvert/templates/jdaviz-default/util.js
Labels: embed

#575 Imviz: Add Home button by bumping glue-jupyter minversion
  setup.cfg
Labels: enhancement, imviz

#570 TST: Suppress warnings in test logs
  setup.cfg
Labels: testing

#578 Add --version to CLI
  jdaviz/cli.py
Labels: enhancement

#579 Imviz: Minor fixes
  jdaviz/configs/imviz/helper.py
  notebooks/ImvizExample.ipynb
Labels: bug, documentation, imviz

#580 TST: Mark test_data_retrieval to require remote_data
  jdaviz/configs/cubeviz/plugins/tests/test_data_retrieval.py
Labels: bug, cubeviz, testing

#581 TST: Add more deps to devdeps, and devdeps to PR
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: enhancement, testing

#563 TST: Test workflow clean-ups
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: testing

#584 MNT: Bump Python minversion based on astropy>=4.2, remove outdated test config
  .github/workflows/ci_cron_weekly.yml
  jdaviz/conftest.py
  setup.cfg
  tox.ini
Labels: testing

#554 TST: Add CodeQL security check
  .github/workflows/codeql-analysis.yml
Labels: testing

#612 DOC: Fix broken link to astropy dev docs
  docs/dev/release.rst
Labels: Ready for final review, bug, documentation

#616 Fix field label typo in Collapse plugin
  jdaviz/configs/default/plugins/collapse/collapse.vue
Labels: Ready for final review, bug

#573 Use ipyfilechooser for file dialog
  jdaviz/cli.py
  jdaviz/configs/default/plugins/data_tools/data_tools.py
  jdaviz/configs/default/plugins/data_tools/data_tools.vue
  jdaviz/configs/default/plugins/data_tools/file_chooser.py
  licenses/IPYFILECHOOSER_LICENSE.rst
Labels: Ready for final review, enhancement

#594 TST: Generate coverage in tox
  tox.ini
Labels: Ready for final review, bug, testing

#614 Update pinned glue-jupyter
  setup.cfg
Labels: Ready for final review, imviz

#592 MNT: Silence tornado warnings
  jdaviz/cli.py
Labels: Ready for final review, enhancement

#626 Add unit conversion tests
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/conftest.py
Labels: Ready for final review, specviz, testing
