Repository spacetelescope/jdaviz, pull requests merged in 2021-09, with the labels that each got.

#825 Mosviz hotfix
  jdaviz/configs/mosviz/helper.py
  notebooks/MosvizNIRISSExample.ipynb
Labels: bug, mosviz, :fire:

#826 MNT: asdf and gwcs no longer optional dependencies
  docs/dev/jdaviz.svg
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: documentation, testing, imviz, Ready for final review, trivial

#811 Added initial developer docs on linking
  docs/conf.py
  docs/dev/index.rst
  docs/dev/links.rst
Labels: documentation

#803 Make sure we remove the right patch from the image viewer when removing the slit overlay
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
Labels: bug, mosviz, Ready for final review

#829 MNT: Bump specutils minversion to 1.3.1
  setup.cfg
Labels: Ready for final review

#762 Link mosviz data as a batch after they are loaded
  jdaviz/app.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/viewers.py
  notebooks/MosvizExample.ipynb
  notebooks/MosvizNIRISSExample.ipynb
Labels: bug, mosviz, Ready for final review, performance

#783 ENH: Mosviz to use Imviz image parser
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_helper.py
Labels: mosviz, imviz, Ready for final review

#845 BUG: Clean app state after crash (Mosviz)
  jdaviz/app.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/mosviz/tests/test_helper.py
Labels: bug, mosviz, Ready for final review

#831 Standardize/improve list coercion in Mosviz parsers
  jdaviz/configs/mosviz/plugins/parsers.py
Labels: mosviz, Ready for final review

#734 Add example on how to use SpectrumList.read with MIRI MRS dataset
  notebooks/concepts/SpectrumListExample.ipynb
Labels: documentation, Ready for final review

#846 Reduce amount of success messages sent to users
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
Labels: cubeviz, mosviz

#843 Update specviz parser to handle SpectrumList input
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/tests/test_helper.py
Labels: specviz, Ready for final review

#790 POC: Imviz with RGB color display
  notebooks/concepts/imviz_color_display.ipynb
Labels: documentation, discussion, imviz

#756 ENH: verbosity to control snackbar messages
  jdaviz/app.py
  jdaviz/cli.py
  jdaviz/configs/cubeviz/cubeviz.ipynb
  jdaviz/configs/default/default.ipynb
  jdaviz/configs/imviz/imviz.ipynb
  jdaviz/configs/mosviz/mosviz.ipynb
  jdaviz/configs/specviz/specviz.ipynb
  jdaviz/core/helpers.py
Labels: enhancement, Ready for final review

#842 Add Imviz documentation
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/import_data.rst
  docs/imviz/displayimages.rst
  docs/imviz/img/picture_with_plus.png
  docs/imviz/img/white_to_black.png
  docs/imviz/import_data.rst
  docs/imviz/index.rst
  docs/imviz/notebook.rst
  docs/imviz/plugins.rst
Labels: documentation, imviz, Ready for final review

#832 notebook related documentation
  docs/cubeviz/import_data.rst
  docs/cubeviz/notebook.rst
  docs/index.rst
  docs/notebook/export_data.rst
  docs/notebook/import_data.rst
  docs/notebook/index.rst
  docs/notebook/save_state.rst
  docs/specviz/notebook.rst
  docs/specviz/plugins.rst
Labels: documentation, Ready for final review

#858 Fix label on field in collapse plugin
  jdaviz/configs/default/plugins/collapse/collapse.vue
Labels: bug, cubeviz, trivial

#859 Cubeviz doc update
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/img/contours_activated.png
  docs/cubeviz/img/cubeviz_import_data.png
  docs/cubeviz/img/data_tab_with_2_data.png
  docs/cubeviz/img/display_settings.png
  docs/cubeviz/img/second_layer_with_contours.png
  docs/cubeviz/img/subset_creation.png
  docs/cubeviz/img/subset_layer_tab.png
  docs/cubeviz/import_data.rst
  docs/img/collapse_plugin.png
Labels: documentation, cubeviz, Ready for final review

#735 Imviz: Only link by pixel
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/data/icons/panzoom_match.svg
  notebooks/ImvizExample.ipynb
  notebooks/concepts/imviz_color_display.ipynb
Labels: imviz, Ready for final review

#855 DOC: Preparing change log for next release
  CHANGES.rst
Labels: documentation, Ready for final review

#860 Update to specutils 1.4.0
  setup.cfg
Labels: trivial

#862 Imviz: Clarify relinking success message
  jdaviz/configs/imviz/helper.py
Labels: imviz, Ready for final review

#861 Fix mosviz notebook height
  jdaviz/configs/mosviz/mosviz.yaml
Labels: mosviz

#856 MNT: Rebrand SomeViz to Someviz
  README.rst
  docs/cubeviz/import_data.rst
  docs/cubeviz/notebook.rst
  docs/dev/release.rst
  docs/dev/ui_description.rst
  docs/img/Specviz_2D_Zoom.gif
  docs/index.rst
  docs/mosviz/import_data.rst
  docs/mosviz/index.rst
  docs/mosviz/notebook.rst
  docs/mosviz/plugins.rst
  docs/notebook/export_data.rst
  docs/notebook/import_data.rst
  docs/notebook/index.rst
  docs/quickstart.rst
  docs/specviz/displaying.rst
  docs/specviz/import_data.rst
  docs/specviz/index.rst
  docs/specviz/notebook.rst
  jdaviz/__init__.py
  jdaviz/cli.py
  jdaviz/configs/cubeviz/__init__.py
  jdaviz/configs/cubeviz/cubeviz.ipynb
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/mosviz/__init__.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/mosviz.ipynb
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/configs/specviz/__init__.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/specviz.ipynb
  jdaviz/configs/specviz2d/helper.py
  jdaviz/conftest.py
  notebooks/CubevizExample.ipynb
  notebooks/MosvizExample.ipynb
  notebooks/MosvizNIRISSExample.ipynb
  notebooks/SpecvizExample.ipynb
  notebooks/concepts/Cube_fit.ipynb
  notebooks/concepts/Data interactions through CubeViz.ipynb
  notebooks/concepts/LineLists.ipynb
  notebooks/concepts/Minimal Specviz.ipynb
  notebooks/concepts/Mosviz concept notebook.ipynb
  notebooks/concepts/Mosviz overplot slit example.ipynb
  notebooks/concepts/Mosviz_niriss_parser.ipynb
  notebooks/concepts/Specviz Unit Conversion.ipynb
  notebooks/concepts/concept_programmatic_viewers_from_blank_default.ipynb
Labels: documentation, cubeviz, specviz, mosviz, testing, Ready for final review

#469 ENH: Automated PyPI release from GitHub release
  .github/workflows/publish.yml
  docs/dev/release.rst
Labels: enhancement, discussion, Ready for final review

#850 Mosviz: Slit overlay to use Data WCS
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  setup.cfg
Labels: bug, mosviz, Ready for final review

#733 Update Mosviz to use Spectrum1D from SpectralCube
  docs/mosviz/plugins.rst
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_helper.py
  setup.cfg
Labels: mosviz, :fire:, Ready for final review

#864 Make Imviz panning more seamless
  jdaviz/configs/imviz/plugins/viewers.py
  setup.cfg
Labels: imviz, Ready for final review

#852 fix: buggy 1D/2D spectrum viewer x-axis links
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/viewers.py
Labels: mosviz, Ready for final review

#866 Hide some of the columns in the Mosviz table viewer by default
  jdaviz/configs/mosviz/plugins/viewers.py
  setup.cfg
Labels: mosviz

#868 DOC: Release doc for the adventurous
  docs/dev/release.rst
Labels: documentation, Ready for final review, trivial

#870 update the first cell of the example notebooks to be consistent
  notebooks/CubevizExample.ipynb
  notebooks/ImvizExample.ipynb
  notebooks/MosvizExample.ipynb
  notebooks/SpecvizExample.ipynb
Labels: documentation, trivial

#813 DOC: Enable nitpicky in doc build
  docs/conf.py
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/displayspectra.rst
  docs/cubeviz/import_data.rst
  docs/cubeviz/notebook.rst
  docs/cubeviz/plugins.rst
  docs/imviz/index.rst
  docs/imviz/notebook.rst
  docs/known_bugs.rst
  docs/mosviz/displayspectra.rst
  docs/mosviz/import_data.rst
  docs/mosviz/notebook.rst
  docs/mosviz/plugins.rst
  docs/nitpick-exceptions
  docs/notebook/export_data.rst
  docs/notebook/import_data.rst
  docs/quickstart.rst
  docs/reference/api.rst
  docs/specviz/displaying.rst
  docs/specviz/import_data.rst
  docs/specviz/index.rst
  docs/specviz/plugins.rst
  docs/specviz/redshift.rst
  jdaviz/app.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/core/helpers.py
  jdaviz/core/registries.py
  jdaviz/core/template_mixin.py
Labels: documentation, Ready for final review

#872 Fix typos
  docs/cubeviz/plugins.rst
  docs/dev/infrastructure.rst
  docs/dev/ui_description.rst
  docs/known_bugs.rst
  docs/notebook/export_data.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/default/plugins/data_tools/file_chooser.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/events.py
  jdaviz/core/linelists.py
  jdaviz/core/registries.py
Labels: documentation, cubeviz, specviz, mosviz, imviz

#865 Change Y-axis to scientific notation if numbers are too small or too …
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/viewers.py
  notebooks/SpecvizExample.ipynb
Labels: bug, specviz, mosviz, Ready for final review

#878 fix: scientific notation of Y-axis not shown on first load
  jdaviz/configs/mosviz/helper.py
Labels: mosviz

#879 Fix typos in notebooks
  notebooks/ImvizExample.ipynb
  notebooks/concepts/Cube_fit.ipynb
  notebooks/concepts/Data interactions through CubeViz.ipynb
  notebooks/concepts/Example cubeviz spectral and spatial interactions.ipynb
  notebooks/concepts/Example_fitting.ipynb
  notebooks/concepts/Specviz from splot concept notebook.ipynb
  notebooks/concepts/concept_programmatic_viewers_from_blank_default.ipynb
Labels: documentation, trivial

#854 Refactor astrowidgets API
  docs/imviz/notebook.rst
  docs/reference/api.rst
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/core/astrowidgets_api.py
  jdaviz/tests/test_viewer_ids.py
  notebooks/ImvizExample.ipynb
  notebooks/concepts/imviz_color_display.ipynb
Labels: documentation, imviz, Ready for final review

#880 Updated minimum versions of glue-core and glue-jupyter
  setup.cfg
Labels: :fire:

#877 Remove converted spec1ds in mosviz when row changes
  jdaviz/configs/mosviz/plugins/viewers.py
Labels: bug, mosviz, :fire:

#875 Link model fitting results so they plot in Mosviz
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: mosviz, :fire:

#883 MNT: Use absolute import
  jdaviz/app.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/specviz/helper.py
Labels: specviz, mosviz, Ready for final review

#885 Remove unit conversion plugin from Mosviz for now
  jdaviz/configs/mosviz/mosviz.yaml
Labels: mosviz, :fire:

#876 TST: Be more explicit in ignoring pytest warnings
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_data_retrieval.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/configs/specviz/plugins/redshift_slider/tests/test_redshift_slider.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/tests/test_helper.py
  setup.cfg
Labels: cubeviz, mosviz, testing, imviz, Ready for final review

#889 Remove defunct section from Mosviz docs, clean up spacing
  docs/mosviz/plugins.rst
Labels: documentation, mosviz, trivial

#887 DOC: formatting updates
  docs/conf.py
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/displayspectra.rst
  docs/cubeviz/import_data.rst
  docs/cubeviz/index.rst
  docs/cubeviz/plugins.rst
  docs/img/icons/color_square.png
  docs/img/icons/eye.png
  docs/img/icons/hammer_and_screwdriver.png
  docs/img/icons/picture_with_plus.png
  docs/img/icons/plugins.png
  docs/img/icons/region_circ.png
  docs/img/icons/region_horiz.png
  docs/img/icons/region_rect.png
  docs/img/icons/settings_sliders.png
  docs/img/icons/white_to_black.png
  docs/img/icons/zoom_pan_2d.png
  docs/img/icons/zoom_pan_home.png
  docs/img/icons/zoom_pan_horiz.png
  docs/img/icons/zoom_pan_vert.png
  docs/imviz/displayimages.rst
  docs/imviz/import_data.rst
  docs/imviz/notebook.rst
  docs/mosviz/displayspectra.rst
  docs/mosviz/index.rst
  docs/mosviz/navigation.rst
  docs/mosviz/notebook.rst
  docs/mosviz/plugins.rst
  docs/notebook/export_data.rst
  docs/notebook/import_data.rst
  docs/notebook/index.rst
  docs/quickstart.rst
  docs/specviz/displaying.rst
  docs/specviz/import_data.rst
  docs/specviz/plugins.rst
Labels: documentation, :fire:

#890 Fix cubeviz unit conversion
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
Labels: bug, cubeviz, specviz, :fire:

#841 Update table columns in MOSViz
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
Labels: enhancement, mosviz, :fire:

#892 MNT: 2.0 release prep
  CHANGES.rst
  MANIFEST.in
  docs/conf.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_regions.py
  setup.cfg
Labels: documentation, imviz, :fire:

#901 viewer toolbar: align to right
  jdaviz/container.vue
Labels: embed, UI/UX😍, Ready for final review

#903 DOC: Fix linkcheck
  docs/dev/links.rst
  docs/dev/release.rst
  docs/dev/ui_description.rst
Labels: bug, documentation, testing, Ready for final review

#900 DOC: Add Zenodo DOI
  README.rst
  docs/dev/release.rst
Labels: documentation, Ready for final review

#902 DOC: New change log format
  CHANGES.rst
  docs/dev/release.rst
Labels: documentation, discussion, Ready for final review, skip-changelog-checks

#904 TST: Ignore numpy.ufunc size warning in cron job CI
  .github/workflows/ci_cron_weekly.yml
  setup.cfg
Labels: testing, Ready for final review, no-changelog-entry-needed

#907 Imviz: API to create and destroy viewers
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/tests/test_viewers.py
  notebooks/ImvizExample.ipynb
Labels: enhancement, documentation, imviz, Ready for final review

#906 Imviz: get_interactive_regions() to handle weird shapes better
  CHANGES.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_regions.py
Labels: bug, imviz, Ready for final review

#909 Plugin to control Imviz linking
  CHANGES.rst
  docs/reference/api.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/links_control/__init__.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/plugins/parsers.py
Labels: enhancement, UI/UX😍, imviz, Ready for final review

#915 Add specviz2d example notebook and load miri s2d files
  CHANGES.rst
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/specviz2d/plugins/parsers.py
  notebooks/Specviz2dExample.ipynb
Labels: documentation, specviz, mosviz
