Repository spacetelescope/jdaviz, pull requests merged in 2021-04, with the labels that each got.

#506 MNT: Add codeowners
  .github/CODEOWNERS
Labels: enhancement

#429 Add initial implementation of Imviz
  README.rst
  docs/imviz/index.rst
  docs/index.rst
  docs/quickstart.rst
  jdaviz/__init__.py
  jdaviz/app.py
  jdaviz/cli.py
  jdaviz/configs/__init__.py
  jdaviz/configs/imviz/__init__.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/imviz.ipynb
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/image_viewer_creator/__init__.py
  jdaviz/configs/imviz/plugins/image_viewer_creator/image_viewer_creator.py
  jdaviz/configs/imviz/plugins/image_viewer_creator/image_viewer_creator.vue
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/core/config.py
  jdaviz/tests/test_data_formats.py
  notebooks/ImvizExample.ipynb
  notebooks/concepts/concept_programmatic_viewers_from_blank_default.ipynb
  setup.cfg
Labels: imviz

#538 MNT: Minversion of glupyter is now 0.3
  setup.cfg
Labels: imviz

#539 BUG: Fix typo in cubeviz parser docstring, remove duplicate code
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: bug, cubeviz, documentation

#562 MNT: Move license to root directory, update years
  LICENSE.rst
  licenses/README.rst
  setup.cfg
Labels: documentation

#558 MNT: Add PR auto labeler
  .github/labeler.yml
  .github/workflows/open_actions.yml
Labels: enhancement

#560 MNT: Add issue templates
  .github/ISSUE_TEMPLATE/bug-report--cubeviz.md
  .github/ISSUE_TEMPLATE/bug-report--imviz.md
  .github/ISSUE_TEMPLATE/bug-report--mosviz.md
  .github/ISSUE_TEMPLATE/bug-report--specviz.md
  .github/ISSUE_TEMPLATE/feature--cubeviz.md
  .github/ISSUE_TEMPLATE/feature--imviz.md
  .github/ISSUE_TEMPLATE/feature--mosviz.md
  .github/ISSUE_TEMPLATE/feature--specviz.md
Labels: enhancement

#561 DOC: Add STScI code of conduct
  CODE_OF_CONDUCT.md
Labels: documentation

#572 Specify minimum bqplot version to include pan/zoom fix
  setup.cfg
Labels: bug

#571 Change default data layer opacity to 1
  jdaviz/app.py
Labels: bug, imviz

#505 fix: make height controllable in other context
  jdaviz/app.vue
  share/jupyter/nbconvert/templates/jdaviz-default/app.html
Labels: bug

#568 Remove unwanted data label input
  jdaviz/configs/specviz/plugins/parsers.py
Labels: bug, specviz
