Repository spacetelescope/jdaviz, pull requests merged in 2021-11, with the labels that each got.

#950 Update email in setup.cfg
  setup.cfg
Labels: trivial

#956 close plot tools menu when opening layer/viewer menu
  jdaviz/container.vue
Labels: embed, UI/UX😍, no-changelog-entry-needed

#936 Mosviz: table row select/scroll
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/play_pause_widget.vue
  jdaviz/components/tooltip.vue
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/container.vue
Labels: mosviz, embed, no-changelog-entry-needed

#951 Fix error for noncontiguous subset regions
  jdaviz/app.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/tests/test_helper.py
Labels: bug, specviz, Ready for final review, no-changelog-entry-needed

#969 TST: Temporarily disable bqplot dev in devdeps job.
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed

#970 Fix error trace introduced to Specviz model fitting
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: bug, specviz, trivial, no-changelog-entry-needed

#913 feat: use the new template load mechanism in ipyvue
  CHANGES.rst
  docs/installation.rst
  jdaviz/__init__.py
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/cli.py
  jdaviz/configs/cubeviz/cubeviz.ipynb
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/unified_slider/unified_slider.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/data_tools/data_tools.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/viewer_creator/viewer_creator.py
  jdaviz/configs/imviz/imviz.ipynb
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/image_viewer_creator/image_viewer_creator.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/mosviz/mosviz.ipynb
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/redshift_slider/redshift_slider.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/specviz.ipynb
  jdaviz/container.vue
  jdaviz/utils.py
  setup.cfg
  share/jupyter/nbconvert/templates/jdaviz-default/app.html
Labels: cubeviz, specviz, mosviz, embed, imviz

#958 Voila styling tweaks
  jdaviz/app.vue
Labels: embed, no-changelog-entry-needed

#938 Imviz simple aperture photometry plugin (no photutils)
  CHANGES.rst
  docs/conf.py
  docs/dev/links.rst
  docs/imviz/displayimages.rst
  docs/imviz/import_data.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/__init__.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/imviz/tests/utils.py
  notebooks/concepts/imviz_simple_aper_phot.ipynb
Labels: enhancement, documentation, imviz, Ready for final review

#972 Bump specutils pin to new release
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#973 update mosviz notebooks to import from jdaviz root package
  notebooks/MosvizExample.ipynb
  notebooks/MosvizNIRISSExample.ipynb
Labels: documentation, trivial, skip-changelog-checks

#976 BUG: Fix get_model_parameters for Gaussian1D
  CHANGES.rst
  jdaviz/core/helpers.py
Labels: bug, cubeviz, specviz

#961 Mosviz: redshift column in table
  CHANGES.rst
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/tests/test_helper.py
Labels: mosviz, api
