Repository spacetelescope/jdaviz, pull requests merged in 2021-10, with the labels that each got.

#924 wrap tab items in lazy component to fix initial tab selection
  jdaviz/container.vue
Labels: embed, Ready for final review, no-changelog-entry-needed

#934 BUG: Fix line analysis results logic
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
Labels: bug, specviz, Ready for final review, no-changelog-entry-needed

#942 fix layout and add tooltip to new image viewer button
  jdaviz/components/tooltip.vue
  jdaviz/configs/imviz/plugins/image_viewer_creator/image_viewer_creator.vue
Labels: UI/UX😍, imviz, trivial, no-changelog-entry-needed
