Repository spacetelescope/jdaviz, pull requests merged in 2022-04, with the labels that each got.

#1226 bump glue-jupyter version to fix exponents in float field
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#1219 SubsetSelect: allow more than one non-subset option
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, no-changelog-entry-needed, plugin

#1229 Change default collapse function to sum
  CHANGES.rst
  jdaviz/configs/specviz/plugins/viewers.py
Labels: cubeviz, specviz

#1218 DEV: Fix editable install on Windows
  docs/dev/index.rst
  docs/dev/win_dev.rst
  setup.py
Labels: documentation, trivial, no-changelog-entry-needed

#1230 BUG: Fix --help text
  jdaviz/cli.py
Labels: bug, documentation, Ready for final review, trivial, no-changelog-entry-needed

#1227 Add esa data parser to cubeviz
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: cubeviz

#1237 Move set collapse function to init method
  CHANGES.rst
  jdaviz/configs/specviz/plugins/viewers.py
Labels: specviz, Ready for final review

#1235 Fix ESA axes
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: cubeviz, no-changelog-entry-needed

#1242 pytest ignore imageio deprecation warning
  setup.cfg
Labels: imviz, trivial, no-changelog-entry-needed

#1240 docs help button in toolbar
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/tooltip.vue
Labels: embed, UI/UX😍, Ready for final review

#1232 Update Mosviz Desktop App to Directory Parser
  CHANGES.rst
  docs/mosviz/import_data.rst
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/mosviz.ipynb
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/conftest.py
Labels: mosviz

#1174 Update Cubeviz to work on data with spectral axis last
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/conftest.py
  jdaviz/tests/test_subsets.py
  setup.cfg
  tox.ini
Labels: cubeviz, Upstream fix required, Ready for final review

#1231 new docs readme, quickstart, sample_notebook
  README.rst
  docs/index.rst
  docs/quickstart.rst
  docs/sample_notebooks.rst
Labels: documentation, no-changelog-entry-needed

#1251 DOC: minor formatting tweak to sample notebooks
  docs/sample_notebooks.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1239 re-usable component for naming and adding results from plugins
  CHANGES.rst
  docs/conf.py
  docs/dev/ui_style_guide.rst
  jdaviz/app.py
  jdaviz/components/plugin_add_results.vue
  jdaviz/components/plugin_auto_label.vue
  jdaviz/components/tooltip.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/core/template_mixin.py
Labels: documentation, cubeviz, Ready for final review, plugin

#1264 DOC: quickstart data cube
  docs/quickstart.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1252 CLI: change layout from an option to a positional argument
  CHANGES.rst
  README.rst
  docs/mosviz/import_data.rst
  docs/quickstart.rst
  jdaviz/cli.py
Labels: documentation, Ready for final review

#1241 Homogenize doc page titles/subheadings between the configs
  docs/cubeviz/import_data.rst
  docs/imviz/import_data.rst
  docs/mosviz/import_data.rst
  docs/specviz/import_data.rst
  docs/specviz/plugins.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed

#1253 basic plugin search
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
Labels: embed, UI/UX😍, Ready for final review

#1262 fix: workaround for extra click when using ctrl-click in safari
  CHANGES.rst
  jdaviz/components/toolbar_nested.py
  jdaviz/components/toolbar_nested.vue
Labels: bug, embed, Ready for final review

#1267 Add section to docs for creating data for cubeviz
  docs/cubeviz/import_data.rst
Labels: documentation, no-changelog-entry-needed

#1261 line analysis: coerce units in results
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
Labels: specviz, Ready for final review

#1269 model fitting: require model components to be created
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
Labels: UI/UX😍, no-changelog-entry-needed

#1276 Preparing release 2.5.0
  CHANGES.rst
Labels: no-changelog-entry-needed

#1263 DOC: developer docs for plugin components
  docs/dev/index.rst
  docs/dev/ui_plugin_components.rst
  jdaviz/core/template_mixin.py
Labels: documentation, trivial, no-changelog-entry-needed

#1234 DEV: Fix editable install on Windows (try 2)
  docs/dev/index.rst
  docs/dev/win_dev.rst
  setup.py
Labels: documentation, Ready for final review, no-changelog-entry-needed
