Repository spacetelescope/jdaviz, pull requests merged in 2022-01, with the labels that each got.

#1019 MNT: Do not use enable_deprecations_as_exceptions, fix CI
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/conftest.py
  setup.cfg
Labels: testing, Ready for final review, trivial, no-changelog-entry-needed

#1024 TST: Re-enable test_moment_maps
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/conftest.py
Labels: cubeviz, testing, Ready for final review, no-changelog-entry-needed

#1023 Fix model parameter updating after fit for compound models
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: bug, plugin

#1029 Fix dark theme support for model parameter names
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
Labels: UI/UX😍, trivial, no-changelog-entry-needed

#1018 Spelling
  docs/dev/infrastructure.rst
  jdaviz/app.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/default/plugins/model_fitting/initializers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/specviz/helper.py
  jdaviz/core/freezable_state.py
  jdaviz/data/linelists/SDSS.csv
  jdaviz/data/linelists/linelist_metadata.json
  notebooks/concepts/Data interactions through CubeViz.ipynb
  notebooks/concepts/Minimal Specviz.ipynb
  notebooks/concepts/Specviz from splot concept notebook.ipynb
  notebooks/concepts/generate_mosviz_photometry.ipynb
Labels: documentation, cubeviz, specviz, mosviz, embed, no-changelog-entry-needed

#1031 move redshift slider to line list plugin
  CHANGES.rst
  docs/known_bugs.rst
  docs/mosviz/plugins.rst
  docs/mosviz/redshift.rst
  docs/specviz/img/redshift_slider.png
  docs/specviz/plugins.rst
  docs/specviz/redshift.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/__init__.py
  jdaviz/configs/specviz/plugins/redshift_slider/__init__.py
  jdaviz/configs/specviz/plugins/redshift_slider/redshift_slider.py
  jdaviz/configs/specviz/plugins/redshift_slider/redshift_slider.vue
  jdaviz/configs/specviz/plugins/redshift_slider/tests/__init__.py
  jdaviz/configs/specviz/plugins/redshift_slider/tests/test_redshift_slider.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/specviz.yaml
Labels: specviz, mosviz, api, UI/UX😍

#1033 Add Imviz description to main docs page
  docs/index.rst
Labels: documentation, imviz, no-changelog-entry-needed

#1038 BUG: Let mastviz use Imviz
  CHANGES.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_viewers.py
Labels: bug, imviz, Ready for final review, MAST

#1044 Fix voila specviz launch notebook
  CHANGES.rst
  jdaviz/configs/specviz/specviz.ipynb
Labels: bug, specviz, trivial

#1042 update load_data docstring for mosviz/specviz2d
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/specviz2d/helper.py
Labels: specviz, mosviz, no-changelog-entry-needed

#1041 model fitting: handle empty poly order input
  CHANGES.rst
  docs/dev/ui_style_guide.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/core/custom_traitlets.py
  jdaviz/core/tests/__init__.py
  jdaviz/core/tests/test_custom_traitlets.py
Labels: bug, documentation, embed, UI/UX😍, Ready for final review

#1052 TST: Update test matrix, etc
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: testing, :fire:, Ready for final review, trivial, no-changelog-entry-needed

#1046 Cubeviz spectral regions fixes
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/tests/test_subsets.py
  setup.cfg
Labels: cubeviz, testing, Ready for final review

#1035 POC: Simple metadata viewer plugin
  CHANGES.rst
  docs/imviz/plugins.rst
  docs/mosviz/plugins.rst
  docs/specviz/plugins.rst
  jdaviz/configs/default/plugins/__init__.py
  jdaviz/configs/default/plugins/metadata_viewer/__init__.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
  jdaviz/configs/default/plugins/metadata_viewer/tests/__init__.py
  jdaviz/configs/default/plugins/metadata_viewer/tests/test_metadata_viewer.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/specviz/specviz.yaml
Labels: enhancement, specviz, mosviz, imviz, Ready for final review

#952 Implement mechanism for helpers to create new tabs for apps.
  .gitignore
  CHANGES.rst
  jdaviz/app.vue
  jdaviz/core/helpers.py
  jdaviz/tests/test_show.py
  notebooks/CubevizExample.ipynb
  notebooks/ImvizExample.ipynb
  notebooks/MosvizExample.ipynb
  notebooks/SpecvizExample.ipynb
  setup.cfg
Labels: documentation, testing
