Repository spacetelescope/jdaviz, pull requests merged in 2022-12, with the labels that each got.

#1884 DOC: Update Specviz Plot Options documentation
  docs/specviz/displaying.rst
Labels: documentation, specviz, Ready for final review, no-changelog-entry-needed

#1887 Restore console log for Windows
  CHANGES.rst
  setup.cfg
Labels: bug, Ready for final review, trivial, backport-v3.1.x

#1864 Model fitting residuals
  CHANGES.rst
  jdaviz/components/plugin_add_results.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, plugin

#1895 Move changelog entry for failed backport #1887
  CHANGES.rst
Labels: documentation, trivial, skip-changelog-checks, no-changelog-entry-needed

#1896 Add caveat to Cubeviz line analysis docs on uncertainties
  docs/cubeviz/plugins.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1901 TST: Pin tox<4
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, :fire:, trivial, no-changelog-entry-needed, backport-v3.1.x

#1902 Backport PR #1901 on branch v3.1.x (TST: Pin tox<4)
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, :fire:, trivial, no-changelog-entry-needed, backport-v3.1.x

#1906 unpin tox < 4
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.1.x

#1907 Backport PR #1906 on branch v3.1.x (unpin tox < 4)
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.1.x

#1891 rename residuals_expose to residuals_calculate
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: Ready for final review

#1916 MNT: comma separated passenv to be compatible with tox requirements
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.1.x

#1900 Bugfix: skip color cycler in Mosviz
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/utils.py
Labels: mosviz, Ready for final review, backport-v3.1.x

#1918 Backport PR #1900 on branch v3.1.x (Bugfix: skip color cycler in Mosviz)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/utils.py
Labels: mosviz, Ready for final review, backport-v3.1.x

#1889 support specreduce 1.3
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  setup.cfg
Labels: Ready for final review, specviz2d

#1897 Account for all layers in reset limits/zoom home
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/core/freezable_state.py
Labels: Ready for final review

#1924 remove line from code snippet suggesting we support per-line redshift
  docs/specviz/plugins.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1920 Do not set reference for Imviz
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/tests/test_viewers.py
Labels: bug, imviz, Ready for final review, backport-v3.1.x

#1929 Backport PR #1920 on branch v3.1.x (Do not set reference for Imviz)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/tests/test_viewers.py
Labels: bug, imviz, Ready for final review, backport-v3.1.x

#1915 don't reset redshift when adding results from plugins
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
Labels: bug, specviz, Ready for final review, backport-v3.1.x

#1930 Backport PR #1915: don't reset redshift when adding results from plugins
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
Labels: bug, specviz

#1931 Manual backport of pr 1880 on v3.1.x
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: bug, plugin

#1928 Fix viewer.center_on for dithered images
  CHANGES.rst
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/configs/imviz/tests/test_viewers.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/core/astrowidgets_api.py
Labels: bug, imviz, backport-v3.1.x

#1932 Minversion pin for asdf
  setup.cfg
Labels: bug, trivial, no-changelog-entry-needed, backport-v3.1.x

#1934 Backport PR #1932 on branch v3.1.x (Minversion pin for asdf)
  setup.cfg
Labels: bug, trivial, no-changelog-entry-needed, backport-v3.1.x

#1922 spectral extraction: background median vs average dropdown
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: Ready for final review, specviz2d

#1937 Exclude bad ipykernel version
  setup.cfg
Labels: bug, no-changelog-entry-needed, backport-v3.1.x

#1939 Backport PR #1937 on branch v3.1.x (Exclude bad ipykernel version)
  setup.cfg
Labels: bug, no-changelog-entry-needed, backport-v3.1.x

#1908 set bounding box to None to avoid layer cropping
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.vue
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/imviz/wcs_utils.py
  jdaviz/core/region_translators.py
  notebooks/concepts/imviz_dithered_gwcs.ipynb
Labels: imviz, Ready for final review, backport-v3.1.x

#1942 Manual backport PR #1908: set bounding box to None to avoid layer cropping
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.vue
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/imviz/wcs_utils.py
  notebooks/concepts/imviz_dithered_gwcs.ipynb
Labels: documentation, imviz, skip-changelog-checks, :shipit:

#1943 Remove redundant if statement introduced in PR 1908
  jdaviz/configs/imviz/plugins/parsers.py
Labels: imviz, trivial, no-changelog-entry-needed, backport-v3.1.x, :shipit:

#1944 Backport PR #1943 on branch v3.1.x (Remove redundant if statement introduced in PR 1908)
  jdaviz/configs/imviz/plugins/parsers.py
Labels: imviz, trivial, no-changelog-entry-needed, backport-v3.1.x, :shipit:

#1945 Use pixel_to_pixel in _get_real_xy method
  jdaviz/configs/imviz/plugins/viewers.py
Labels: imviz, no-changelog-entry-needed

#1947 model fitting tweaks and cleanup
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/initializers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: cubeviz, specviz, Ready for final review, plugin

#1941 do not interpret return from parsers as message
  jdaviz/app.py
Labels: Ready for final review, trivial, no-changelog-entry-needed
