Repository spacetelescope/jdaviz, pull requests merged in 2022-02, with the labels that each got.

#1062 MNT: Officially list matplotlib as dependency
  setup.cfg
Labels: Ready for final review, trivial, no-changelog-entry-needed

#1064 Rename helper test fixtures from 'app' to 'helper'
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/default/plugins/metadata_viewer/tests/test_metadata_viewer.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/imviz/tests/test_viewers.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/configs/mosviz/tests/test_parsers.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/conftest.py
  jdaviz/tests/test_show.py
  jdaviz/tests/test_viewer_ids.py
Labels: cubeviz, specviz, mosviz, testing, imviz, no-changelog-entry-needed

#1036 Redshift/line list optimization and minor fixes
  CHANGES.rst
  docs/mosviz/plugins.rst
  docs/specviz/plugins.rst
  docs/specviz/redshift.rst
  jdaviz/configs/default/plugins/line_lists/line_list_mixin.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/core/custom_traitlets.py
  jdaviz/core/marks.py
  jdaviz/core/spectral_line.py
Labels: specviz, Ready for final review

#1030 FEAT: Radial profile in Imviz simple aperture photometry plugin
  CHANGES.rst
  docs/imviz/plugins.rst
  docs/known_bugs.rst
  jdaviz/app.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/template_mixin.py
Labels: documentation, feature, imviz, Ready for final review

#983 Imviz compass
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/app.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/compass/__init__.py
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/configs/imviz/wcs_utils.py
  jdaviz/core/events.py
  licenses/GINGA_LICENSE.txt
  notebooks/ImvizExample.ipynb
  notebooks/concepts/imviz_compass_mpl.ipynb
Labels: documentation, imviz, Ready for final review

#1006 Remove dependency on spectral-cube
  .github/ISSUE_TEMPLATE/bug-report--cubeviz.md
  .github/ISSUE_TEMPLATE/bug-report--imviz.md
  .github/ISSUE_TEMPLATE/bug-report--mosviz.md
  .github/ISSUE_TEMPLATE/bug-report--specviz.md
  CHANGES.rst
  conftest.py
  docs/conf.py
  docs/cubeviz/import_data.rst
  docs/cubeviz/plugins.rst
  docs/dev/infrastructure.rst
  docs/dev/jdaviz.svg
  docs/img/collapse_plugin.png
  docs/img/glue-jupyter_diagram.png
  docs/img/glue-jupyter_diagram.xml
  docs/known_bugs.rst
  docs/notebook/import_data.rst
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/conftest.py
  jdaviz/tests/test_subsets.py
  notebooks/MosvizExample.ipynb
  setup.cfg
  tox.ini
Labels: documentation, cubeviz, testing, Ready for final review

#1072 fix: workaround for wrong CSS in lab
  jdaviz/app.vue
Labels: embed, Ready for final review, no-changelog-entry-needed

#1074 plugins: spectral_subset choice from "None" to "Entire Spectrum"
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: cubeviz, UI/UX😍, trivial, no-changelog-entry-needed

#1073 Line List Plugin: unit choices for custom lines
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/validunits.py
Labels: specviz, UI/UX😍, plugin

#1077 MNT: Bump bqplot minversion to 0.12.33
  jdaviz/app.vue
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#1078 Add app.get_tray_item_from_name() method for developers
  jdaviz/app.py
  jdaviz/tests/test_app.py
  jdaviz/tests/test_viewer_ids.py
Labels: testing, trivial, no-changelog-entry-needed

#1079 BUG: Allow custom line list in Hz
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
Labels: bug, specviz

#1093 TST: Silence specutils warning in fixture
  jdaviz/configs/mosviz/tests/test_helper.py
Labels: mosviz, trivial, no-changelog-entry-needed

#1092 BUG: Fix displayed decimals for X/Y centers in Imviz Simple Aperture Photometry plugin
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: bug, imviz, trivial, no-changelog-entry-needed

#1076 MNT: Unpin maxversion of idna
  setup.cfg
Labels: Ready for final review, trivial, no-changelog-entry-needed

#1056 Imviz: Load 3D slices, enable delayed_linking
  CHANGES.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
  notebooks/concepts/imviz_load_3d_slices.ipynb
Labels: documentation, feature, imviz, Ready for final review

#1098 DOC: Clarify Imviz load_data performance limitation
  docs/imviz/import_data.rst
  jdaviz/configs/imviz/helper.py
Labels: documentation, imviz, Ready for final review, trivial, no-changelog-entry-needed

#1096 Imviz: Aperture photometry plugin with viewer-agnostic data/subset dropdown menus
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: bug, imviz, Ready for final review

#1100 DOC: Use intersphinx in glue dev doc link
  docs/dev/ui_description.rst
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#1097 Imviz: Add a different radial profile approach
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  licenses/IMEXAM_LICENSE.txt
Labels: imviz, trivial, performance, no-changelog-entry-needed

#1104 BUG: Fix transposed moment result
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: bug, cubeviz, Ready for final review

#1105 box zoom: ignore click without drag events
  CHANGES.rst
  jdaviz/core/tools.py
Labels: bug, trivial

#1060 line analysis plugin: basic linear continuum support
  CHANGES.rst
  docs/specviz/plugins.rst
  jdaviz/app.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/__init__.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/core/marks.py
  setup.cfg
Labels: specviz, Ready for final review, plugin

#1119 MNT: Pin maxversion of glue-jupyter
  setup.cfg
Labels: Upstream fix required, :fire:, no-changelog-entry-needed

#1109 Simple Aperture Photometry Plugin: Auto-populate background
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  notebooks/concepts/imviz_simple_aper_phot.ipynb
Labels: documentation, imviz, Ready for final review

#1121 Add concept notebook to track jdaviz pypi metrics
  notebooks/concepts/pypi_metrics.ipynb
Labels: documentation, Ready for final review, no-changelog-entry-needed

#1120 Fix figure marks index error
  CHANGES.rst
  jdaviz/configs/specviz/plugins/viewers.py
Labels: bug, specviz

#1125 Fix bug for subsets not having the correct upper value
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/tests/test_subsets.py
Labels: bug, specviz, testing

#1127 MNT: Remove unused code from Imviz parser
  jdaviz/configs/imviz/plugins/parsers.py
Labels: imviz, Ready for final review, trivial, no-changelog-entry-needed

#1129 Imviz: Limit cube slices to 16
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: imviz, Ready for final review, no-changelog-entry-needed
