Repository spacetelescope/jdaviz, pull requests merged in 2022-07, with the labels that each got.

#1409 Simple Aperture Photometry: Gaussian1D fitting for radial profile
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  notebooks/concepts/imviz_simple_aper_phot.ipynb
Labels: enhancement, documentation, imviz, Ready for final review

#1449 Bump glue-core requirement to get bug fixes
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#965 Add show() method as preferred entrypoint
  CHANGES.rst
  docs/notebook/display.rst
  docs/notebook/index.rst
  docs/quickstart.rst
  jdaviz/configs/specviz/helper.py
  jdaviz/core/helpers.py
  jdaviz/tests/test_show.py
  notebooks/CubevizExample.ipynb
  notebooks/ImvizExample.ipynb
  notebooks/MosvizExample.ipynb
  notebooks/MosvizNIRISSExample.ipynb
  notebooks/SpecvizExample.ipynb
Labels: documentation, specviz, Ready for final review

#1400 Data menu visibility toggles
  CHANGES.rst
  docs/specviz/displaying.rst
  docs/specviz/img/data_tab.png
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/tooltip.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_data_menu.py
  jdaviz/container.vue
  jdaviz/core/template_mixin.py
Labels: specviz, embed, UI/UX😍

#1454 Update Chained Exception test from #965
  jdaviz/tests/test_show.py
Labels: documentation, specviz, testing, Ready for final review, trivial, no-changelog-entry-needed

#1452 mosviz gaussian smooth: only include data from spectrum-viewer
  CHANGES.rst
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
Labels: bug, mosviz, Ready for final review

#1445 BUG: Cubeviz coordinate display should follow top visible layer
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: bug, cubeviz, Ready for final review

#1450 Fix plugin linking in mosviz
  jdaviz/app.py
Labels: Ready for final review, no-changelog-entry-needed

#1447 BUG: Simple Aperture Photometry plugin to update when Subset updates
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
Labels: bug, imviz, Ready for final review

#1461 imviz tabs: hide popout button
  CHANGES.rst
  jdaviz/app.vue
Labels: bug, embed, UI/UX😍, trivial

#1464 Update docs packaging and build
  .readthedocs.yml
  MANIFEST.in
Labels: documentation, :fire:, no-changelog-entry-needed

#1470 Fix updating coordinate displaying when blinking via click
  CHANGES.rst
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/tests/test_linking.py
Labels: bug, imviz, trivial

#1472 Fix Cubeviz coordinates info display when Subset exists
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: bug, cubeviz, Ready for final review

#1474 in-line styling to avoid conflicts when embedding
  jdaviz/components/tray_plugin.vue
  jdaviz/container.vue
Labels: embed, UI/UX😍, trivial, no-changelog-entry-needed

#1468 DOC: Note about offline docs
  docs/index.rst
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#1475 Add Linux VM spectrum viewer problem to known bugs
  docs/known_bugs.rst
Labels: documentation, cubeviz, specviz, no-changelog-entry-needed

#1483 Add note about known tornado ioloop bug
  docs/known_bugs.rst
Labels: documentation, no-changelog-entry-needed

#1485 bump glue-jupyter minimum version
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#1465 Viewer/layer labels
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/plugin_subset_select.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.vue
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/container.vue
  jdaviz/core/template_mixin.py
Labels: embed, UI/UX😍, Ready for final review

#1480 Use CUNIT3 units by default
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
Labels: cubeviz, Upstream fix required, Ready for final review

#1507 fix setting plot options state when setting cmap through API
  CHANGES.rst
  jdaviz/core/template_mixin.py
Labels: bug, imviz, trivial, plugin

#1495 Hide Cubeviz import button after importing data
  CHANGES.rst
  jdaviz/app.vue
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/data_tools/data_tools.vue
  jdaviz/configs/mosviz/helper.py
Labels: cubeviz, mosviz, embed

#1511 Attempted first draft of citation instructions
  README.rst
  docs/index.rst
Labels: documentation, discussion, trivial, no-changelog-entry-needed

#1499 Fix coordinates panel bug for Imviz
  CHANGES.rst
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  notebooks/concepts/imviz_load_fits_hdu.ipynb
Labels: bug, documentation, imviz, Ready for final review

#1481 Informative error msg for unsupported shells on show()
  CHANGES.rst
  jdaviz/core/helpers.py
  jdaviz/tests/test_show.py
Labels: Ready for final review

#1501 Cubeviz spectral subset tweaks
  CHANGES.rst
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/core/template_mixin.py
Labels: UI/UX😍, Ready for final review

#1520 Update changelog for 2.8.0 release
  CHANGES.rst
Labels: no-changelog-entry-needed

#1503 Implement popout location in show()
  CHANGES.rst
  docs/display.rst
  jdaviz/core/helpers.py
  setup.cfg
Labels: Ready for final review

#1526 Add workaround for Spectrum1D GWCS links
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
Labels: bug, specviz, :fire:, Ready for final review

#819 Parse NIRISS data files by header instead of name
  CHANGES.rst
  docs/mosviz/import_data.rst
  jdaviz/configs/mosviz/plugins/parsers.py
Labels: mosviz, discussion, Ready for final review

#1527 Updated broken sample notebook link
  docs/sample_notebooks.rst
Labels: documentation, trivial, skip-changelog-checks

#1529 Fixed typo in boilerplate code
  docs/dev/ui_style_guide.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1531 Correct the linking for 1D model results in Cubeviz
  CHANGES.rst
  jdaviz/app.py
Labels: bug, cubeviz

#1523 Created CITATION.cff
  CITATION.cff
  docs/dev/release.rst
Labels: documentation, no-changelog-entry-needed
