Repository spacetelescope/jdaviz, pull requests merged in 2022-06, with the labels that each got.

#1349 Update Import button and add further workflow clarifications
  docs/conf.py
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/img/cubeviz_import_data.png
  docs/cubeviz/img/data_tab_radio.png
  docs/cubeviz/img/data_tab_with_2_data.png
  docs/cubeviz/import_data.rst
  docs/img/icons/viewer_data_select.png
  docs/imviz/import_data.rst
  docs/specviz/displaying.rst
  docs/specviz/img/data_selected_1.png
  docs/specviz/img/data_tab.png
  docs/specviz/img/import_data_1.png
  docs/specviz/img/import_data_2.png
  docs/specviz/img/spec_viewer_with_data.png
  docs/specviz/img/specviz_viewer.png
  docs/specviz/import_data.rst
  jdaviz/components/tooltip.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/configs/default/plugins/data_tools/data_tools.vue
Labels: documentation, UI/UX😍, Ready for final review, no-changelog-entry-needed

#1370 Cubeviz: Use add_data API for spaxel spectrum
  jdaviz/configs/cubeviz/plugins/tools.py
Labels: cubeviz, trivial, no-changelog-entry-needed

#1365 BUG: Fix Imviz linking data from file chooser
  CHANGES.rst
  jdaviz/configs/default/plugins/data_tools/data_tools.py
Labels: bug, imviz, Ready for final review

#1344 MNT: Future-proof spectrum redshift setter
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  setup.cfg
Labels: specviz, trivial, no-changelog-entry-needed

#1377 Use subsets for spectrum-at-spaxel tool
  CHANGES.rst
  docs/cubeviz/displaycubes.rst
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/tools.py
Labels: enhancement, documentation, cubeviz, Ready for final review

#1386 Change default image viewer percentile to 95%
  CHANGES.rst
  jdaviz/app.py
Labels: cubeviz, mosviz, imviz, Ready for final review

#1385 DOC: Fix Imviz Contrast/Bias doc and other minor updates
  docs/conf.py
  docs/cubeviz/displaycubes.rst
  docs/img/icons/blink.png
  docs/img/icons/hammer_and_screwdriver.png
  docs/img/icons/region_rect.png
  docs/img/icons/white_to_black.png
  docs/imviz/displayimages.rst
  docs/imviz/plugins.rst
  docs/specviz/displaying.rst
Labels: bug, documentation, trivial, no-changelog-entry-needed

#1373 DEV: Allow symlink in Windows for editable install
  setup.py
Labels: no-changelog-entry-needed

#1391 DOC: Add Jupyter Lab IndexError as known issue upstream
  docs/known_bugs.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1390 improve data menu for long labels
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
Labels: UI/UX😍, trivial

#1396 TST: Update test results for HST/DRZ parser
  jdaviz/configs/imviz/tests/test_parser.py
Labels: imviz, :fire:, Ready for final review, trivial, no-changelog-entry-needed

#1387 TST: Fix numpy nightly wheel install for dev job
  tox.ini
Labels: testing, Ready for final review, trivial, no-changelog-entry-needed

#1388 Line Lists: Success message in plugin
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
Labels: specviz, Ready for final review, trivial, no-changelog-entry-needed

#1380 default width of subset for spectral vs spatial
  CHANGES.rst
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/helpers.py
Labels: cubeviz, Ready for final review

#1368 Set popup verbosity to warnings
  CHANGES.rst
  jdaviz/app.py
  jdaviz/cli.py
  jdaviz/core/helpers.py
  notebooks/concepts/imviz_compass_mpl.ipynb
  notebooks/concepts/imviz_line_profiles.ipynb
  notebooks/concepts/imviz_load_3d_slices.ipynb
  notebooks/concepts/imviz_simple_aper_phot.ipynb
Labels: enhancement, documentation, Ready for final review

#1389 CLI: Replace click with argparse
  conftest.py
  jdaviz/cli.py
  jdaviz/conftest.py
  setup.cfg
Labels: testing, Ready for final review, no-changelog-entry-needed

#1392 BUG: Imviz bug fixes ported from PR 1340
  CHANGES.rst
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: bug, imviz, Ready for final review

#1403 contrast-bias tool: debounce instead of reject based on time
  CHANGES.rst
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/tests/test_viewer_tools.py
Labels: bug, imviz, Ready for final review

#1378 Display compound subset info in subset plugin
  CHANGES.rst
  docs/specviz/plugins.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/tests/test_subsets.py
Labels: Ready for final review, plugin

#1393 Doc Changes for June 2022
  docs/img/plugins.jpg
  docs/img/toolbar.jpg
  docs/imviz/displayimages.rst
  docs/imviz/examples.rst
  docs/imviz/import_data.rst
  docs/imviz/index.rst
  docs/imviz/notebook.rst
  docs/imviz/plugins.rst
  docs/index.rst
  docs/installation.rst
  docs/notebook/export_data.rst
  docs/notebook/index.rst
  docs/quickstart.rst
  notebooks/ImvizExample.ipynb
Labels: documentation, Ready for final review, no-changelog-entry-needed

#1406 Rename One Color Per Layer to Monochromatic
  CHANGES.rst
  jdaviz/core/template_mixin.py
Labels: cubeviz, mosviz, UI/UX😍, imviz, Ready for final review

#1410 Concept notebook to show custom colormap
  notebooks/concepts/imviz_custom_colormap.ipynb
Labels: documentation, imviz, trivial, no-changelog-entry-needed

#1407 Add reversed colormaps
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
Labels: imviz, Ready for final review

#1415 DOC: Improve install instructions
  docs/installation.rst
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#1416 DOC: Filter markers for large catalogs
  docs/imviz/import_data.rst
Labels: documentation, imviz, Ready for final review, trivial, no-changelog-entry-needed

#1423 popout plugins
  CHANGES.rst
  docs/dev/ui_style_guide.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/plugin_popout.vue
  jdaviz/components/tooltip.vue
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, mosviz, UI/UX😍, imviz, Ready for final review

#1431 BUG: Fix HeI-HeII data file
  CHANGES.rst
  jdaviz/data/linelists/HeI-HeII.csv
Labels: bug, trivial

#1437 display/clear progress snackbars regardless of verbosity
  CHANGES.rst
  jdaviz/utils.py
Labels: bug, cubeviz, trivial

#1412 Fix plugin linking
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: bug, cubeviz, Ready for final review
