Repository spacetelescope/jdaviz, pull requests merged in 2022-05, with the labels that each got.

#1224 Imviz: Annulus background for photometry
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/utils.py
Labels: documentation, feature, imviz, Ready for final review

#1275 Line analysis tests
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
Labels: specviz, testing, Ready for final review, no-changelog-entry-needed

#1274 tie sidebar to orange hamburger button
  jdaviz/app.vue
Labels: embed, UI/UX😍, Ready for final review, trivial, no-changelog-entry-needed

#1283 Bump bqplot-image-gl version to get bug fixes
  setup.cfg
Labels: documentation, trivial, no-changelog-entry-needed

#1286 Add WCS information to cubeviz docs
  docs/cubeviz/import_data.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed

#1290 DOC: Minor fixes
  docs/cubeviz/import_data.rst
  jdaviz/core/region_translators.py
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#1297 DOC: python requirements in install instructions
  docs/installation.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1300 uncertainty rounding component: smarter default if uncertainty isn't passed at all
  jdaviz/components/number_uncertainty.vue
Labels: trivial, no-changelog-entry-needed

#1301 line selection: improve dark theme support
  jdaviz/app.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
Labels: specviz, embed, UI/UX😍, Ready for final review, trivial, no-changelog-entry-needed

#1295 DOC: model fitting updates
  docs/cubeviz/plugins.rst
  docs/specviz/plugins.rst
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#1303 TST: Update workflow versions
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/open_actions.yml
  .github/workflows/publish.yml
Labels: testing, Ready for final review, trivial, no-changelog-entry-needed

#1293 BUG: Fix Line Profile not handling dithered data in Imviz
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/viewers.py
Labels: bug, documentation, imviz, Ready for final review

#1287 Imviz: Curve of growth plot
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
Labels: enhancement, documentation, imviz, Ready for final review

#1304 TST: Cancel duplicate CI builds
  .github/workflows/changelog_check.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/publish.yml
Labels: testing, Ready for final review, trivial, no-changelog-entry-needed

#1289 DOC: release-versioned links to GH notebooks
  docs/conf.py
  docs/cubeviz/index.rst
  docs/imviz/index.rst
  docs/mosviz/index.rst
  docs/quickstart.rst
  docs/sample_notebooks.rst
  docs/specviz/index.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed

#1292 Add subset plugin
  CHANGES.rst
  docs/cubeviz/plugins.rst
  docs/imviz/plugins.rst
  docs/mosviz/plugins.rst
  docs/specviz/plugins.rst
  jdaviz/components/tooltip.vue
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/default/default.yaml
  jdaviz/configs/default/plugins/__init__.py
  jdaviz/configs/default/plugins/subset_plugin/__init__.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_subsets.py
Labels: enhancement, Ready for final review, plugin

#1308 Pin to last working version of bqplot-image-gl
  setup.cfg
Labels: Upstream fix required, trivial, no-changelog-entry-needed

#1310 MNT: Bump minversion of bqplot-image-gl
  setup.cfg
Labels: no-changelog-entry-needed

#1311 DOC: Update RTD env
  .readthedocs.yml
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#1307 BUG: Fix specviz2d traceback for NIRSpec s2d data
  CHANGES.rst
  jdaviz/configs/specviz2d/helper.py
Labels: bug, specviz, mosviz, Ready for final review

#1305 Improve test coverage of model fit plugin
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: Ready for final review, no-changelog-entry-needed

#1321 TST: Ignore same imageio warning in a different way
  setup.cfg
Labels: testing, :fire:, Ready for final review, trivial, no-changelog-entry-needed

#1322 Fixing clearing identified spectral line when removed
  CHANGES.rst
  jdaviz/configs/specviz/plugins/viewers.py
Labels: bug, specviz, trivial

#1315 Cubeviz image viewer coordinates display
  CHANGES.rst
  docs/cubeviz/displaycubes.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: enhancement, documentation, cubeviz, Ready for final review

#1318 BUG: Avoid crashing when line list is removed
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
Labels: bug, cubeviz, specviz, Ready for final review

#1319 Imviz click to center in pan/zoom
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
Labels: enhancement, imviz, Ready for final review

#1212 MNT: Bump voila minversion
  setup.cfg
Labels: Ready for final review, trivial, no-changelog-entry-needed

#1314 BUG: Imviz to handle GWCS Lon/Lat in add_markers
  CHANGES.rst
  jdaviz/configs/imviz/tests/data/miri_i2d_lonlat_gwcs.asdf
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/core/astrowidgets_api.py
  setup.cfg
Labels: bug, imviz, Ready for final review

#1325 ENH: Cubeviz metadata viewer
  CHANGES.rst
  docs/cubeviz/plugins.rst
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
  jdaviz/configs/default/plugins/metadata_viewer/tests/test_metadata_viewer.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/mosviz/tests/test_parsers.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/configs/specviz2d/plugins/parsers.py
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/configs/specviz2d/tests/__init__.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/conftest.py
  jdaviz/tests/test_metadata.py
  jdaviz/utils.py
Labels: cubeviz

#1331 Metadata Viewer: Doc and styling
  docs/cubeviz/plugins.rst
  docs/imviz/plugins.rst
  docs/mosviz/plugins.rst
  docs/specviz/plugins.rst
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
Labels: documentation, Ready for final review, no-changelog-entry-needed

#1061 TST: Unpin coverage and see if 6.4 works
  tox.ini
Labels: testing, Ready for final review, trivial, no-changelog-entry-needed

#1332 BUG: aperture sum counted npix twice
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: bug, documentation, imviz, :fire:

#1342 BUG: Metadata viewer to ignore invalid FITS header
  jdaviz/utils.py
Labels: bug, trivial, no-changelog-entry-needed

#1333 Cubeviz cube fitting: Fix fitted cube all zeroes, allow MP bypass
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: bug, cubeviz, Ready for final review

#1350 DOC: Of Imviz and datamodels
  docs/imviz/import_data.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed
