Repository spacetelescope/jdaviz, pull requests merged in 2022-09, with the labels that each got.

#1619 mosviz niriss parser: transpose R 2d spectra
  CHANGES.rst
  jdaviz/configs/mosviz/plugins/parsers.py
Labels: bug, mosviz, Ready for final review

#1628 MNT: Upgrade actions/setup-python to v4
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/publish.yml
Labels: testing, Ready for final review, trivial, no-changelog-entry-needed

#1583 Add Spatial Collapsed Spectrum selection to Line Analysis
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
Labels: cubeviz, specviz, Ready for final review

#1564 Perform corrections to Line Analysis Flux Results
  CHANGES.rst
  docs/specviz/plugins.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
  jdaviz/conftest.py
Labels: specviz, Upstream fix required

#1524 Fix aperture photometry result for WCS linked dithered non-reference data
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
Labels: bug, imviz, Ready for final review

#1632 Catch known test warning
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
Labels: bug, specviz, trivial, no-changelog-entry-needed

#1603 Attempted to improve clarity across docs
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/import_data.rst
  docs/imviz/displayimages.rst
  docs/imviz/import_data.rst
  docs/imviz/plugins.rst
  docs/mosviz/index.rst
  docs/save_state.rst
  docs/specviz/import_data.rst
  docs/specviz/index.rst
  docs/specviz/plugins.rst
  docs/specviz2d/import_data.rst
Labels: documentation, no-changelog-entry-needed

#1572 spectral-extraction: support for optimal extraction
  CHANGES.rst
  docs/specviz2d/plugins.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: Ready for final review, specviz2d

#1642 user API for moment maps plugin
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
Labels: cubeviz, Ready for final review

#1643 user API for compass plugin
  CHANGES.rst
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/compass/tests/__init__.py
  jdaviz/configs/imviz/plugins/compass/tests/test_compass.py
  jdaviz/configs/imviz/tests/test_helper.py
  jdaviz/core/user_api.py
Labels: imviz

#1636 (minimal) user API for catalog search
  CHANGES.rst
  docs/reference/api.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
Labels: imviz, Ready for final review

#1641 user API for collapse plugin
  CHANGES.rst
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/collapse.vue
Labels: Ready for final review

#1624 fix subset layer default behavior
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/viewers.py
Labels: bug, Ready for final review

#1634 user API for metadata viewer plugin
  CHANGES.rst
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
Labels: Ready for final review

#1650 DEV: Clarify change log policy
  .github/PULL_REQUEST_TEMPLATE.md
Labels: trivial, no-changelog-entry-needed

#1630 Use spectrum's uncertainty as weight when doing model fitting
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: Ready for final review

#1644 BUG: Allow data_label as pos arg
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/helpers.py
Labels: bug, testing, imviz, Ready for final review

#1660 fix: invoking classList on null
  jdaviz/app.vue
Labels: bug, embed, trivial, no-changelog-entry-needed

#1662 use canonical filename of RTD configuration
  .github/labeler.yml
  .readthedocs.yaml
Labels: documentation, trivial, no-changelog-entry-needed

#1663 MNT: Bump bqplot minversion
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#1648 Suppress Units warnings from Line Analysis plugin
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
Labels: specviz, Ready for final review, plugin

#1646 Update Cubeviz to have three viewers and repositioning
  CHANGES.rst
  docs/display.rst
  jdaviz/app.vue
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/container.vue
  jdaviz/core/helpers.py
  jdaviz/core/tests/test_template_mixin.py
  jdaviz/tests/test_viewer_ids.py
Labels: enhancement, cubeviz, UI/UX😍

#1674 Color cycle specviz
  CHANGES.rst
  jdaviz/app.py
  jdaviz/utils.py
Labels: specviz, Ready for final review

#1637 user API for plot options
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: Ready for final review

#1658 user API for model fitting plugin
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: Ready for final review, plugin

#1683 Add Overwrite Warning to Moment Map Plugin
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: cubeviz, Ready for final review

#1556 spectral-extraction: support import/export trace via glue-astronomy
  CHANGES.rst
  docs/specviz2d/plugins.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, specviz2d

#1608 Specviz2d to parse NIRSpec level 2 s2d
  CHANGES.rst
  jdaviz/configs/default/plugins/data_tools/data_tools.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/configs/specviz2d/tests/test_parsers.py
  setup.cfg
Labels: bug, mosviz, Ready for final review, specviz2d

#1684 Follow up of PR 1683
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: cubeviz, Ready for final review, trivial

#1647 Imviz: Alt-click to create single-pixel region
  CHANGES.rst
  docs/cubeviz/displaycubes.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/core/tools.py
  jdaviz/data/icons/select_single_pixel.svg
Labels: documentation, imviz, Ready for final review

#1640 user API for links control
  CHANGES.rst
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/tests/test_links_control.py
Labels: imviz, Ready for final review

#1673 Attach select menus
  CHANGES.rst
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/plugin_subset_select.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/data/linelists/linelist_metadata.json
Labels: specviz, imviz, Ready for final review, specviz2d

#1685 remove validation for model equation length
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: bug, cubeviz, specviz, Ready for final review, plugin, specviz2d

#1657 user API for export plot plugin
  CHANGES.rst
  jdaviz/configs/default/plugins/export_plot/export_plot.py
Labels: Ready for final review, plugin

#1639 user API for spectral extraction
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: Ready for final review, specviz2d

#1687 Fix changelog for PR 1638
  CHANGES.rst
Labels: bug, documentation, trivial, skip-changelog-checks

#1688 DOC: Imviz plot options example with select all
  notebooks/concepts/imviz_load_fits_hdu.ipynb
Labels: documentation, imviz, trivial, no-changelog-entry-needed
