Repository spacetelescope/jdaviz, pull requests merged in 2022-03, with the labels that each got.

#1133 Fix simple aperture photometry j-docs-link URL
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
Labels: bug, imviz, Ready for final review, trivial, no-changelog-entry-needed

#1130 Disable Unit Conversion plugin if Subset exists
  CHANGES.rst
  docs/dev/ui_style_guide.rst
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/core/template_mixin.py
Labels: documentation, specviz, Ready for final review

#1135 MNT: Remove build_docs in tox
  setup.py
  tox.ini
Labels: documentation, testing, trivial, no-changelog-entry-needed

#1014 Specviz: load a SpectrumList and combine everything
  CHANGES.rst
  docs/specviz/img/spectrumlist_combined.png
  docs/specviz/import_data.rst
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/tests/test_helper.py
  notebooks/concepts/Specviz_from_List.ipynb
Labels: documentation, specviz, Ready for final review

#1137 MNT: Remove unused minversion check
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/core/astrowidgets_api.py
Labels: specviz, mosviz, Ready for final review, trivial, no-changelog-entry-needed

#1139 Preparing release v2.3.0
  CHANGES.rst
Labels: trivial, no-changelog-entry-needed

#1136 Change simple photometry plot color to magenta
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: imviz, no-changelog-entry-needed

#1124 MNT: Bump glue-jupyter minversion pinning to 0.11.1
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#1143 Update Specviz GUI data loading docs
  docs/specviz/img/data_selected_1.png
  docs/specviz/img/import_data_1.png
  docs/specviz/img/import_data_2.png
  docs/specviz/img/import_data_3.png
  docs/specviz/img/specviz_viewer.png
  docs/specviz/import_data.rst
Labels: documentation, specviz, Ready for final review, no-changelog-entry-needed

#1148 DOC: Radial profile text and screenshots
  docs/imviz/img/imviz_radial_profile.png
  docs/imviz/img/imviz_radial_profile_raw.png
  docs/imviz/plugins.rst
Labels: documentation, imviz, Ready for final review, trivial, no-changelog-entry-needed

#1149 bump bqplot version to fix slice indicator drag event
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#1140 Nested viewer toolbars
  CHANGES.rst
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/plugins.rst
  docs/imviz/plugins.rst
  docs/mosviz/plugins.rst
  docs/specviz/displaying.rst
  docs/specviz/plugins.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/__init__.py
  jdaviz/components/toolbar_nested.py
  jdaviz/components/toolbar_nested.vue
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/default.yaml
  jdaviz/configs/default/plugins/__init__.py
  jdaviz/configs/default/plugins/export_plot/__init__.py
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/default/plugins/plot_options/__init__.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/container.vue
  jdaviz/core/tools.py
  jdaviz/data/icons/compass.svg
  jdaviz/data/icons/image.svg
  jdaviz/data/icons/save.svg
  jdaviz/data/icons/tune.svg
Labels: cubeviz, specviz, embed, Ready for final review

#1101 Astrowidgets API: Allow unfilled circles
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/core/astrowidgets_api.py
  notebooks/ImvizExample.ipynb
Labels: documentation, imviz, Ready for final review

#1134 Disable support for per-line/list redshift
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_list_mixin.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/specviz/plugins/viewers.py
Labels: specviz, Ready for final review

#1153 Mixin for plugin_opened and use for compass
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/core/registries.py
  jdaviz/core/template_mixin.py
Labels: specviz, imviz, Ready for final review, performance, no-changelog-entry-needed

#1158 DOCS: Update cubeviz slice docs
  docs/cubeviz/img/slice_plugin.png
  docs/cubeviz/plugins.rst
Labels: documentation, cubeviz, trivial, no-changelog-entry-needed

#1163 Update Specviz docs with box zoom explanation
  docs/conf.py
  docs/cubeviz/displaycubes.rst
  docs/img/icons/box_zoom.png
  docs/img/icons/xrange_zoom.png
  docs/specviz/displaying.rst
  docs/specviz/img/box_zoom.png
  docs/specviz/img/zoom_tool_select.png
Labels: documentation, trivial, no-changelog-entry-needed

#1154 Fix data linking to allow contour over-plotting
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
Labels: bug, cubeviz, Ready for final review

#1161 DOCS: mosviz table/redshift manipulation
  docs/mosviz/redshift.rst
  notebooks/MosvizNIRISSExample.ipynb
Labels: documentation, mosviz, trivial, no-changelog-entry-needed

#1173 TST: Test against bqplot 0.12.x
  tox.ini
Labels: testing, Ready for final review, trivial, no-changelog-entry-needed

#1156 re-usable spectral subset dropdown component with color indicator
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/plugin_subset_select.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_template_mixin.py
Labels: cubeviz, specviz, UI/UX😍, plugin

#1160 Move export plot plugin to last in the listing
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/default/default.yaml
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz2d/specviz2d.yaml
Labels: cubeviz, specviz, mosviz, imviz, Ready for final review, trivial, no-changelog-entry-needed

#1176 Fix model fitting plugin bugs
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: bug, cubeviz, specviz, Ready for final review

#1178 BUG: Fix load data after imviz.app does not show last loaded data
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: bug, imviz, Ready for final review

#1164 BUG: Surviving Data in viewer must be visible
  CHANGES.rst
  jdaviz/app.py
Labels: bug, imviz, Ready for final review

#1115 Interactive line identification
  CHANGES.rst
  docs/conf.py
  docs/img/icons/line_select.png
  docs/mosviz/redshift.rst
  docs/specviz/plugins.rst
  docs/specviz/redshift.rst
  jdaviz/app.vue
  jdaviz/components/toolbar_nested.py
  jdaviz/components/tooltip.vue
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/core/events.py
  jdaviz/core/marks.py
  jdaviz/core/tools.py
  jdaviz/data/icons/line_select.svg
  jdaviz/data/icons/line_select_disabled.svg
Labels: specviz, UI/UX😍, Ready for final review

#1184 Cubeviz: Fix notebook typo
  notebooks/CubevizExample.ipynb
Labels: bug, documentation, Ready for final review, trivial, no-changelog-entry-needed

#1185 MNT: Rename and clean concept notebooks
  notebooks/concepts/Example_fitting.ipynb
  notebooks/concepts/Mosviz concept notebook.ipynb
  notebooks/concepts/README.md
  notebooks/concepts/concept_programmatic_viewers_from_blank_default.ipynb
  notebooks/concepts/cubeviz_contour_overlay.ipynb
  notebooks/concepts/cubeviz_data_interactions.ipynb
  notebooks/concepts/cubeviz_fitting.ipynb
  notebooks/concepts/cubeviz_spectral_fitting.ipynb
  notebooks/concepts/cubeviz_spectral_spatial_interactions.ipynb
  notebooks/concepts/default_programmatic_viewers_from_blank.ipynb
  notebooks/concepts/mosviz_concept.ipynb
  notebooks/concepts/mosviz_generate_photometry.ipynb
  notebooks/concepts/mosviz_niriss_parser.ipynb
  notebooks/concepts/mosviz_overplot_slit.ipynb
  notebooks/concepts/specviz_from_list.ipynb
  notebooks/concepts/specviz_from_splot.ipynb
  notebooks/concepts/specviz_line_lists.ipynb
  notebooks/concepts/specviz_minimal.ipynb
  notebooks/concepts/specviz_spectrum_list.ipynb
  notebooks/concepts/specviz_unit_conversion.ipynb
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#1191 Update pull request checklist entry
  .github/PULL_REQUEST_TEMPLATE.md
Labels: trivial, no-changelog-entry-needed

#1132 Imviz line profile plots
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/line_profile_xy/__init__.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_line_profile_xy.py
  notebooks/concepts/imviz_line_profiles.ipynb
Labels: documentation, imviz, :fire:, Ready for final review

#1193 MNT: Pin maxversion of Jinja2 until voila catches up
  setup.cfg
Labels: :fire:, trivial, no-changelog-entry-needed

#1198 MNT: Fix package data definition
  setup.cfg
Labels: bug, :fire:, trivial, no-changelog-entry-needed

#1201 MNT: Clean package manifest
  MANIFEST.in
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#1138 Translator for regions and photutils
  CHANGES.rst
  docs/conf.py
  docs/dev/jdaviz.svg
  docs/imviz/plugins.rst
  docs/reference/api.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/conftest.py
  jdaviz/core/region_translators.py
  jdaviz/core/tests/test_region_translators.py
  notebooks/concepts/imviz_simple_aper_phot.ipynb
  setup.cfg
  tox.ini
Labels: documentation, testing, imviz, :fire:, Ready for final review

#1204 MNT: Update dependencies in bug report templates
  .github/ISSUE_TEMPLATE/bug-report--cubeviz.md
  .github/ISSUE_TEMPLATE/bug-report--imviz.md
  .github/ISSUE_TEMPLATE/bug-report--mosviz.md
  .github/ISSUE_TEMPLATE/bug-report--specviz.md
Labels: Ready for final review, trivial, no-changelog-entry-needed

#1189 Add UI option to show uncertainties in specviz viewer
  CHANGES.rst
  docs/cubeviz/plugins.rst
  docs/specviz/plugins.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/marks.py
Labels: specviz, :fire:

#1175 generalize subset select component to handle spatial and spectral
  CHANGES.rst
  jdaviz/components/plugin_subset_select.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, imviz, Ready for final review

#1205 Split out subset update handling in line analysis
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/tests/test_helper.py
Labels: bug, specviz, :fire:

#1206 MNT: Update code owners
  .github/CODEOWNERS
Labels: Ready for final review, trivial, no-changelog-entry-needed

#1192 line-analysis: expose uncertainties when provided
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
Labels: specviz, Ready for final review, plugin

#1195 re-usable component for viewer dropdown
  jdaviz/app.py
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_template_mixin.py
  jdaviz/core/tools.py
Labels: imviz, Ready for final review, no-changelog-entry-needed, plugin

#1208 Per viewer uncertainty toggle
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: imviz, :fire:, Ready for final review, plugin

#1216 fix gaussian smooth "plot in viewer" visibility logic
  CHANGES.rst
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
Labels: bug, cubeviz, trivial
