Repository spacetelescope/jdaviz, pull requests merged in 2022-10, with the labels that each got.

#1689 BUG: Fix model fitting crashing when param is fixed
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: bug, specviz, Ready for final review

#1652 spectral-extraction: support floats when possible
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  setup.cfg
Labels: Upstream fix required, trivial, specviz2d

#1691 Disable Line Lists when there is no data
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
Labels: bug, specviz, Ready for final review

#1700 subset plugin: fix IndexError
  CHANGES.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/tests/__init__.py
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
Labels: bug, plugin

#1701 plugin components support for == and != comparisons
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: api, plugin

#1702 collapse plugin: rename "method" to "function"
  CHANGES.rst
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/collapse.vue
Labels: api, Ready for final review, plugin

#1708 plugin select: fix select_default behavior
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
Labels: bug, api, trivial, plugin

#1696 Filter HDUs before loading to SpectrumList
  CHANGES.rst
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: bug, mosviz, Ready for final review, performance

#1714 Update Citations file for 3.0.1, to be backported
  CITATION.cff
Labels: bug, documentation, no-changelog-entry-needed

#1715 Add Brett to list of code owners
  .github/CODEOWNERS
Labels: no-changelog-entry-needed

#1681 Generalize the viewer ID machinery for nonstandard names
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/tests/test_data_retrieval.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/line_lists/line_list_mixin.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/plugins/parsers.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/core/registries.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_app.py
  jdaviz/tests/test_viewer_ids.py
Labels: specviz, testing

#1672 Centralize data label generation
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz2d/plugins/parsers.py
  jdaviz/tests/test_app.py
Labels: cubeviz, specviz, imviz, Ready for final review, specviz2d

#1722 fix padding in logger overlay for non-dense top bar
  CHANGES.rst
  jdaviz/app.vue
Labels: bug, embed, UI/UX😍, trivial, specviz2d

#1717 BUG: Specviz2d to load both s2d and x1d when both provided separately
  CHANGES.rst
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
Labels: bug, Ready for final review, specviz2d

#1704 DOC: Add plot options API examples for Imviz
  docs/imviz/displayimages.rst
Labels: documentation, imviz, Ready for final review, no-changelog-entry-needed

#1679 remove BasicJupyterToolbar instance to avoid conflicts
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/toolbar_nested.py
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/configs/imviz/tests/test_viewer_tools.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/container.vue
  jdaviz/core/tools.py
  setup.cfg
Labels: bug, cubeviz, specviz, mosviz, embed, imviz, Ready for final review

#1736 TST: Skip test with missing file
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: testing, no-changelog-entry-needed, specviz2d

#1724 skip viewer.add_data if already in viewer
  CHANGES.rst
  jdaviz/app.py
  jdaviz/core/tests/test_data_menu.py
Labels: bug, Ready for final review

#1707 Catalogs plugin: support loading catalog from ecsv
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/default/plugins/data_tools/data_tools.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: imviz, plugin

#1718 fix: workaround for blank tabbed viewers after selection
  CHANGES.rst
  jdaviz/app.vue
Labels: bug, embed

#1731 BUG: Fix crashing in Compass when data is loaded while it is open
  CHANGES.rst
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/tests/test_tools.py
Labels: bug, imviz, Ready for final review

#1725 Label-based lookups in [add/remove]_data_from_viewer
  CHANGES.rst
  jdaviz/app.py
Labels: bug, api, Ready for final review

#1741 Bugfix for #1740: add/remove data from user-created viewer
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/tests/test_helper.py
Labels: bug, imviz, Ready for final review

#1743 Fix Zenodo link to always resolve latest version
  CHANGES.rst
  docs/index.rst
Labels: documentation

#1750 Change RA/Dec significant figures from 4 to 6 in aperture photometry plugin
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: imviz

#1738 spectral extraction: improved logic for initial position of "Manual" background trace
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
Labels: Ready for final review, specviz2d

#1752 TST: remote data in dev deps test
  .github/workflows/ci_workflows.yml
  jdaviz/configs/specviz/tests/test_helper.py
Labels: specviz, testing, trivial, no-changelog-entry-needed

#1754 Backport PR #1752 on branch v3.0.x (TST: remote data in dev deps test)
  .github/workflows/ci_workflows.yml
  jdaviz/configs/specviz/tests/test_helper.py
Labels: specviz, testing, trivial, no-changelog-entry-needed

#1682 spectral extraction: live-preview and export of background spectrum
  CHANGES.rst
  docs/specviz2d/plugins.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: Ready for final review, specviz2d

#1756 TST: Use new remote data for test_spectrum_on_top
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: testing, Ready for final review, trivial, no-changelog-entry-needed, specviz2d

#1757 TST: Offline Catalogs ECSV test
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: testing, imviz, trivial, no-changelog-entry-needed

#1761 Correcting Zenodo link in readme
  README.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1733 DOC: Improve and fix Cubeviz docs for displaycubes and import_data
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/import_data.rst
Labels: bug, documentation, trivial, no-changelog-entry-needed

#1764 Update to new MAST URIs in example notebooks
  notebooks/CubevizExample.ipynb
  notebooks/SpecvizExample.ipynb
Labels: documentation, cubeviz, specviz, Ready for final review, trivial, no-changelog-entry-needed, backport-v3.0.x

#1705 Enable loading specific extension for 2D spectrum in Specviz2d
  CHANGES.rst
  docs/specviz2d/import_data.rst
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
Labels: mosviz, specviz2d

#1769 BUG: Fix astropy version check for filter_non_finite in modeling within aper phot plugin
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: bug, imviz, trivial, backport-v3.0.x

#1770 Backport PR #1769 on branch v3.0.x (BUG: Fix astropy version check for filter_non_finite in modeling within aper phot plugin)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: bug, imviz, trivial, skip-changelog-checks, backport-v3.0.x

#1734 BUG: Better Cubeviz support for Spectrum1D without WCS
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_data_retrieval.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/core/validunits.py
  notebooks/concepts/cubeviz_wfc3ir_ramp.ipynb
Labels: bug, documentation, cubeviz, specviz, Ready for final review

#1772 BUG: Fix baby shark loading in Imviz concept notebook for image slices
  notebooks/concepts/imviz_load_3d_slices.ipynb
Labels: bug, documentation, imviz, trivial, no-changelog-entry-needed

#1721 Update PR template to account for new branched release model
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, no-changelog-entry-needed

#1778 fix nested toolbar in specviz2d/mosviz 2d profile viewer
  CHANGES.rst
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/viewers.py
Labels: bug, mosviz, UI/UX😍, trivial, specviz2d, backport-v3.0.x

#1779 Backport PR #1778 on branch v3.0.x (fix nested toolbar in specviz2d/mosviz 2d profile viewer)
  CHANGES.rst
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/viewers.py
Labels: bug, mosviz, UI/UX😍, trivial, specviz2d, backport-v3.0.x

#1777 feat: remove vue_relayout, this is no longer needed
  jdaviz/app.py
  jdaviz/app.vue
Labels: embed, Ready for final review, performance, no-changelog-entry-needed

#1780 DOC: Add instructions to install build tools for Windows
  docs/installation.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1768 Syntax highlighting in docs
  README.rst
  docs/cubeviz/displayspectra.rst
  docs/cubeviz/export_data.rst
  docs/cubeviz/import_data.rst
  docs/dev/links.rst
  docs/dev/release.rst
  docs/display.rst
  docs/imviz/displayimages.rst
  docs/imviz/export_data.rst
  docs/imviz/import_data.rst
  docs/imviz/plugins.rst
  docs/installation.rst
  docs/known_bugs.rst
  docs/mosviz/displayspectra.rst
  docs/mosviz/import_data.rst
  docs/mosviz/index.rst
  docs/mosviz/notebook.rst
  docs/mosviz/redshift.rst
  docs/plugin_api.rst
  docs/specviz/displaying.rst
  docs/specviz/export_data.rst
  docs/specviz/import_data.rst
  docs/specviz/plugins.rst
  docs/specviz2d/export_data.rst
  docs/specviz2d/import_data.rst
  docs/specviz2d/plugins.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/mosviz/helper.py
Labels: documentation, cubeviz, mosviz, trivial, no-changelog-entry-needed

#1742 batch_load contextmanager and optimize data visibility interactions
  CHANGES.rst
  docs/imviz/import_data.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/cubeviz/plugins/tests/test_data_selection.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/container.vue
  jdaviz/core/events.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_data_menu.py
  jdaviz/tests/test_app.py
  notebooks/concepts/imviz_load_3d_slices.ipynb
  setup.cfg
Labels: embed, api, imviz, Ready for final review

#1784 Move 3.0.3 stuff to 3.1 section
  CHANGES.rst
Labels: trivial, skip-changelog-checks

#1785 Add rainbow and reverse rainbow colormaps
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
Labels: feature, imviz, Ready for final review

#1786 Update release instructions with more details
  docs/dev/release.rst
Labels: documentation, no-changelog-entry-needed

#1654 TST: Test against Python 3.11
  .github/workflows/ci_workflows.yml
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed

#1796 MNT: Import data_has_valid_wcs from the correct place
  jdaviz/configs/imviz/plugins/viewers.py
Labels: imviz, trivial, no-changelog-entry-needed
