Repository spacetelescope/jdaviz, pull requests merged in 2022-08, with the labels that each got.

#1535 codestyle changes to appease flake
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/parsers.py
Labels: imviz, trivial, no-changelog-entry-needed

#1536 improve moment validation message
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
Labels: cubeviz, UI/UX😍, trivial

#1532 reset subset mode to "replace" when changing selection to "Create New"
  CHANGES.rst
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
Labels: bug, Ready for final review

#1537 bump required version of ipypopout to 0.0.11
  setup.cfg
Labels: bug, trivial, no-changelog-entry-needed

#1522 Added the file UV_linelist_vacuum.csv
  .gitignore
  CHANGES.rst
  jdaviz/data/linelists/UV_linelist_vacuum.csv
  jdaviz/data/linelists/linelist_metadata.json
Labels: specviz, plugin

#1538 add results to viewer: smarter defaults when overwriting
  CHANGES.rst
  jdaviz/components/plugin_add_results.vue
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/core/template_mixin.py
Labels: specviz

#1455 'Catalogs' Plugin
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/catalogs/__init__.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/tests/test_catalogs.py
  setup.cfg
Labels: imviz, Ready for final review

#1546 Nested helpers don't overwrite helper reference
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/core/helpers.py
Labels: bug, cubeviz, trivial

#1514 Plugin: spectral extraction
  CHANGES.rst
  docs/index.rst
  docs/reference/api.rst
  docs/specviz2d/index.rst
  docs/specviz2d/plugins.rst
  jdaviz/app.py
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/plugins/__init__.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/__init__.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/__init__.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
  setup.cfg
Labels: specviz, Ready for final review, plugin, specviz2d

#1550 Cubeviz slider performance improvements
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/core/events.py
Labels: bug, cubeviz, performance

#1549 Autopopulate aperture photometry stats for JWST images
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: documentation, imviz, Ready for final review

#1553 Update cubeviz docs with subset retrieval examples
  docs/cubeviz/export_data.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1558 Allow Shift+b to blink backwards
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_tools.py
Labels: documentation, feature, imviz, Ready for final review

#1427 Allow basic editing for supported shapes and display rotation for rectangle and ellipse
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_subsets.py
Labels: cubeviz, mosviz, imviz

#1463 Load DS9 regions into Subsets
  CHANGES.rst
  docs/imviz/export_data.rst
  docs/imviz/import_data.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/core/region_translators.py
  jdaviz/core/tests/test_region_translators.py
  notebooks/ImvizExample.ipynb
  notebooks/concepts/imviz_simple_aper_phot.ipynb
Labels: enhancement, imviz, Ready for final review

#1562 spectral-extraction: clarification improvements
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: specviz, Ready for final review, plugin, specviz2d

#1573 MNT: Pin jsonschema maxversion
  setup.cfg
Labels: Upstream fix required, Ready for final review, trivial, no-changelog-entry-needed

#1560 spectral-extraction: improved initial parameter estimation
  CHANGES.rst
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: specviz, Ready for final review, plugin, specviz2d

#1528 Spatial-Spectral highlighting
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_data_selection.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/core/helpers.py
  jdaviz/core/marks.py
  jdaviz/tests/test_subsets.py
Labels: bug, cubeviz, Ready for final review

#1574 re-enable subset plugin popout button
  CHANGES.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  setup.cfg
Labels: Ready for final review, trivial

#1559 plugin method to open in tray
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tools.py
Labels: cubeviz, mosviz, api, imviz, Ready for final review, plugin

#1579 MNT: Unpin jsonschema
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#1581 MNT: Label specviz2d correctly on GitHub
  .github/labeler.yml
Labels: Ready for final review, trivial, no-changelog-entry-needed, specviz2d

#1577 specviz2d: expose specviz helper
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/tests/test_helper.py
Labels: specviz, api, trivial, specviz2d

#1576 specviz2d: cli support (2d spectrum only)
  CHANGES.rst
  jdaviz/cli.py
  jdaviz/configs/specviz2d/specviz2d.ipynb
Labels: specviz, Ready for final review, specviz2d

#1580 DOC: Specviz 2d basic docs structure
  conftest.py
  docs/specviz2d/displaying.rst
  docs/specviz2d/export_data.rst
  docs/specviz2d/import_data.rst
  docs/specviz2d/index.rst
  docs/specviz2d/plugins.rst
  jdaviz/conftest.py
Labels: documentation, Ready for final review, no-changelog-entry-needed, specviz2d

#1586 MNT: Do not use specreduce v1.1.0, add specreduce to devdeps job
  setup.cfg
  tox.ini
Labels: testing, :fire:, Ready for final review, trivial, no-changelog-entry-needed, specviz2d

#1589 Disclaimer for background region
  docs/imviz/plugins.rst
Labels: documentation, trivial, no-changelog-entry-needed

#1591 MNT: pin max version of ipywidgets
  setup.cfg
Labels: :fire:, trivial, no-changelog-entry-needed

#1571 Cubeviz: DS9 regions and ellipse draw tool
  CHANGES.rst
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/export_data.rst
  docs/cubeviz/import_data.rst
  docs/imviz/displayimages.rst
  docs/imviz/import_data.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/conftest.py
  jdaviz/core/helpers.py
  notebooks/CubevizExample.ipynb
  notebooks/ImvizExample.ipynb
Labels: cubeviz, Ready for final review

#1592 fix support for ipywidgets 8 and remove max pin
  CHANGES.rst
  jdaviz/app.py
  setup.cfg
Labels: Ready for final review

#1588 Clarify redshift warning verbiage
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/specviz/helper.py
Labels: specviz, mosviz, trivial, no-changelog-entry-needed

#1555 spectral-extraction: support for peak_method in auto/kosmos trace
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  setup.cfg
Labels: Ready for final review, specviz2d

#1554 spectral-extraction: API
  CHANGES.rst
  docs/specviz2d/plugins.rst
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  setup.cfg
Labels: documentation, api, plugin, specviz2d

#1593 linewidth indicator in legend labels
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/glue_state_sync_wrapper.vue
  jdaviz/components/layer_viewer_icon.vue
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/coords_info/coords_info.vue
  jdaviz/container.vue
Labels: cubeviz, embed, UI/UX😍, imviz, Ready for final review

#1599 future-proof slicing logic for glue-jupyter as_steps support
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
Labels: cubeviz, :fire:, Ready for final review

#1597 Expose parameter uncertainties
  CHANGES.rst
  docs/specviz/plugins.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: Ready for final review, plugin

#1602 Fixed typos in docs
  docs/imviz/export_data.rst
  docs/imviz/import_data.rst
Labels: documentation, imviz, trivial, no-changelog-entry-needed

#1596 Add linked pan/zoom and linked box zoom to Cubeviz
  CHANGES.rst
  docs/cubeviz/displaycubes.rst
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_tools.py
Labels: documentation, cubeviz, feature, imviz, Ready for final review

#1595 profile viewer as_steps support
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
  setup.cfg
Labels: Ready for final review

#1607 DOC: Update logo
  README.rst
  docs/logos/jdaviz.svg
  docs/logos/jdaviz_1.svg
Labels: documentation, trivial, no-changelog-entry-needed

#1610 BOT: Labeler to not remove labels
  .github/workflows/open_actions.yml
Labels: testing, trivial, no-changelog-entry-needed

#1611 Pin ipwidgets to avoid breaking standalone app
  setup.cfg
Labels: Upstream fix required, trivial, no-changelog-entry-needed

#1598 live-updating linking with progress spinner
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/tests/test_links_control.py
  jdaviz/core/events.py
Labels: imviz
