Repository spacetelescope/jdaviz, pull requests merged in 2022-11, with the labels that each got.

#1800 Backport PR #1799 on branch v3.1.x (FIX photutils deprecation warnings from apertures)
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/core/region_translators.py
  notebooks/CubevizExample.ipynb
  notebooks/ImvizDitheredExample.ipynb
  notebooks/ImvizExample.ipynb
Labels: documentation, imviz, trivial, no-changelog-entry-needed, backport-v3.1.x

#1798 Fix None Row Detection
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
Labels: mosviz, trivial, backport-v3.1.x

#1759 Spectrum coordinates info panel
  CHANGES.rst
  jdaviz/app.vue
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz/tests/test_helper.py
Labels: specviz, feature, Ready for final review

#1802 Backport PR #1798 on branch v3.1.x (Fix None Row Detection)
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
Labels: mosviz, trivial, backport-v3.1.x

#1726 Fix box zoom
  CHANGES.rst
  jdaviz/core/tests/test_tools.py
  jdaviz/core/tools.py
Labels: bug, UI/UX😍, Ready for final review, backport-v3.1.x

#1803 Backport PR #1726 on branch v3.1.x (Fix box zoom)
  CHANGES.rst
  jdaviz/core/tests/test_tools.py
  jdaviz/core/tools.py
Labels: bug, UI/UX😍, Ready for final review, backport-v3.1.x

#1797 MNT: Remove unused MosvizProfileView
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/mosviz/plugins/viewers.py
Labels: mosviz, api, Ready for final review

#1806 Update this docstring to be accurate
  jdaviz/core/helpers.py
Labels: bug, documentation, trivial, no-changelog-entry-needed, backport-v3.1.x

#1807 Backport PR #1806 on branch v3.1.x (Update this docstring to be accurate)
  jdaviz/core/helpers.py
Labels: bug, documentation, trivial, no-changelog-entry-needed, backport-v3.1.x

#1794 plot options: spinner for contour settings
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
Labels: UI/UX😍, Ready for final review, plugin

#1808 Make mosviz visibility fallback more robust
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
Labels: mosviz, backport-v3.1.x

#1812 FIX: mosviz image remove on row change
  CHANGES.rst
  jdaviz/configs/mosviz/plugins/viewers.py
Labels: bug, mosviz, trivial, backport-v3.1.x

#1795 Mosviz coordinates display panel for image and 2d spectrum viewers
  CHANGES.rst
  jdaviz/app.vue
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
Labels: mosviz, feature

#1813 Backport PR #1808 on branch v3.1.x (Make mosviz visibility fallback more robust)
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
Labels: mosviz, backport-v3.1.x

#1814 Backport PR #1812 on branch v3.1.x (FIX: mosviz image remove on row change)
  CHANGES.rst
  jdaviz/configs/mosviz/plugins/viewers.py
Labels: bug, mosviz, trivial, backport-v3.1.x

#1817 Backport PR #1791 on branch v3.1.x (fix: plots in popout window not scaled properly (by pinning voila<0.4))
  setup.cfg
Labels: bug, embed, Ready for final review, no-changelog-entry-needed, backport-v3.1.x

#1659 Fix for #1621: only concat x1d spectra from MIRI
  CHANGES.rst
  docs/specviz/import_data.rst
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/conftest.py
  setup.cfg
Labels: specviz, Ready for final review

#1825 DOC: Clarify the role of centroid in aperture photometry plugin
  docs/imviz/export_data.rst
  docs/imviz/plugins.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed

#1790 Disable 1D linking and Simultaneous Row Plotting in Mosviz
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/viewer_data_select.vue
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
Labels: mosviz, Ready for final review

#1773 Cubeviz to support plain Numpy cube and GIF
  CHANGES.rst
  docs/cubeviz/import_data.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  notebooks/concepts/cubeviz_ndarray_gif.ipynb
Labels: documentation, cubeviz, feature

#1801 large subset warnings in aperture photometry
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
Labels: imviz, Ready for final review

#1824 Fix case that used to break return_unique_name
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_app.py
Labels: bug, testing, backport-v3.1.x

#1826 Backport PR #1824 on branch v3.1.x (Fix case that used to break return_unique_name)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_app.py
Labels: bug, testing, backport-v3.1.x

#1827 better hints for spectral extraction
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: trivial, skip-changelog-checks, specviz2d

#1828 DOC: describe workflow for spatially-offset traces
  docs/specviz2d/plugins.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed, specviz2d

#1831 TST: Fix Jupyter DeprecationWarning
  tox.ini
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.1.x

#1836 Assign Row to NIRISS-parsed 1D Spectra
  CHANGES.rst
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: bug, mosviz, Ready for final review, backport-v3.1.x

#1840 Move changelog for failed backport 1836
  CHANGES.rst
Labels: trivial, no-changelog-entry-needed

#1823 Imviz: Allow Subset recentering via centroiding
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/core/region_translators.py
  jdaviz/core/tests/test_region_translators.py
  jdaviz/tests/test_subsets.py
  notebooks/concepts/imviz_edit_subset_programmatic.ipynb
Labels: documentation, imviz, Ready for final review

#1838 Markers stay when adding new data
  CHANGES.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_links_control.py
  jdaviz/core/astrowidgets_api.py
  jdaviz/core/events.py
Labels: imviz

#1833 Allow mosviz load_data to load only 1d or 2d spectra
  CHANGES.rst
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
Labels: bug, mosviz, Ready for final review, backport-v3.1.x

#1842 Manual backport of PR 1833 to v3.1.x (Allow mosviz load_data to load only 1d or 2d spectra)
  CHANGES.rst
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
Labels: mosviz, skip-changelog-checks, backport-v3.1.x

#1844 FIX: added missing comma in choices for trace peak method
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
Labels: bug, trivial, specviz2d, backport-v3.1.x

#1849 Backport PR #1844 on branch v3.1.x (FIX: added missing comma in choices for trace peak method)
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
Labels: bug, trivial, specviz2d, backport-v3.1.x

#1845 DOC: Manual backport instructions
  docs/dev/release.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed

#1854 DOC: Clarify centroid subtlety
  docs/imviz/import_data.rst
  docs/imviz/plugins.rst
Labels: documentation, imviz, no-changelog-entry-needed

#1850 layer-lettering to handle 2 "digits" (up to 700 layers)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: bug, Ready for final review, backport-v3.1.x

#1857 Backport PR #1850 on branch v3.1.x (layer-lettering to handle 2 "digits" (up to 700 layers))
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: bug, testing, Ready for final review, backport-v3.1.x

#1848 Cubeviz autoplay
  CHANGES.rst
  docs/cubeviz/plugins.rst
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  notebooks/concepts/cubeviz_ndarray_gif.ipynb
Labels: cubeviz, feature, Ready for final review

#1841 No more centroiding in Simple Aperture Photometry plugin
  CHANGES.rst
  docs/imviz/export_data.rst
  docs/imviz/plugins.rst
  docs/known_bugs.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
Labels: documentation, imviz, Ready for final review

#1856 FIX: shadowing/subsets after adding plugin data
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/core/marks.py
  jdaviz/tests/test_subsets.py
Labels: bug, cubeviz, Ready for final review, backport-v3.1.x

#1860 Backport PR #1856 on branch v3.1.x (FIX: shadowing/subsets after adding plugin data)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/core/marks.py
  jdaviz/tests/test_subsets.py
Labels: bug, cubeviz, testing, Ready for final review, backport-v3.1.x

#1861 DOC: Pin setuptools to work around ImportError
  setup.cfg
Labels: documentation, Upstream fix required, :fire:, trivial, no-changelog-entry-needed, backport-v3.1.x

#1862 Backport PR #1861 on branch v3.1.x (DOC: Pin setuptools to work around ImportError)
  setup.cfg
Labels: documentation, Upstream fix required, :fire:, trivial, no-changelog-entry-needed, backport-v3.1.x

#1866 Moving color cycler to JdavizViewerMixin
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/viewers.py
Labels: bug, trivial, backport-v3.1.x

#1867 Backport PR #1866 on branch v3.1.x (Moving color cycler to JdavizViewerMixin)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/viewers.py
Labels: bug, trivial, backport-v3.1.x

#1872 Back to development: v3.1.2
  CHANGES.rst
Labels: trivial, no-changelog-entry-needed

#1871 Back to development: v3.1.2
  CHANGES.rst
Labels: trivial, no-changelog-entry-needed

#1874 Revert "DOC: Pin setuptools"
  setup.cfg
Labels: trivial, no-changelog-entry-needed, backport-v3.1.x

#1875 Backport PR #1874 on branch v3.1.x (Revert "DOC: Pin setuptools")
  setup.cfg
Labels: trivial, no-changelog-entry-needed, backport-v3.1.x

#1873 numpy deprecation warning filter for v1.24.0
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  setup.cfg
Labels: trivial, no-changelog-entry-needed, Affects-dev

#1834 Adding support for spectral subsets for model fitting in cubeviz
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/conftest.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_template_mixin.py
Labels: bug, cubeviz, Ready for final review

#1881 TST: Omit specreduce dev from devdeps
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.1.x

#1882 Backport PR #1881 on branch v3.1.x (TST: Omit specreduce dev from devdeps)
  setup.cfg
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.1.x

#1835 Update Mosviz parser to load level 2 data
  CHANGES.rst
  docs/mosviz/import_data.rst
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: mosviz

#1880 Avoid astropy model fitting error if all uncertainties are 0
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: bug, Ready for final review, plugin, backport-v3.1.x
