Repository spacetelescope/jdaviz, pull requests merged in 2023-07, with the labels that each got.

#2264 Button to export Cubeviz movie
  CHANGES.rst
  docs/cubeviz/plugins.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/tests/test_export_plots.py
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/conftest.py
  notebooks/concepts/cubeviz_ndarray_gif.ipynb
  pyproject.toml
  tox.ini
Labels: documentation, cubeviz, feature, testing, Ready for final review

#2273 Replace load_spectrum with load_data
  CHANGES.rst
  docs/cubeviz/import_data.rst
  docs/specviz/export_data.rst
  docs/specviz/import_data.rst
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/data_formats.py
  jdaviz/core/tests/test_data_menu.py
  jdaviz/core/tests/test_helpers.py
  jdaviz/core/tests/test_template_mixin.py
  jdaviz/tests/test_app.py
  jdaviz/tests/test_subsets.py
Labels: specviz, api, Ready for final review

#2257 Jdaviz Launcher
  CHANGES.rst
  README.rst
  docs/cubeviz/import_data.rst
  docs/imviz/import_data.rst
  docs/mosviz/import_data.rst
  docs/mosviz/index.rst
  docs/specviz/import_data.rst
  docs/specviz2d/import_data.rst
  jdaviz/cli.py
  jdaviz/core/launcher.py
  jdaviz/jdaviz_cli_launcher.ipynb
  pyproject.toml
Labels: feature, Ready for final review

#2286 update style guide for consistency between plugins
  docs/dev/ui_style_guide.rst
  jdaviz/components/plugin_add_results.vue
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: documentation, UI/UX😍, trivial, no-changelog-entry-needed, specviz2d

#2285 replace all hacky traitlet replacements with send_state
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
Labels: mosviz, Ready for final review, no-changelog-entry-needed

#2287 subset plugin components to use filter instead of allowed_type
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/core/template_mixin.py
Labels: specviz, imviz, Ready for final review

#2267 Jdaviz Launcher: Identify compatible configs and request user to select config
  CHANGES.rst
  jdaviz/__init__.py
  jdaviz/cli.py
  jdaviz/core/data_formats.py
  jdaviz/core/launcher.py
Labels: documentation, Ready for final review

#2284 nested toolbar logic to hide inapplicable tools
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/components/toolbar_nested.py
  jdaviz/components/toolbar_nested.vue
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/core/tools.py
Labels: UI/UX😍, Ready for final review

#2291 Add composite subset fixes
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_subsets.py
  jdaviz/utils.py
Labels: cubeviz, specviz, testing, imviz

#2294 Hide Centroid Redshift when lines aren't loaded
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
Labels: specviz, trivial

#2298 Single select replaces other selected items in multi select
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
Labels: UI/UX😍, Ready for final review

#2303 Re-upload quickstart file
  docs/index_using_jdaviz.rst
  docs/quickstart.rst
Labels: documentation, no-changelog-entry-needed

#2305 Fix for hanging plot options in cubeviz
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: bug, cubeviz, backport-v3.5.x

#2308 Backport PR #2305 on branch v3.5.x (Fix for hanging plot options in cubeviz)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: bug, cubeviz, backport-v3.5.x

#2301 Add vmin and vmax lines to histogram
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/marks.py
Labels: UI/UX😍, Ready for final review, plugin

#2310 fix: content overflows when opening plugin tray in standalone
  jdaviz/core/launcher.py
Labels: bug, Ready for final review, no-changelog-entry-needed

#2309 Histogram bin size and limits
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
Labels: Ready for final review

#2313 Add changelog for 2309
  CHANGES.rst
Labels: trivial, skip-changelog-checks

#2295 plugin active status based on pings
  CHANGES.rst
  docs/dev/ui_style_guide.rst
  jdaviz/app.vue
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/markers/markers.vue
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_line_profile_xy.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/configs/imviz/tests/test_viewers.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: documentation, cubeviz, specviz, embed, UI/UX😍, imviz, Ready for final review, plugin, specviz2d

#2316 Back to development: 3.7.dev
  CHANGES.rst
Labels: skip-changelog-checks
