Repository spacetelescope/jdaviz, pull requests merged in 2023-08, with the labels that each got.

#2327 fix codestyle failures
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/core/tests/test_autoconfig.py
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2326 Fix ping lag in plot options
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/imviz/plugins/compass/compass.py
Labels: bug, Ready for final review, backport-v3.6.x

#2329 Backport PR #2327 on branch v3.6.x (fix codestyle failures)
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/core/tests/test_autoconfig.py
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2330 manual backport of 2326
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/imviz/plugins/compass/compass.py
Labels: bug, imviz, no-changelog-entry-needed, backport-v3.6.x

#2333 MNT: Fix setup set up
  MANIFEST.in
  pyproject.toml
  setup.cfg
  tox.ini
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2339 BUG: Throw error on invalid path in save_figure
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_export_plots.py
  jdaviz/configs/default/plugins/export_plot/export_plot.py
Labels: bug, cubeviz, Ready for final review, plugin, backport-v3.6.x

#2342 Backport PR #2339 on branch v3.6.x (BUG: Throw error on invalid path in save_figure)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_export_plots.py
  jdaviz/configs/default/plugins/export_plot/export_plot.py
Labels: bug, cubeviz, Ready for final review, plugin, backport-v3.6.x

#2344 multiselect support for dropdown default
  CHANGES.rst
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/plugin_subset_select.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/configs/imviz/tests/test_viewers.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, plugin

#2354 Backport PR #2343 on branch v3.6.x (avoid WCS linking in cubeviz to address lag)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: bug, cubeviz, Ready for final review, backport-v3.6.x

#2355 Backport PR #2353 on branch v3.6.x (Linkcheck fix)
  docs/cubeviz/import_data.rst
  docs/imviz/import_data.rst
  docs/specviz/import_data.rst
Labels: documentation, no-changelog-entry-needed, Extra CI, backport-v3.6.x

#2349 Debug standalone build
  .github/workflows/standalone.yml
Labels: testing, no-changelog-entry-needed

#2360 Revert "Add doc for windows latency issue"
  docs/known_bugs.rst
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.6.x

#2361 Backport PR #2360 on branch v3.6.x (Revert "Add doc for windows latency issue")
  docs/known_bugs.rst
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.6.x

#2359 update cubeviz matched zoom tools
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: bug, cubeviz, Ready for final review, backport-v3.6.x

#2362 Backport PR #2359 on branch v3.6.x (update cubeviz matched zoom tools)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: bug, cubeviz, Ready for final review, backport-v3.6.x

#2338 Support for viewer reference name updates
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/core/events.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_app.py
Labels: cubeviz, specviz, Ready for final review, no-changelog-entry-needed

#2358 TST: Pick up astropy-dev from index URL to get latest dev wheel
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/conftest.py
  jdaviz/core/astrowidgets_api.py
  jdaviz/utils.py
  tox.ini
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2363 Backport PR #2358 on branch v3.6.x (TST: Pick up astropy-dev from index URL to get latest dev wheel)
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/conftest.py
  jdaviz/core/astrowidgets_api.py
  jdaviz/utils.py
  tox.ini
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2336 MNT: glue-jupyter compatibility for import
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/core/astrowidgets_api.py
  jdaviz/utils.py
Labels: trivial, no-changelog-entry-needed, backport-v3.6.x

#2366 Backport PR 2336 to v3.6.x (MNT: glue-jupyter compatibility for import)
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/core/astrowidgets_api.py
  jdaviz/utils.py
Labels: trivial, no-changelog-entry-needed

#2367 TST: Use pandas-dev in devdeps
  jdaviz/configs/mosviz/tests/test_helper.py
  tox.ini
Labels: mosviz, testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2368 Backport PR #2367 on branch v3.6.x (TST: Use pandas-dev in devdeps)
  jdaviz/configs/mosviz/tests/test_helper.py
  tox.ini
Labels: mosviz, testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2341 Footprints plugin
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/app.py
  jdaviz/components/plugin_editable_select.vue
  jdaviz/components/tooltip.vue
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/footprints/__init__.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  jdaviz/configs/imviz/plugins/footprints/preset_regions.py
  jdaviz/configs/imviz/plugins/footprints/tests/__init__.py
  jdaviz/configs/imviz/plugins/footprints/tests/test_footprints.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
  pyproject.toml
Labels: documentation, imviz, Ready for final review

#2154 Handle aperture photometry when images linked by WCS for advanced cases
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/data/gauss100_fits_wcs.fits
  jdaviz/configs/imviz/tests/data/gauss100_fits_wcs_block_reduced.fits
  jdaviz/configs/imviz/tests/data/gauss100_fits_wcs_block_reduced_rotated.fits
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/region_translators.py
  jdaviz/core/tests/test_region_translators.py
  jdaviz/tests/test_subsets.py
  notebooks/concepts/imviz_advanced_aper_phot.ipynb
Labels: bug, documentation, imviz, Ready for final review

#2369 TST: Ignore array_api experimental warning when scipy-dev imports numpy-dev
  pyproject.toml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2371 Backport PR #2369 on branch v3.6.x (TST: Ignore array_api experimental warning when scipy-dev imports numpy-dev)
  pyproject.toml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2370 TST: Make pysiaf optional in tests, move tests to common folder
  jdaviz/configs/imviz/plugins/compass/tests/__init__.py
  jdaviz/configs/imviz/plugins/footprints/__init__.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/footprints/tests/__init__.py
  jdaviz/configs/imviz/tests/test_compass.py
  jdaviz/configs/imviz/tests/test_footprints.py
  pyproject.toml
Labels: testing, imviz, trivial, no-changelog-entry-needed

#2375 Backport PR #2373 on branch v3.6.x (MNT: Stop mentioning load_spectrum because it was deprecated in 3.6)
  jdaviz/core/launcher.py
  notebooks/SpecvizExample.ipynb
  notebooks/concepts/mosviz_niriss_parser.ipynb
  notebooks/concepts/specviz_from_list.ipynb
  notebooks/concepts/specviz_minimal.ipynb
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.6.x

#2039 Add Spectral Extraction plugin for Cubeviz
  CHANGES.rst
  docs/cubeviz/plugins.rst
  docs/img/cubeviz_spectral_extraction.png
  jdaviz/app.py
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/__init__.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/__init__.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/__init__.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, feature, discussion, Upstream fix required, Ready for final review, plugin

#2381 DOC: Update glue-core intersphinx
  docs/conf.py
  docs/dev/ui_description.rst
  docs/imviz/import_data.rst
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.6.x

#2382 Backport PR #2381 on branch v3.6.x (DOC: Update glue-core intersphinx)
  docs/conf.py
  docs/dev/ui_description.rst
  docs/imviz/import_data.rst
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.6.x

#1776 TST: Use bqplot dev from master branch
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed

#2383 MNT: Remove Duy from codeowners
  .github/CODEOWNERS
Labels: trivial, no-changelog-entry-needed, backport-v3.6.x

#2384 Backport PR #2383 on branch v3.6.x (MNT: Remove Duy from codeowners)
  .github/CODEOWNERS
Labels: trivial, no-changelog-entry-needed, backport-v3.6.x

#2374 TST: Un-ignore numpy warnings from scipy-dev
  pyproject.toml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2385 Backport PR #2374 on branch v3.6.x (TST: Un-ignore numpy warnings from scipy-dev)
  pyproject.toml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2391 user-friendly error message when detecting png callback incomplete
  jdaviz/configs/default/plugins/export_plot/export_plot.py
Labels: trivial, no-changelog-entry-needed

#2388 stretch histogram vmin/vmax dynamic step size
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: imviz, Ready for final review

#2392 allow downstream apps to set links to docs
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/cli.py
Labels: embed, trivial, no-changelog-entry-needed

#2393 fix subset histogram bug in plot options
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: bug, cubeviz, imviz

#2394 Backport PR #2344 on branch v3.6.x (multiselect support for dropdown default)
  CHANGES.rst
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/plugin_subset_select.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/configs/imviz/tests/test_viewers.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, plugin, backport-v3.6.x

#2395 Backport PR #2393 on branch v3.6.x (fix subset histogram bug in plot options)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: bug, cubeviz, imviz, backport-v3.6.x

#2396 Preparing release v3.6.2
  CHANGES.rst
  CITATION.cff
Labels: skip-changelog-checks

#2386 plugin is_active skip_if_no_updates_since_plugin_last_active decorator
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/core/template_mixin.py
Labels: specviz, imviz, no-changelog-entry-needed, specviz2d

#2397 updating change log after 3.6.2
  CHANGES.rst
Labels: skip-changelog-checks

#2372 Better axis fonts for spectrum viewers
  CHANGES.rst
  docs/cubeviz/plugins.rst
  jdaviz/app.vue
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/plugins/viewers.py
Labels: cubeviz, specviz, mosviz, UI/UX😍, Ready for final review, specviz2d

#2399 update expected shape for remote data
  jdaviz/configs/imviz/tests/test_parser.py
Labels: testing, imviz, no-changelog-entry-needed, backport-v3.6.x

#2400 Backport PR #2399 on branch v3.6.x (update expected shape for remote data)
  jdaviz/configs/imviz/tests/test_parser.py
Labels: testing, imviz, no-changelog-entry-needed, backport-v3.6.x

#2390 Adding colormap "curve" to Plot Options stretch histogram
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: cubeviz, UI/UX😍, imviz, plugin

#2402 RTD: No more system_packages
  .readthedocs.yaml
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.6.x

#2403 Backport PR #2402 on branch v3.6.x (RTD: No more system_packages)
  .readthedocs.yaml
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.6.x

#2404 fix case of a multiselect dropdown becoming single when no selection
  CHANGES.rst
  jdaviz/core/template_mixin.py
Labels: bug, trivial, backport-v3.6.x

#2389 Debug standalone build
  .github/workflows/standalone.yml
  standalone/hooks/hook-asdf.py
  standalone/hooks/hook-jdaviz.py
  standalone/hooks/hook-jupyter_events.py
  standalone/hooks/hook-jupyter_server.py
  standalone/hooks/hook-pysiaf.py
  standalone/hooks/hook-specreduce.py
  standalone/jdaviz-cli-entrypoint.py
  standalone/jdaviz.spec
  standalone/test_standalone.py
Labels: testing, no-changelog-entry-needed

#2406 Manual backport of PR 2404: fix case of a multiselect dropdown becoming single when no selection
  CHANGES.rst
  jdaviz/core/template_mixin.py
Labels: bug, no-changelog-entry-needed

#2408 improve stretch histogram performance (downsampling and decorator)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: bug, Ready for final review, performance

#2411 handle ping without timestamp
  CHANGES.rst
  jdaviz/core/template_mixin.py
Labels: bug, Ready for final review, backport-v3.6.x

#2412 Backport PR #2411 on branch v3.6.x (handle ping without timestamp)
  CHANGES.rst
  jdaviz/core/template_mixin.py
Labels: bug, Ready for final review, backport-v3.6.x
