Repository spacetelescope/jdaviz, pull requests merged in 2023-12, with the labels that each got.

#2580 fix: sub popout elements are missing styles
  docs/dev/ui_style_guide.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/core/launcher.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
  jdaviz/main_styles.vue
  jdaviz/style_registry.py
Labels: bug, embed, UI/UX😍, Ready for final review, no-changelog-entry-needed

#2584 Add option to calculate higher-order moments in velocity
  CHANGES.rst
  docs/cubeviz/plugins.rst
  docs/img/moment1_map.png
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: cubeviz, Ready for final review

#2591 Compat with glue-core 1.17
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: trivial, backport-v3.8.x

#2589 TST: Fix ds9_annulus_01.reg test case
  jdaviz/configs/imviz/tests/data/ds9_annulus_01.reg
  jdaviz/configs/imviz/tests/test_regions.py
Labels: bug, testing, imviz, trivial, no-changelog-entry-needed

#2592 Backport PR #2591 on branch v3.8.x (Compat with glue-core 1.17)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: trivial, backport-v3.8.x

#2596 Backport PR #2595 on branch v3.8.x (fix image layer visibility toggle via glue-jupyter)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  pyproject.toml
Labels: bug, Ready for final review, backport-v3.8.x

#2586 save collapsed spectrum to FITS
  CHANGES.rst
  jdaviz/components/tooltip.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
Labels: cubeviz, Ready for final review

#2597 update min python in pyproject
  pyproject.toml
Labels: trivial, no-changelog-entry-needed, backport-v3.8.x

#2599 Backport PR #2576 on branch v3.8.x (Specviz Parser handling HDULists)
  CHANGES.rst
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/tests/test_helper.py
Labels: bug, specviz, backport-v3.8.x

#2594 BUG: Fix Line Profile when there is NaN
  CHANGES.rst
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/tests/test_line_profile_xy.py
Labels: bug, imviz, Ready for final review, backport-v3.8.x

#2600 add @gibsongreen to codeowners/mailmap/citation
  .github/CODEOWNERS
  .mailmap
  CITATION.cff
Labels: trivial, no-changelog-entry-needed

#2605 fix nested toolbar losing suboptions
  CHANGES.rst
  jdaviz/components/toolbar_nested.py
Labels: bug, trivial, backport-v3.8.x

#2587 Moment map continuum subtraction
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, Ready for final review

#2608 fix removing cube data from cubeviz
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
Labels: bug, cubeviz, Ready for final review, backport-v3.8.x

#2612 Backport PR #2608 on branch v3.8.x (fix removing cube data from cubeviz)
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
Labels: bug, cubeviz, Ready for final review, backport-v3.8.x

#2545 Interactive spline
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_tools.py
  jdaviz/core/tools.py
Labels: Ready for final review

#2588 Moment units redux
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: cubeviz, Ready for final review

#2613 MNT: Use setup-python v5 in Actions
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/predeps_workflows.yml
  .github/workflows/publish.yml
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.8.x

#2614 DEV: Dependabot for Actions auto-update
  .github/dependabot.yml
Labels: trivial, no-changelog-entry-needed

#2615 Backport PR #2613 on branch v3.8.x (MNT: Use setup-python v5 in Actions)
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/predeps_workflows.yml
  .github/workflows/publish.yml
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.8.x

#2619 Backport PR #2618 on branch v3.8.x (Bump actions/upload-artifact from 3 to 4 in /.github/workflows)
  .github/workflows/standalone.yml
Labels: testing, no-changelog-entry-needed, backport-v3.8.x, dependencies

#2620 Backport PR #2616 on branch v3.8.x (Bump github/codeql-action from 2 to 3 in /.github/workflows)
  .github/workflows/codeql-analysis.yml
Labels: testing, no-changelog-entry-needed, backport-v3.8.x, dependencies

#2606 stretch histogram: handle mixed state
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: imviz, Ready for final review, backport-v3.8.x

#2622 Manual Backport PR #2606 on branch v3.8.x (stretch histogram: handle mixed state)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: imviz, trivial, no-changelog-entry-needed

#2609 Test get_data when changing a subsets label
  jdaviz/tests/test_subsets.py
Labels: testing, skip-changelog-checks

#2623 handle mixed state for stretch params (knots)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review

#2625 always hide button to close group of tabs
  jdaviz/main_styles.vue
Labels: bug, embed, UI/UX😍, trivial, no-changelog-entry-needed, backport-v3.8.x

#2628 Revert "Bump actions/upload-artifact from 3 to 4 in /.github/workflows"
  .github/workflows/standalone.yml
Labels: trivial, no-changelog-entry-needed, backport-v3.8.x, dependencies

#2627 always hide button to close group of tabs
  jdaviz/app.vue
Labels: embed, no-changelog-entry-needed

#2629 Backport PR #2628 on branch v3.8.x (Revert "Bump actions/upload-artifact from 3 to 4 in /.github/workflows")
  .github/workflows/standalone.yml
Labels: trivial, no-changelog-entry-needed, backport-v3.8.x, dependencies

#2631 fix [SCI] data not showing in cubeviz spectrum viewer's data menu
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
Labels: bug, UI/UX😍, trivial, backport-v3.8.x

#2632 Backport PR #2631 on branch v3.8.x (fix [SCI] data not showing in cubeviz spectrum viewer's data menu)
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
Labels: bug, UI/UX😍, trivial, backport-v3.8.x

#2624 helper.viewers dict to better generalize reference vs id
  CHANGES.rst
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/core/helpers.py
  jdaviz/core/user_api.py
  jdaviz/tests/test_user_api.py
Labels: bug, api, backport-v3.8.x

#2633 Backport PR #2624 on branch v3.8.x (helper.viewers dict to better generalize reference vs id)
  CHANGES.rst
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/core/helpers.py
  jdaviz/core/user_api.py
  jdaviz/tests/test_user_api.py
Labels: bug, api, backport-v3.8.x

#2635 DOC: Update release instructions
  docs/dev/release.rst
Labels: documentation, trivial, no-changelog-entry-needed

#2626 helper and viewer-level access to data_labels properties
  CHANGES.rst
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/core/helpers.py
  jdaviz/tests/test_user_api.py
Labels: api, Ready for final review
