Repository spacetelescope/jdaviz, pull requests merged in 2023-02, with the labels that each got.

#1992 Fix Mosviz Zoom Bug Typo
  CHANGES.rst
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: bug, mosviz, :fire:, backport-v3.2.x

#1993 Move mosviz changelog entries to 3.3
  CHANGES.rst
Labels: trivial, no-changelog-entry-needed

#1996 Make get_interactive_regions snackbar message less alarming
  jdaviz/core/helpers.py
Labels: cubeviz, imviz, Ready for final review, no-changelog-entry-needed

#1999 Avoid installation error by pinning y_py < 0.5.5
  setup.cfg
Labels: Upstream fix required, trivial, no-changelog-entry-needed

#1909 TST: Add RC testing workflow and update existing
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/predeps_workflows.yml
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed

#1976 refactor mouseover coords info display
  docs/imviz/displayimages.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.vue
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, mosviz, imviz, Ready for final review, no-changelog-entry-needed, specviz2d

#2001 Update codeowners
  .github/CODEOWNERS
Labels: Ready for final review, trivial, no-changelog-entry-needed

#1985 Aperture photometry table (with popout support)
  CHANGES.rst
  docs/imviz/export_data.rst
  jdaviz/app.py
  jdaviz/components/plugin_table.vue
  jdaviz/components/tooltip.vue
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/core/template_mixin.py
Labels: imviz, Ready for final review

#1984 Subset refactor part 1: new get_data API
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/imviz/tests/test_helper.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/specviz2d/tests/test_helper.py
  jdaviz/core/helpers.py
  jdaviz/core/tests/test_helpers.py
Labels: documentation, api

#2015 add aperture_sum_mag to aperture table cols
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: imviz, trivial

#2011 Avoid JSON serialization warning
  CHANGES.rst
  jdaviz/core/freezable_state.py
Labels: backport-v3.3.x

#2017 Backport PR #2011 on branch v3.3.x (Avoid JSON serialization warning)
  CHANGES.rst
  jdaviz/core/freezable_state.py
Labels: backport-v3.3.x

#2020 Backport PR #2019 on branch v3.3.x (bump glue-astronomy to 0.6.1)
  setup.cfg
Labels: trivial, no-changelog-entry-needed, backport-v3.3.x

#2021 Catalogs: Use SDSS DR 16, fix other dev failures
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
  setup.cfg
  tox.ini
Labels: Upstream fix required, testing, imviz, no-changelog-entry-needed

#2023 Fix 2D smooth visibility bug by utilizing SpectralExtraction linking logic
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/conftest.py
Labels: bug, testing, Ready for final review, specviz2d, backport-v3.3.x

#2034 Manual Backport PR #2023 on branch v3.3.x (Fix 2D smooth visibility bug by utilizing SpectralExtraction linking logic)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/conftest.py
Labels: testing, trivial, skip-changelog-checks, specviz2d

#2035 TST: Ignore asdf_extensions deprecation warning from specutils
  setup.cfg
Labels: Upstream fix required, testing, trivial, no-changelog-entry-needed

#2037 expose viewer dropdown in export plot user API
  CHANGES.rst
  jdaviz/configs/default/plugins/export_plot/export_plot.py
Labels: api, Ready for final review, trivial, plugin

#2012 Add cube writer to properly write out cube generated by model fitting
  CHANGES.rst
  docs/cubeviz/export_data.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: documentation, cubeviz, Ready for final review

#2040 Prevent unneeded get_data_from_viewer call on app startup
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
Labels: cubeviz, no-changelog-entry-needed, backport-v3.3.x

#2041 Backport PR #2040 on branch v3.3.x (Prevent unneeded get_data_from_viewer call on app startup)
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
Labels: cubeviz, specviz, no-changelog-entry-needed, backport-v3.3.x

#2042 Backport PR #2021 on branch v3.3.x (Catalogs: Use SDSS DR 16, fix other dev failures)
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
  setup.cfg
  tox.ini
Labels: documentation, Upstream fix required, testing, imviz, no-changelog-entry-needed

#2043 Backport PR #2035 on branch v3.3.x (TST: Ignore asdf_extensions deprecation warning from specutils)
  setup.cfg
Labels: Upstream fix required, testing, trivial, no-changelog-entry-needed, backport-v3.3.x

#2047 gaussian smooth default results label no longer needs dataset_items
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
Labels: trivial, no-changelog-entry-needed
