Repository spacetelescope/jdaviz, pull requests merged in 2023-10, with the labels that each got.

#2485 BUG: Handle incompatible Specviz flux unit
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
Labels: bug, specviz, Ready for final review, backport-v3.7.x

#2492 Backport PR #2485 on branch v3.7.x (BUG: Handle incompatible Specviz flux unit)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
Labels: bug, specviz, Ready for final review, backport-v3.7.x

#2497 Deselect subset selection tool on deleting active subset
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/tests/test_subsets.py
Labels: bug, cubeviz, Ready for final review, backport-v3.7.x

#2500 Backport PR #2497 on branch v3.7.x (Deselect subset selection tool on deleting active subset)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/tests/test_subsets.py
Labels: bug, cubeviz, Ready for final review, backport-v3.7.x

#2494 Preset palettes
  CHANGES.rst
  docs/specviz/displaying.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: imviz

#2495 DOC: Fix Mosviz parser file list for NIRSpec
  docs/mosviz/import_data.rst
Labels: bug, documentation, mosviz, no-changelog-entry-needed, backport-v3.7.x

#2503 Backport PR #2495 on branch v3.7.x (DOC: Fix Mosviz parser file list for NIRSpec)
  docs/mosviz/import_data.rst
Labels: bug, documentation, mosviz, no-changelog-entry-needed, backport-v3.7.x

#2507 Backport PR #2505 on branch v3.7.x (fix plot options multi to single select)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: bug, trivial, backport-v3.7.x

#2465 Aperture photometry: refactor, batch mode, enable user API
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/plugin_subset_select.vue
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/region_translators.py
  jdaviz/core/template_mixin.py
  notebooks/concepts/imviz_advanced_aper_phot.ipynb
  notebooks/concepts/imviz_simple_aper_phot.ipynb
Labels: documentation, api, imviz, Ready for final review

#2498 Plugin plots to viewers
  CHANGES.rst
  jdaviz/app.vue
  jdaviz/components/plugin_plot.vue
  jdaviz/components/toolbar_nested.py
  jdaviz/components/toolbar_nested.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/tests/test_line_profile_xy.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/template_mixin.py
  pyproject.toml
Labels: embed, imviz, Ready for final review, plugin

#2504 BUG: Cubeviz to recognize VLT MUSE data
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: bug, cubeviz, Ready for final review, backport-v3.7.x

#2508 Backport PR #2504 on branch v3.7.x (BUG: Cubeviz to recognize VLT MUSE data)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: bug, cubeviz, Ready for final review, backport-v3.7.x

#2509 Update displayimages.rst
  docs/imviz/displayimages.rst
Labels: documentation, trivial, no-changelog-entry-needed

#2510 Backport PR #2509 on branch v3.7.x (Update displayimages.rst)
  docs/imviz/displayimages.rst
Labels: bug, documentation, trivial, no-changelog-entry-needed, backport-v3.7.x

#2496 Add Sky Regions to get_subsets()
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/tests/test_subsets.py
Labels: cubeviz, testing, imviz

#2511 TST: Grab dev spectral-cube and radio-beam to fix devdeps
  tox.ini
Labels: Upstream fix required, testing, trivial, no-changelog-entry-needed, backport-v3.7.x

#2512 Backport PR #2511 on branch v3.7.x (TST: Grab dev spectral-cube and radio-beam to fix devdeps)
  tox.ini
Labels: Upstream fix required, testing, trivial, no-changelog-entry-needed, backport-v3.7.x

#2516 DOC: Add ipypopout version reporting
  .github/ISSUE_TEMPLATE/bug_report.yaml
  conftest.py
  jdaviz/conftest.py
Labels: testing, trivial, no-changelog-entry-needed

#2515 consistent use of float/int traitlets in plugins
  jdaviz/components/play_pause_widget.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/imviz/tests/test_line_profile_xy.py
Labels: cubeviz, imviz, Ready for final review, trivial, no-changelog-entry-needed

#2520 MNT: Removed GLUE_JUPYTER_LT_0_18
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/utils.py
Labels: trivial, no-changelog-entry-needed

#2513 Add stretch bounds tool to plot option histogram viewer
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_tools.py
  jdaviz/core/tools.py
Labels: feature, Ready for final review, plugin

#2449 plot options support for line in scatter viewer
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: plugin

#2409 Rehome subsets after removing data from viewer.
  CHANGES.rst
  docs/imviz/displayimages.rst
  docs/imviz/img/imviz_removed_data.png
  docs/specviz/displaying.rst
  docs/specviz/img/specviz_remove_data.png
  jdaviz/app.py
  jdaviz/components/tooltip.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/cubeviz/plugins/tests/test_data_selection.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_delete_data.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/conftest.py
Labels: feature, Ready for final review

#2527 Update glue pin
  pyproject.toml
Labels: bug, trivial, no-changelog-entry-needed

#2525 Introduce a new SplineStretch class
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
Labels: feature, plugin

#2531 Bugfix: enable str arguments for app._reparent_subsets
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/tests/test_delete_data.py
Labels: bug, imviz, trivial

#2532 Manual backport of pr 2527 on v3.7.x
  CHANGES.rst
  pyproject.toml
Labels: bug, trivial

#2533 DOC: Explicitly set navigation_with_keys
  docs/conf.py
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.7.x

#2517 Colorbar on histogram
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
  notebooks/concepts/imviz_colorbar_mpl.ipynb
Labels: documentation, feature, Ready for final review, plugin

#2536 Remove warning filters that are no longer needed for testing
  pyproject.toml
Labels: testing, trivial, no-changelog-entry-needed

#2530 Imviz: Aperture photometry sum in scientific notation
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/core/template_mixin.py
Labels: imviz, Ready for final review

#2538 consolidate stretch histogram code
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, no-changelog-entry-needed

#2540 UI: improve margin in expansion panels in plugins
  jdaviz/app.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: cubeviz, embed, UI/UX😍, trivial, no-changelog-entry-needed, specviz2d
