Repository spacetelescope/jdaviz, pull requests merged in 2023-03, with the labels that each got.

#2050 Catalogs: Use SDSS DR17 again
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
Labels: documentation, imviz, trivial, no-changelog-entry-needed, backport-v3.3.x

#2051 Backport PR #2050 on branch v3.3.x (Catalogs: Use SDSS DR17 again)
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
Labels: documentation, imviz, trivial, no-changelog-entry-needed, backport-v3.3.x

#2053 TST: ignore astropy angstrom unit warning
  setup.cfg
Labels: trivial, no-changelog-entry-needed, backport-v3.3.x

#2054 Backport PR #2053 on branch v3.3.x (TST: ignore astropy angstrom unit warning)
  setup.cfg
Labels: trivial, no-changelog-entry-needed, backport-v3.3.x

#2057 TST: temporary fix for spectrum1d mask containing None
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
Labels: specviz, no-changelog-entry-needed, backport-v3.3.x

#2059 Backport PR #2057 on branch v3.3.x (TST: temporary fix for spectrum1d mask containing None)
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
Labels: specviz, no-changelog-entry-needed, backport-v3.3.x

#2056 fix initial slice of uncert-viewer
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
Labels: bug, cubeviz, trivial, backport-v3.3.x

#2033 BUG: Avoid redshift slider warning when setting y_limits
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/specviz/helper.py
Labels: bug, cubeviz, specviz, Ready for final review, backport-v3.3.x

#2060 Backport PR #2056 on branch v3.3.x (fix initial slice of uncert-viewer)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
Labels: bug, cubeviz, trivial, backport-v3.3.x

#2055 fix redshift slider enabled/disabled from helper methods
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/specviz/plugins/viewers.py
Labels: bug, specviz, backport-v3.3.x

#2062 Backport PR #2055 on branch v3.3.x (fix redshift slider enabled/disabled from helper methods)
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/specviz/plugins/viewers.py
Labels: bug, specviz, backport-v3.3.x

#2063 Backport of PR 2033 to v3.3.x (BUG: Avoid redshift slider warning when setting y_limits)
  CHANGES.rst
  jdaviz/configs/specviz/helper.py
Labels: bug, specviz, trivial, skip-changelog-checks

#2058 SubsetSelect: fix type-detection of composite subsets
  CHANGES.rst
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_subsets.py
Labels: bug, Ready for final review, plugin, backport-v3.3.x

#2065 Backport PR #2032 on branch v3.3.x (Simple Aperture Photometry: Make aperture/background checks consistent)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
Labels: bug, imviz, Ready for final review, backport-v3.3.x

#2066 Backport PR #2058 on branch v3.3.x (SubsetSelect: fix type-detection of composite subsets)
  CHANGES.rst
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_subsets.py
Labels: bug, testing, Ready for final review, plugin, backport-v3.3.x

#1879 TST: Un-ignore Numpy warnings
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#2069 TST: update remote data test
  jdaviz/configs/imviz/tests/test_parser.py
Labels: testing, imviz, trivial, no-changelog-entry-needed, backport-v3.3.x

#2071 Backport PR #2069 on branch v3.3.x (TST: update remote data test)
  jdaviz/configs/imviz/tests/test_parser.py
Labels: testing, imviz, no-changelog-entry-needed

#2074 Backport PR 2073 to v3.3.x (BUG: Pressing l no longer update when Line Profiles plugin is closed)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_line_profile_xy.py
Labels: bug, imviz, skip-changelog-checks

#2072 Use get_data internally instead of get_data_from_viewer
  CHANGES.rst
  docs/cubeviz/export_data.rst
  docs/specviz/export_data.rst
  docs/specviz/plugins.rst
  docs/specviz2d/export_data.rst
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/template_mixin.py
  notebooks/CubevizExample.ipynb
  notebooks/SpecvizExample.ipynb
Labels: api, plugin

#2077 TST: Unit str compatibility with astropy 5.3
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/models/physical_models.py
Labels: cubeviz, testing, trivial, no-changelog-entry-needed, backport-v3.3.x

#1890 Support any number of data products from the command line
  CHANGES.rst
  docs/cubeviz/import_data.rst
  docs/imviz/import_data.rst
  docs/mosviz/import_data.rst
  docs/specviz/import_data.rst
  docs/specviz2d/import_data.rst
  jdaviz/cli.py
  jdaviz/configs/cubeviz/cubeviz.ipynb
  jdaviz/configs/default/default.ipynb
  jdaviz/configs/mosviz/mosviz.ipynb
  jdaviz/configs/specviz/specviz.ipynb
  jdaviz/configs/specviz2d/specviz2d.ipynb
  jdaviz/jdaviz_cli.ipynb
  setup.cfg
Labels: enhancement, cubeviz, specviz, mosviz, imviz, specviz2d

#2082 BUG: Pressing HOME no longer crashes
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/core/freezable_state.py
Labels: bug, imviz, trivial

#2052 Use stdatamodels for ASDF-in-FITS support
  .github/ISSUE_TEMPLATE/bug_report.yaml
  CHANGES.rst
  conftest.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/conftest.py
  setup.cfg
  tox.ini
Labels: testing, imviz, trivial

#1953 markers plugin
  CHANGES.rst
  docs/cubeviz/export_data.rst
  docs/cubeviz/plugins.rst
  docs/imviz/displayimages.rst
  docs/imviz/export_data.rst
  docs/imviz/plugins.rst
  docs/mosviz/plugins.rst
  docs/reference/api.rst
  docs/specviz/displaying.rst
  docs/specviz/export_data.rst
  docs/specviz/plugins.rst
  docs/specviz2d/export_data.rst
  docs/specviz2d/plugins.rst
  jdaviz/components/layer_viewer_icon.vue
  jdaviz/components/plugin_table.vue
  jdaviz/components/tooltip.vue
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/default/plugins/__init__.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/markers/__init__.py
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/markers/markers.vue
  jdaviz/configs/default/plugins/markers/tests/__init__.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.vue
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, plugin

#2084 Only run test_plugin_image_with_result in dev job
  .github/workflows/ci_workflows.yml
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: testing, imviz, trivial, no-changelog-entry-needed, backport-v3.3.x

#2088 TST: Update expected answer from astropy PR 14519
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: testing, Ready for final review, no-changelog-entry-needed, backport-v3.3.x

#2099 Line Profile: Remove redundant code
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
Labels: imviz, trivial, no-changelog-entry-needed

#2101 Bug fixes for get_spectra in other configs
  jdaviz/configs/specviz/helper.py
Labels: bug, cubeviz, specviz, mosviz, no-changelog-entry-needed, Affects-dev

#2092 MNT: Remove deprecated APIs
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/specviz/helper.py
  jdaviz/core/astrowidgets_api.py
Labels: cubeviz, specviz, mosviz, api, imviz, Ready for final review

#2109 New color Imviz logo from Jenn
  docs/logos/imviz.png
  docs/logos/imviz.svg
Labels: documentation, UI/UX😍, trivial, no-changelog-entry-needed

#2093 Model fitting table
  CHANGES.rst
  docs/specviz/export_data.rst
  docs/specviz/plugins.rst
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/core/template_mixin.py
Labels: plugin

#2113 DOC: readme tweaks
  README.rst
Labels: documentation, trivial, no-changelog-entry-needed

#2112 aperture photometry: do not hide prev results when resetting
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
Labels: imviz, Ready for final review, backport-v3.4.x

#2115 Backport PR #2112 on branch v3.4.x (aperture photometry: do not hide prev results when resetting)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
Labels: imviz, Ready for final review, backport-v3.4.x

#2119 TST: Fix devdeps failures
  LICENSE.rst
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.4.x

#2104 TST: Unignore Comm deprecation warning from ipywidgets
  setup.cfg
Labels: testing, trivial, no-changelog-entry-needed

#2116 Reverse order of composite subset regions
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_subsets.py
Labels: testing, Ready for final review

#2121 Backport PR #2119 on branch v3.4.x (TST: Fix devdeps failures)
  LICENSE.rst
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.4.x

#2110 BUG: Fix DataTools logic
  CHANGES.rst
  jdaviz/configs/default/plugins/data_tools/data_tools.py
  jdaviz/configs/default/plugins/data_tools/file_chooser.py
Labels: bug, Ready for final review, backport-v3.4.x

#2122 Backport PR #2110 on branch v3.4.x (BUG: Fix DataTools logic)
  CHANGES.rst
  jdaviz/configs/default/plugins/data_tools/data_tools.py
  jdaviz/configs/default/plugins/data_tools/file_chooser.py
Labels: bug, Ready for final review, backport-v3.4.x

#2123 add cshanahan1 to codeowners
  .github/CODEOWNERS
Labels: trivial, no-changelog-entry-needed
