Repository spacetelescope/jdaviz, pull requests merged in 2023-05, with the labels that each got.

#2168 adding support for temporal subsets
  jdaviz/app.py
Labels: trivial, no-changelog-entry-needed

#2171 Fix size calculation for model parameters array
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/core/helpers.py
Labels: bug, cubeviz, Ready for final review

#2152 drop support for Python 3.8
  .github/workflows/ci_workflows.yml
  .github/workflows/publish.yml
  CHANGES.rst
  docs/installation.rst
  setup.cfg
Labels: documentation, testing

#2177 Add note about python 3.8 and remove ipython pin
  docs/index.rst
  setup.cfg
Labels: documentation, trivial, no-changelog-entry-needed

#1661 move build configuration into `pyproject.toml`
  .flake8
  CHANGES.rst
  MANIFEST.in
  docs/conf.py
  pyproject.toml
  setup.cfg
  tox.ini
Labels: documentation, testing

#2176 ENH: Imviz parser optimizations
  CHANGES.rst
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: enhancement, imviz, Ready for final review

#2180 Pin maxversion of glue-core
  pyproject.toml
Labels: trivial, no-changelog-entry-needed, backport-v3.4.x

#2181 manual backport of PR #2180
  setup.cfg
Labels: trivial, no-changelog-entry-needed

#2157 Subset Plugin updated to use get_subsets method
  CHANGES.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
  jdaviz/tests/test_subsets.py
Labels: UI/UX😍, testing, plugin

#2153 basic single-viewer/layer histogram in plot options
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/conftest.py
Labels: Ready for final review, plugin

#2185 Fix obscure mouseover bug when empty WCS is used for Imviz
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: bug, imviz, trivial, no-changelog-entry-needed

#2186 lcviz quality of life tweaks
  jdaviz/app.py
  jdaviz/components/viewer_data_select.vue
  jdaviz/container.vue
  jdaviz/core/template_mixin.py
Labels: embed, Ready for final review, no-changelog-entry-needed

#2184 DOC: get_subsets do not return masked subset state
  jdaviz/app.py
Labels: documentation, Ready for final review, no-changelog-entry-needed

#2156 Let app.get_viewer() fallback to ID when reference is None
  jdaviz/app.py
  jdaviz/configs/imviz/tests/test_viewers.py
Labels: imviz, Ready for final review, no-changelog-entry-needed

#2196 unpin max glue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/tests/test_data_menu.py
  pyproject.toml
Labels: trivial, no-changelog-entry-needed, backport-v3.4.x

#2192 Disable Canvas Rotation Plugin in non-Chromium Browsers
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.vue
Labels: documentation, imviz, Ready for final review

#2198 unpin max glue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  setup.cfg
Labels: no-changelog-entry-needed, specviz2d

#2182 Enable editing of composite subsets in the subset plugin
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/tests/test_subsets.py
Labels: UI/UX😍, testing, Ready for final review, plugin

#2193 plot options support for scatter viewers/layers
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/core/template_mixin.py
Labels: Ready for final review, plugin

#2199 Add option to get_data to apply spectral subset to collapse spatial
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_helpers.py
Labels: cubeviz, specviz, Ready for final review

#2213 generalize markers code for future downstream use
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/core/template_mixin.py
Labels: imviz, Ready for final review, no-changelog-entry-needed

#2214 generalize to allow downstream apps to set masked subset
  CHANGES.rst
  jdaviz/core/helpers.py
Labels: api, Ready for final review

#2215 Fix unit conversion for PluginMarks and y-limits
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/core/marks.py
Labels: specviz, Ready for final review, no-changelog-entry-needed, plugin

#2220 Update release instructions
  docs/dev/release.rst
Labels: documentation, no-changelog-entry-needed

#2223 Replace subset_to_apply in docs where possible
  docs/cubeviz/export_data.rst
  docs/specviz/export_data.rst
  jdaviz/configs/cubeviz/helper.py
  notebooks/SpecvizExample.ipynb
Labels: documentation, cubeviz, no-changelog-entry-needed, backport-v3.5.x
