Repository spacetelescope/jdaviz, pull requests merged in 2023-09, with the labels that each got.

#2416 allow downstream apps to override docs link
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/markers/markers.vue
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.vue
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, mosviz, imviz, trivial, no-changelog-entry-needed, plugin, specviz2d

#2407 enable stretch histogram in 2d spectrum viewers
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: mosviz, Ready for final review, specviz2d

#2417 fix event handling for choosing config from launcher
  CHANGES.rst
  jdaviz/core/launcher.py
  jdaviz/core/launcher.vue
Labels: bug, Ready for final review

#2420 fix: support for notebook 7
  CHANGES.rst
  jdaviz/app.vue
Labels: bug, embed, backport-v3.6.x

#2423 Backport PR #2420 on branch v3.6.x (fix: support for notebook 7)
  CHANGES.rst
  jdaviz/app.vue
Labels: bug, embed, backport-v3.6.x

#2424 Fix explanation in markdown cell of SpecvizExample notebook
  notebooks/SpecvizExample.ipynb
Labels: documentation, trivial, no-changelog-entry-needed

#2428 Backport PR #2424 on branch v3.6.x (Fix explanation in markdown cell of SpecvizExample notebook)
  notebooks/SpecvizExample.ipynb
Labels: documentation, trivial, no-changelog-entry-needed

#2425 prevent overwriting user-API methods
  jdaviz/core/user_api.py
Labels: api, trivial, no-changelog-entry-needed

#2413 fix footprint defaults when changing traitlets before plugin active
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/tests/test_footprints.py
Labels: imviz, Ready for final review

#2432 TST: Also pull in scikit-image dev
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2433 Backport PR #2432 on branch v3.6.x (TST: Also pull in scikit-image dev)
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2332 Use new "true circle" tool from glue-jupyter
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/tests/test_subsets.py
  pyproject.toml
Labels: cubeviz, testing, imviz, Ready for final review

#2430 Enable multiselect in subset plugin for recentering
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/components/plugin_subset_select.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_subsets.py
Labels: imviz, plugin

#2441 Debug standalone build
  standalone/hooks/hook-jupyter_client.py
Labels: trivial, no-changelog-entry-needed

#2443 MNT: Bump actions/checkout to v4
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/predeps_workflows.yml
  .github/workflows/publish.yml
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2445 Backport PR #2443 on branch v3.6.x (MNT: Bump actions/checkout to v4)
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/predeps_workflows.yml
  .github/workflows/publish.yml
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2448 Backport PR #2434 on branch v3.6.x (Fix Mosviz slit overlay)
  CHANGES.rst
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  notebooks/concepts/mosviz_overplot_slit.ipynb
Labels: bug, documentation, mosviz, Ready for final review, backport-v3.6.x

#2440 API access (hidden) to disable cubeviz movie UI
  jdaviz/app.py
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/default/default.yaml
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz2d/specviz2d.yaml
Labels: cubeviz, no-changelog-entry-needed

#2451 TST: Ignore ASDF warning about gwcs-1.0.0 schema
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: mosviz, testing, imviz, trivial, no-changelog-entry-needed, backport-v3.6.x

#2452 Backport PR #2451 on branch v3.6.x (TST: Ignore ASDF warning about gwcs-1.0.0 schema)
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: mosviz, testing, imviz, trivial, no-changelog-entry-needed, backport-v3.6.x

#2456 TST: ignore sentinel deprecation warning from traitlets
  pyproject.toml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.6.x

#2312 visibility logic for lcviz data entries
  jdaviz/app.py
  jdaviz/components/viewer_data_select.vue
Labels: no-changelog-entry-needed

#2401 Aperture photometry batch mode API
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/template_mixin.py
Labels: api, imviz

#2458 update icons
  jdaviz/data/icons/home_match.svg
  jdaviz/data/icons/pan_x_match.svg
  jdaviz/data/icons/panzoom_match.svg
  jdaviz/data/icons/zoom_box.svg
  jdaviz/data/icons/zoom_box_match.svg
  jdaviz/data/icons/zoom_xrange.svg
  jdaviz/data/icons/zoom_xrange_match.svg
  jdaviz/data/icons/zoom_yrange_match.svg
Labels: UI/UX😍, trivial, no-changelog-entry-needed

#2463 Revert "TST: Ignore ASDF warning about gwcs-1.0.0 schema"
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: mosviz, imviz, trivial, no-changelog-entry-needed, backport-v3.6.x

#2464 Backport PR #2463 on branch v3.6.x (Revert "TST: Ignore ASDF warning about gwcs-1.0.0 schema")
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: mosviz, imviz, trivial, no-changelog-entry-needed, backport-v3.6.x

#2450 improvements to is_active ping logic
  CHANGES.rst
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_plugin_is_active.py
Labels: bug, performance

#2462 Add masked subset support
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/tests/test_subsets.py
  jdaviz/utils.py
Labels: documentation, cubeviz, specviz, mosviz, embed, testing, imviz, specviz2d

#2469 API access (hidden) to disable moment map server-side saving
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
Labels: cubeviz, trivial, no-changelog-entry-needed

#2472 TST: Force numpy-dev in devdeps
  tox.ini
Labels: bug, testing, trivial, no-changelog-entry-needed

#2474 update bugfix release instructions
  docs/dev/release.rst
Labels: documentation, no-changelog-entry-needed

#2475 Preparing release v3.7.0
  CHANGES.rst
Labels: no-changelog-entry-needed

#2477 Update for 3.7.x
  CHANGES.rst
  CITATION.cff
Labels: trivial, skip-changelog-checks

#2478 TST: Fix specviz2d test failure
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: testing, no-changelog-entry-needed, specviz2d, backport-v3.7.x

#2480 Backport PR #2478 on branch v3.7.x (TST: Fix specviz2d test failure)
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: testing, no-changelog-entry-needed, specviz2d, backport-v3.7.x

#2438 added circular annulus subset to cubviz toolbar
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/tests/test_subsets.py
Labels: cubeviz

#2479 bugfix for viewer rename when viewer ID is different from reference name
  CHANGES.rst
  jdaviz/app.py
Labels: bug, backport-v3.7.x

#2481 TST: Use tmp_path in test_autoconfig
  jdaviz/core/tests/test_autoconfig.py
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.7.x

#2482 Backport PR #2481 on branch v3.7.x (TST: Use tmp_path in test_autoconfig)
  jdaviz/core/tests/test_autoconfig.py
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.7.x

#2483 Backport PR #2479: bugfix for viewer rename when viewer ID is differe…
  CHANGES.rst
  jdaviz/app.py
Labels: bug, Ready for final review, no-changelog-entry-needed

#2431 BUG: Moment map retains WCS on write
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: bug, cubeviz, Ready for final review, backport-v3.7.x

#2486 Backport PR #2431 on branch v3.7.x (BUG: Moment map retains WCS on write)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: bug, cubeviz, Ready for final review, backport-v3.7.x

#2437 add fit_non_finite flag to model_fitting 1D
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review

#2488 Backport PR #2473 on branch v3.7.x (TST: Python 3.12)
  .github/workflows/ci_workflows.yml
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  pyproject.toml
  tox.ini
Labels: testing, trivial, backport-v3.7.x

#2489 TST: Use mpldev for devdeps
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.7.x

#2490 Backport PR #2489 on branch v3.7.x (TST: Use mpldev for devdeps)
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.7.x
