Repository spacetelescope/jdaviz, pull requests merged in 2023-01, with the labels that each got.

#1954 fix 1d spectrum fitting for spatial-subset in cubeviz
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: Ready for final review

#1948 Add Direct Image to expected file list for NIRCam
  CHANGES.rst
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: bug, mosviz

#1952 Model fitting: re-estimate model parameters
  CHANGES.rst
  jdaviz/components/tooltip.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: Ready for final review, plugin

#1935 prohibit subsets that do not overlap data range within plugins
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/core/template_mixin.py
Labels: specviz, Ready for final review, plugin

#1851 Mosviz Retrieve SourceID from meta
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/mosviz/tests/test_parsers.py
  setup.cfg
Labels: mosviz, Upstream fix required

#1957 fix default spectrum 2d viewer assignment for slit overlay plugin
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
Labels: bug, mosviz, Ready for final review

#1788 MNT: Unpin maxversion of ipywidgets now that voila 0.4 is out, minversion ipywidgets now 8
  setup.cfg
Labels: bug, embed, no-changelog-entry-needed

#1965 TST: Ignore ioloop DeprecationWarning from pyzmq
  setup.cfg
Labels: trivial, no-changelog-entry-needed, backport-v3.2.x

#1966 Backport PR #1965 on branch v3.2.x (TST: Ignore ioloop DeprecationWarning from pyzmq)
  setup.cfg
Labels: trivial, no-changelog-entry-needed, backport-v3.2.x

#1894 Improve coordinates display panel for spectrum viewer
  CHANGES.rst
  docs/specviz/displaying.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.vue
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/core/marks.py
Labels: cubeviz, specviz, mosviz, plugin, specviz2d

#1970 Disable Unit Conversion plugin for now
  CHANGES.rst
  docs/specviz/plugins.rst
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
Labels: specviz, Ready for final review, backport-v3.2.x

#1978 Backport PR #1970 on branch v3.2.x (Disable Unit Conversion plugin for now)
  CHANGES.rst
  docs/specviz/plugins.rst
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
Labels: documentation, specviz, Ready for final review, backport-v3.2.x

#1971 BUG: Home after markers no longer crash Imviz
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/core/freezable_state.py
Labels: bug, Ready for final review, backport-v3.2.x

#1979 Backport PR #1971 on branch v3.2.x (BUG: Home after markers no longer crash Imviz)
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/core/freezable_state.py
Labels: bug, imviz, Ready for final review, backport-v3.2.x

#1958 Change nan fallback in MOS Table to avoid JSON Serialization Warning
  CHANGES.rst
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
Labels: bug, mosviz, backport-v3.2.x

#1981 enable link to specviz2d docs
  CHANGES.rst
  jdaviz/app.vue
Labels: embed, UI/UX😍, trivial

#1973 Generate Gaussian Smooth data labels via App-wide data labeler
  CHANGES.rst
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
Labels: cubeviz, specviz, plugin
