Repository spacetelescope/jdaviz, pull requests merged in 2023-04, with the labels that each got.

#1983 Canvas rotation
  CHANGES.rst
  docs/imviz/plugins.rst
  docs/reference/api.rst
  jdaviz/app.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/rotate_canvas/__init__.py
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.py
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.vue
  jdaviz/configs/imviz/plugins/rotate_canvas/tests/__init__.py
  jdaviz/configs/imviz/plugins/rotate_canvas/tests/test_rotate_canvas.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/container.vue
  jdaviz/core/events.py
  jdaviz/data/icons/left-east.svg
  jdaviz/data/icons/right-east.svg
  setup.cfg
Labels: documentation, embed, imviz, Ready for final review

#2117 support cubeviz.get_data(function=True)
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
Labels: cubeviz, api, Ready for final review

#2136 MNT: glue-core v1.9.0 is bad glue
  setup.cfg
Labels: Upstream fix required, :fire:, trivial, no-changelog-entry-needed, backport-v3.4.x

#2137 Backport PR #2136 on branch v3.4.x (MNT: glue-core v1.9.0 is bad glue)
  setup.cfg
Labels: Upstream fix required, :fire:, trivial, no-changelog-entry-needed, backport-v3.4.x

#2131 display units: cubeviz/slice plugin
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/helpers.py
  jdaviz/core/marks.py
Labels: cubeviz, specviz, Ready for final review, no-changelog-entry-needed

#2124 Auto-configuration identification
  CHANGES.rst
  jdaviz/core/data_formats.py
  jdaviz/core/tests/test_data_menu.py
Labels: MAST

#2145 DOC: Add dev tag to release procedures
  docs/dev/release.rst
Labels: bug, documentation, no-changelog-entry-needed

#2138 Add option to see full glue state tree for spectral subsets
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_subsets.py
Labels: testing, Ready for final review

#2149 TST: Re-enable dev testing for bqplot-image-gl
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed

#2132 display units: fix failing tests
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/helpers.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
  setup.cfg
Labels: specviz, mosviz, Ready for final review, no-changelog-entry-needed

#1822 Towards Roman Level 2 ASDF data product support
  .github/workflows/ci_cron_weekly.yml
  CHANGES.rst
  conftest.py
  docs/conf.py
  docs/imviz/import_data.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/data/roman_wfi_image_model.asdf
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_parser_roman.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/conftest.py
  notebooks/concepts/imviz_roman_asdf.ipynb
  setup.cfg
  tox.ini
Labels: documentation, feature, imviz, Ready for final review, Extra CI

#2155 Fix bad MAST URI
  jdaviz/core/tests/test_data_menu.py
Labels: imviz, trivial, no-changelog-entry-needed

#2146 Update Mosviz parser doc and fix NIRSpec auto-load
  CHANGES.rst
  docs/mosviz/import_data.rst
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/configs/mosviz/tests/test_parsers.py
  notebooks/MosvizExample.ipynb
Labels: bug, documentation, mosviz, feature

#2163 Add links to the JWebbinar notebooks and videos to the docs
  README.rst
  docs/index.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed

#2159 DOC: What you see is not what you get when it comes to Subset shape in aperture photometry
  docs/imviz/plugins.rst
Labels: bug, documentation, imviz, Ready for final review, no-changelog-entry-needed, backport-v3.4.x

#2166 Backport PR #2159 on branch v3.4.x (DOC: What you see is not what you get when it comes to Subset shape in aperture photometry)
  docs/imviz/plugins.rst
Labels: bug, documentation, imviz, Ready for final review, no-changelog-entry-needed, backport-v3.4.x

#2167 DOC: Add warning to aperture photometry plugin about apertures
  docs/imviz/plugins.rst
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.4.x

#2170 TST: Fix devdeps failures
  jdaviz/configs/imviz/tests/test_regions.py
  tox.ini
Labels: testing, imviz, trivial, no-changelog-entry-needed

#2174 Backport PR #2170 on branch v3.4.x (TST: Fix devdeps failures)
  jdaviz/configs/imviz/tests/test_regions.py
  tox.ini
Labels: testing, imviz, trivial, no-changelog-entry-needed

#2173 IPython 8.13+ is Python 3.9 only
  setup.cfg
Labels: testing, :fire:, trivial, no-changelog-entry-needed, backport-v3.4.x

#2175 Backport PR #2173 on branch v3.4.x (IPython 8.13+ is Python 3.9 only)
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  setup.cfg
Labels: testing, :fire:, trivial, no-changelog-entry-needed, backport-v3.4.x
