Repository spacetelescope/jdaviz, pull requests merged in 2023-11, with the labels that each got.

#2537 Bugfix: correction to Plot Options stretch function curve
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: bug, imviz, Ready for final review, plugin, backport-v3.7.x

#2541 Don't try to update viewer state if it was deleted
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/imviz/tests/test_viewers.py
Labels: bug, plugin, backport-v3.7.x

#2543 Have viewer settings come before layer settings in Plot Options
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: UI/UX😍, trivial, plugin

#2544 Backport PR #2541 on branch v3.7.x (Don't try to update viewer state if it was deleted)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/imviz/tests/test_viewers.py
Labels: bug, plugin, backport-v3.7.x

#2554 Adding icon for stretch bounds tool
  jdaviz/core/tools.py
  jdaviz/data/icons/stretch_bounds.svg
Labels: UI/UX😍, no-changelog-entry-needed

#2555 expand "show data not in viewer" for empty new viewer
  jdaviz/components/viewer_data_select.vue
Labels: UI/UX😍, trivial, no-changelog-entry-needed

#2556 only include stretch tool in stretch histogram
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/core/template_mixin.py
Labels: bug, trivial

#2557 always show viewer-level options regardless of selected layer
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: UI/UX😍, trivial

#2561 TST: Adjust threshold for codecov patch to be non-zero
  codecov.yml
Labels: trivial, no-changelog-entry-needed

#2558 Add button to automatically apply RGB presets
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
Labels: feature, UI/UX😍, Ready for final review, plugin

#2568 Reverse preset color order
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
Labels: imviz, trivial

#2560 plugins: disable action button while computing
  CHANGES.rst
  jdaviz/components/plugin_add_results.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/core/template_mixin.py
Labels: cubeviz, UI/UX😍, imviz, Ready for final review, plugin, specviz2d

#2562 plugin API method to close_in_tray
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: Ready for final review, plugin

#2567 Allow change in cmap_att on change in data components
  jdaviz/core/template_mixin.py
Labels: bug, trivial, no-changelog-entry-needed

#2529 Fix stretch histogram reset_limits
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  pyproject.toml
Labels: bug, trivial, no-changelog-entry-needed, Affects-dev, plugin

#2569 Update jdaviz developer installation instructions
  docs/installation.rst
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#2571 plugin-action-button component for consistent styling
  CHANGES.rst
  docs/dev/ui_style_guide.rst
  jdaviz/app.py
  jdaviz/components/plugin_action_button.vue
  jdaviz/components/plugin_add_results.vue
  jdaviz/components/plugin_table.vue
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
Labels: documentation, UI/UX😍, imviz, trivial

#2574 UI/UX tweaks for layer tabs
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/plugin_layer_select_tabs.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/components/tooltip.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
Labels: embed, Ready for final review

#2578 Remove deprecated methods and arguments.
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
Labels: specviz, imviz, Ready for final review

#2563 viewer user-APIs exposing zoom/limit options
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_export_plots.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/tests/test_footprints.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
  jdaviz/tests/test_app.py
  jdaviz/tests/test_subsets.py
  jdaviz/tests/test_user_api.py
  notebooks/concepts/imviz_color_display.ipynb
  notebooks/concepts/imviz_dithered_gwcs.ipynb
Labels: cubeviz, api, Ready for final review

#2575 specviz2d/mosviz: matched mouseover markers
  CHANGES.rst
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/core/marks.py
Labels: mosviz, UI/UX😍, Ready for final review, specviz2d

#2583 Don't set style twice
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: trivial, no-changelog-entry-needed

#2582 stretch histogram support multi-select
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: cubeviz, imviz, Ready for final review
