Repository spacetelescope/jdaviz, pull requests merged in 2023-06, with the labels that each got.

#2231 TST: Change PIP_EXTRA_INDEX_URL
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.5.x

#2232 Backport PR #2231 on branch v3.5.x (TST: Change PIP_EXTRA_INDEX_URL)
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.5.x

#2226 allow downstream apps to set what classes are considered native marks
  jdaviz/configs/default/plugins/viewers.py
Labels: trivial, no-changelog-entry-needed

#2222 plugin results: support overwriting when data loaded in multiple viewers
  jdaviz/components/plugin_add_results.vue
  jdaviz/core/template_mixin.py
Labels: Ready for final review, no-changelog-entry-needed

#2235 reverts removal of call to set_plot_axes when loading data into viewer
  jdaviz/app.py
  jdaviz/configs/default/plugins/viewers.py
Labels: trivial, no-changelog-entry-needed

#2234 Update subset plugin UI
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
Labels: UI/UX😍, Ready for final review, no-changelog-entry-needed

#2228 Add docs page to explain how to create jdaviz-readable products
  docs/create_products.rst
  docs/cubeviz/import_data.rst
  docs/index.rst
  docs/mosviz/import_data.rst
  docs/specviz/import_data.rst
  docs/specviz2d/import_data.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed

#2244 BUG: Fix ellipse translation in app.get_subsets()
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_subsets.py
Labels: bug, testing, trivial, backport-v3.5.x

#2246 Backport PR 2244 to v3.5.x (BUG: Fix ellipse translation in app.get_subsets())
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_subsets.py
Labels: bug, testing, trivial

#2201 FEAT: Load annulus from file, load reg files from IMPORT DATA
  CHANGES.rst
  docs/imviz/import_data.rst
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/data/ds9_annulus_01.reg
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/core/helpers.py
  jdaviz/core/region_translators.py
  pyproject.toml
Labels: documentation, feature, imviz

#1912 Added .ico and .svg files
  docs/logos/cube.ico
  docs/logos/cube.svg
  docs/logos/imviz.ico
  docs/logos/mos.ico
  docs/logos/mos.svg
  docs/logos/specicon.svg
  docs/logos/specviz.ico
  docs/logos/specviz2d.ico
Labels: documentation, no-changelog-entry-needed

#2237 Add app method to simplify spectral subset
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/tests/test_subsets.py
Labels: UI/UX😍, testing, Ready for final review, plugin

#2219 specviz2d: support plotting 1d spectrum with spectral axis
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/mosviz/plugins/__init__.py
  jdaviz/configs/mosviz/plugins/tools.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_helper.py
  jdaviz/configs/mosviz/tests/test_tools.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/conftest.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tools.py
  jdaviz/data/icons/home_match.svg
  jdaviz/data/icons/pan_x_match.svg
  jdaviz/data/icons/pan_y_match.svg
  jdaviz/data/icons/zoom_xrange.svg
  jdaviz/data/icons/zoom_xrange_match.svg
  jdaviz/data/icons/zoom_yrange.svg
  jdaviz/data/icons/zoom_yrange_match.svg
Labels: mosviz, Ready for final review, specviz2d

#2252 subset plugin: fallback if unit cannot be found
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
Labels: bug, trivial, no-changelog-entry-needed

#2255 re-add stdatamodels to devdeps
  tox.ini
Labels: testing, no-changelog-entry-needed

#2256 temporary subset plugin patch to handle non-spectral range subsets
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
Labels: bug, Ready for final review, no-changelog-entry-needed

#2254 Plugin plot subcomponent
  CHANGES.rst
  jdaviz/components/plugin_plot.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/imviz/tests/test_line_profile_xy.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/template_mixin.py
Labels: imviz, Ready for final review, plugin

#2258 BUG: Fix mouseover behavior in Cubeviz
  CHANGES.rst
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: bug, imviz, trivial, backport-v3.5.x

#2242 Deprecate subset getters
  CHANGES.rst
  docs/cubeviz/export_data.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/tests/test_data_retrieval.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/imviz/tests/test_helper.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_app.py
  jdaviz/tests/test_subsets.py
  notebooks/CubevizExample.ipynb
  notebooks/ImvizDitheredExample.ipynb
  notebooks/ImvizExample.ipynb
  notebooks/concepts/cubeviz_data_interactions.ipynb
  notebooks/concepts/cubeviz_ndarray_gif.ipynb
  notebooks/concepts/default_programmatic_viewers_from_blank.ipynb
  notebooks/concepts/imviz_roman_asdf.ipynb
  notebooks/concepts/mosviz_concept.ipynb
Labels: documentation, cubeviz, testing, Ready for final review

#2260 MNT: Add .mailmap
  .mailmap
Labels: trivial, no-changelog-entry-needed, backport-v3.5.x

#2262 Backport PR #2260 on branch v3.5.x (MNT: Add .mailmap)
  .mailmap
Labels: trivial, no-changelog-entry-needed, backport-v3.5.x

#2240 FEAT: Annulus draw tool for Imviz
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/core/tools.py
  jdaviz/data/icons/select_annulus.svg
  jdaviz/tests/test_subsets.py
  pyproject.toml
Labels: bug, feature, imviz, Ready for final review

#2269 MNT: Temporarily pin voila<0.5
  pyproject.toml
  tox.ini
Labels: bug, trivial, no-changelog-entry-needed, backport-v3.5.x

#2272 Backport PR #2269 on branch v3.5.x (MNT: Temporarily pin voila<0.5)
  pyproject.toml
  tox.ini
Labels: bug, trivial, no-changelog-entry-needed, backport-v3.5.x

#2274 TST: Ignore DeprecationWarning from asteval
  pyproject.toml
Labels: Upstream fix required, testing, trivial, no-changelog-entry-needed, backport-v3.5.x

#2275 Backport PR #2274 on branch v3.5.x (TST: Ignore DeprecationWarning from asteval)
  pyproject.toml
Labels: Upstream fix required, testing, trivial, no-changelog-entry-needed, backport-v3.5.x

#2278 Add doc for windows latency issue
  docs/known_bugs.rst
Labels: documentation, no-changelog-entry-needed
