Repository spacetelescope/jdaviz, pull requests merged in 2024-03, with the labels that each got.

#2737 Cubeviz spectral extraction to ignore NaNs by masking them out
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: bug, cubeviz, Ready for final review, plugin

#2738 TST: Catalogs failure to bubble up when fails
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: testing, imviz, trivial, no-changelog-entry-needed, plugin, backport-v3.8.x

#2739 Backport PR #2738 on branch v3.8.x (TST: Catalogs failure to bubble up when fails)
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: testing, imviz, trivial, no-changelog-entry-needed, plugin, backport-v3.8.x

#2734 Fix reparenting subsets between rotation orientations
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/tests/test_delete_data.py
  jdaviz/configs/imviz/tests/test_orientation.py
Labels: bug, imviz, Ready for final review

#2735 BUG: Always downsample histogram for Imviz in Plot Options
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: bug, imviz, performance, plugin, backport-v3.8.x

#2740 Backport PR #2735 on branch v3.8.x (BUG: Always downsample histogram for Imviz in Plot Options)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: bug, imviz, performance, plugin, backport-v3.8.x

#2743 Improve viewer creator styling
  jdaviz/app.vue
  jdaviz/components/tooltip.vue
Labels: embed, UI/UX😍, trivial, no-changelog-entry-needed

#2745 support deleting all viewers without crashing app
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/core/template_mixin.py
Labels: Ready for final review, no-changelog-entry-needed, plugin

#2744 allow overwriting existing registry entries
  jdaviz/core/registries.py
Labels: Ready for final review, no-changelog-entry-needed, Affects-dev

#2715 slice: refactor plugin to decouple from cube
  CHANGES.rst
  docs/cubeviz/plugins.rst
  jdaviz/components/toolbar_nested.py
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/core/events.py
  jdaviz/core/marks.py
  notebooks/concepts/cubeviz_ndarray_gif.ipynb
Labels: cubeviz, imviz, Ready for final review, plugin

#2722 Export plugin (deprecates/replaces "Export Plot")
  CHANGES.rst
  docs/cubeviz/plugins.rst
  docs/imviz/plugins.rst
  docs/mosviz/plugins.rst
  docs/reference/api_plugins.rst
  docs/specviz/plugins.rst
  docs/specviz2d/plugins.rst
  jdaviz/app.py
  jdaviz/components/multiselect_toggle.vue
  jdaviz/components/plugin_inline_select.vue
  jdaviz/components/plugin_inline_select_item.vue
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_export_plots.py
  jdaviz/configs/default/default.yaml
  jdaviz/configs/default/plugins/__init__.py
  jdaviz/configs/default/plugins/export/__init__.py
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export_plot/__init__.py
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_template_mixin.py
  jdaviz/core/tools.py
  jdaviz/tests/test_app.py
Labels: documentation, cubeviz, specviz, mosviz, imviz, Ready for final review, plugin, specviz2d

#2748 Change moment input field text to 'rest wavelength'
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
Labels: cubeviz, UI/UX😍, trivial, no-changelog-entry-needed, plugin

#2750 BUG: Fix click to center on multiple visible layers when linked by WCS
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_tools.py
Labels: bug, imviz, Ready for final review, no-changelog-entry-needed, Affects-dev, plugin

#2754 Fix moment reference wavelength text again
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
Labels: cubeviz, UI/UX😍, trivial, no-changelog-entry-needed, plugin

#2756 Fix inconsistent capitalization across UI elements
  docs/cubeviz/plugins.rst
  docs/dev/ui_style_guide.rst
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: documentation, Ready for final review, no-changelog-entry-needed, plugin

#2755 Export plugin: table support
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/events.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: Ready for final review, plugin

#2759 Debug orientation operations with multiple viewers
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/tests/test_orientation.py
Labels: bug, imviz, Ready for final review, plugin

#2747 Add test similar to lcviz
  jdaviz/configs/specviz/tests/test_viewers.py
Labels: specviz, testing, trivial, no-changelog-entry-needed

#2761 Implement associations between Data layers
  jdaviz/app.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_app.py
Labels: imviz, Ready for final review, no-changelog-entry-needed, plugin

#2766 Improve plugin action button contrast in dark mode
  jdaviz/components/plugin_action_button.vue
  jdaviz/main_styles.vue
Labels: embed, UI/UX😍, Ready for final review, no-changelog-entry-needed

#2711 Context-aware plugin relevancy
  docs/dev/ui_style_guide.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
Labels: documentation, cubeviz, embed, Ready for final review, no-changelog-entry-needed, plugin

#2764 Prevent recursive matched zoom in Imviz
  CHANGES.rst
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/core/tools.py
Labels: bug, imviz, Ready for final review, plugin

#2765 Adding default DQ flag mappings and IO methods
  jdaviz/configs/default/plugins/data_quality/__init__.py
  jdaviz/configs/default/plugins/data_quality/dq_utils.py
  jdaviz/configs/default/plugins/data_quality/tests/__init__.py
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/data/data_quality/jwst.csv
  jdaviz/data/data_quality/roman.csv
Labels: no-changelog-entry-needed, plugin

#2751 Fix reference data for WCS to Pixels to WCS
  jdaviz/app.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/configs/imviz/tests/test_wcs_utils.py
Labels: bug, imviz, Ready for final review, no-changelog-entry-needed, Affects-dev

#2752 add pixel scale factor to metadata and API translation
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: cubeviz, Ready for final review, skip-changelog-checks, no-changelog-entry-needed, plugin

#2769 Updates to cubeviz docs
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/displayspectra.rst
  docs/cubeviz/img/cubeviztoolbar.jpg
  docs/cubeviz/img/cubeviztoolbar.png
  docs/cubeviz/img/subset_creation.png
  docs/cubeviz/import_data.rst
  docs/cubeviz/index.rst
Labels: documentation, trivial, no-changelog-entry-needed

#2760 Add ability to export subsets
  CHANGES.rst
  docs/cubeviz/plugins.rst
  docs/imviz/plugins.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
Labels: cubeviz, imviz, Ready for final review, plugin

#2772 Fix broken div in export plugin
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.vue
Labels: trivial, plugin

#2768 plugins: scroll-to functionality
  CHANGES.rst
  docs/dev/ui_style_guide.rst
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/markers/markers.vue
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.vue
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/core/template_mixin.py
  jdaviz/core/tools.py
Labels: documentation, cubeviz, specviz, mosviz, imviz, Ready for final review, plugin, specviz2d

#2742 Open data menu on new blank viewer
  jdaviz/app.py
  jdaviz/components/viewer_data_select.vue
Labels: UI/UX😍, Ready for final review, no-changelog-entry-needed
