Repository spacetelescope/jdaviz, pull requests merged in 2024-10, with the labels that each got.

#3203 fix specviz2d matched mousover marker
  CHANGES.rst
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: imviz, trivial, plugin, backport-v3.10.x

#3208 Backport PR #3203 on branch v3.10.x (fix specviz2d matched mousover marker)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: imviz, trivial, plugin, backport-v3.10.x

#3206 Fix units JSON units error in notebook
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_unit_conversion.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/custom_units.py
  jdaviz/core/validunits.py
Labels: cubeviz, specviz, testing, imviz, Ready for final review, plugin

#3194 Level 1 and Level 2 data product support in Rampviz
  CHANGES.rst
  jdaviz/configs/default/plugins/data_quality/data_quality.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/rampviz/helper.py
  jdaviz/configs/rampviz/plugins/parsers.py
  jdaviz/configs/rampviz/plugins/ramp_extraction/ramp_extraction.py
  jdaviz/configs/rampviz/plugins/viewers.py
  jdaviz/configs/rampviz/tests/test_parser.py
  jdaviz/conftest.py
  jdaviz/core/tools.py
Labels: imviz, plugin, Extra CI, rampviz

#3211 add spectral unit to moment map 0 display unit, simplify logic
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, Ready for final review, plugin

#3157 fix spectral extraction previews on unit change
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/core/marks.py
Labels: cubeviz, specviz, Ready for final review, no-changelog-entry-needed, plugin

#3212 Moment map continuum unit conversion
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, no-changelog-entry-needed, plugin

#3207 Fix "Unit conversion when equivalency needed breaks contours in cubeviz"
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_unit_conversion.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/utils.py
Labels: bug, cubeviz, no-changelog-entry-needed, plugin

#3218 Fix popouts without voila
  pyproject.toml
Labels: no-changelog-entry-needed

#3216 Fix unit handling in continuum and moment calculations
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/core/template_mixin.py
  pyproject.toml
Labels: bug, cubeviz, plugin

#3219 use correct spectral density equivalencies for marker unit changes
  CHANGES.rst
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/core/marks.py
Labels: bug, cubeviz, specviz, trivial

#3215 imviz matched zoom: use center & radius instead of corners
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/core/tools.py
Labels: imviz, plugin, backport-v4.0.x

#3226 Backport PR #3215 on branch v4.0.x (imviz matched zoom: use center & radius instead of corners)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/core/tools.py
Labels: imviz, plugin, backport-v4.0.x

#3231 apply api-hints styling to aperture_method in spectral extraction
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
Labels: cubeviz, UI/UX😍, trivial, plugin, backport-v4.0.x

#3233 Backport PR #3231 on branch v4.0.x (apply api-hints styling to aperture_method in spectral extraction)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
Labels: cubeviz, UI/UX😍, trivial, plugin, backport-v4.0.x

#3221 Consolidate Cubeviz parser conversions
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/utils.py
Labels: cubeviz, no-changelog-entry-needed, Affects-dev, plugin

#3236 Backport PR #3232 on branch v4.0.x (Remove minpin on bqplot-image-gl)
  pyproject.toml
Labels: trivial, no-changelog-entry-needed, backport-v4.0.x

#3220 stylized layer icons in legend (future data-menu)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/layer_viewer_icon_stylized.vue
  jdaviz/components/plugin_layer_select_tabs.vue
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/core/template_mixin.py
  jdaviz/utils.py
Labels: UI/UX😍, Ready for final review, plugin

#3230 postpone updating stretch hist if image_color_value not yet set
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: trivial, no-changelog-entry-needed, plugin, backport-v4.0.x

#3237 Backport PR #3230 on branch v4.0.x (postpone updating stretch hist if image_color_value not yet set)
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: trivial, no-changelog-entry-needed, plugin, backport-v4.0.x

#3239 disable file imports when running on external server
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
Labels: bug, imviz, Ready for final review, skip-changelog-checks, plugin, :zzz:backport-v3.10.x, backport-v4.0.x

#3240 Backport PR #3239 on branch v4.0.x (disable file imports when running on external server)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
Labels: bug, imviz, Ready for final review, skip-changelog-checks, plugin, :zzz:backport-v3.10.x, backport-v4.0.x

#3245 DOC: Fix logos and dark mode
  docs/_static/jdaviz.css
  docs/conf.py
  docs/index.rst
Labels: bug, documentation, trivial, no-changelog-entry-needed, :zzz:backport-v3.10.x, backport-v4.0.x

#3248 Backport PR #3245 on branch v4.0.x (DOC: Fix logos and dark mode)
  docs/_static/jdaviz.css
  docs/conf.py
  docs/index.rst
Labels: bug, documentation, trivial, no-changelog-entry-needed, backport-v4.0.x

#3258 Spectral extraction scientific validation test fix for latest JWST data product release
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: cubeviz, no-changelog-entry-needed, plugin, backport-v4.0.x

#3260 Backport PR #3246 on branch v4.0.x (BUG: Fix radial profile fitting when NaN in data)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
Labels: bug, imviz, Ready for final review, plugin, backport-v4.0.x

#3261 Backport PR #3257 on branch v4.0.x (Adding Rampviz logo from Jenn)
  docs/index.rst
  docs/logos/rampviz.png
  docs/logos/rampviz.svg
  docs/rampviz/index.rst
Labels: documentation, trivial, no-changelog-entry-needed, backport-v4.0.x

#3262 Backport PR #3249 on branch v4.0.x (BUG: Fix spectrum and spaxel resetting limits; FEAT: Add viewer.get_limits())
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/default/plugins/tools.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/tests/test_tools.py
  jdaviz/core/astrowidgets_api.py
  jdaviz/core/tools.py
Labels: bug, cubeviz, mosviz, imviz, Ready for final review, plugin, backport-v4.0.x

#3254 Framework for legend data menu
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/layer_viewer_icon_stylized.vue
  jdaviz/components/plugin_switch.vue
  jdaviz/components/subset_icon.vue
  jdaviz/components/tooltip.vue
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/tests/test_data_menu.py
  jdaviz/container.vue
Labels: embed, UI/UX😍, Ready for final review, plugin
