Repository spacetelescope/jdaviz, pull requests merged in 2024-07, with the labels that each got.

#2932 BUG: os.environ does not return Path object
  jdaviz/utils.py
Labels: trivial, no-changelog-entry-needed

#2896 Show path to file
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
Labels: bug, UI/UX😍, plugin

#2933 TST: Test Windows path handling without remote data
  .github/workflows/ci_workflows.yml
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: testing, Ready for final review, no-changelog-entry-needed

#2942 Fix Cubeviz movie export
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
Labels: bug, cubeviz, Ready for final review, plugin, backport-v3.10.x

#2943 Backport PR #2942 on branch v3.10.x (Fix Cubeviz movie export)
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
Labels: bug, cubeviz, Ready for final review, plugin, backport-v3.10.x

#2944 fix: make standalone work with matplotlib >= 3.9.0
  pyproject.toml
  standalone/jdaviz-cli-entrypoint.py
Labels: bug, backport-v3.10.x, Build standalone

#2945 Backport PR #2944 on branch v3.10.x (fix: make standalone work with matplotlib >= 3.9.0)
  standalone/jdaviz-cli-entrypoint.py
Labels: bug, trivial, no-changelog-entry-needed, Build standalone

#2946 Fix standalone build events for PR
  .github/workflows/standalone.yml
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.10.x, Build standalone

#2947 Sync standalone.yml with main
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed, Build standalone

#2934 support exporting a plot from an unopened/inactive plugin
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/core/template_mixin.py
Labels: bug, Ready for final review, plugin, backport-v3.10.x

#3083 Manual backport of #2934
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/core/template_mixin.py
Labels: no-changelog-entry-needed, plugin

#3080 Sync notebook github links in HTML docs to the git commit used to build them
  docs/conf.py
Labels: documentation, Ready for final review, no-changelog-entry-needed, backport-v3.10.x

#3084 Backport PR #3080 on branch v3.10.x (Sync notebook github links in HTML docs to the git commit used to build them)
  docs/conf.py
Labels: documentation, Ready for final review, no-changelog-entry-needed, backport-v3.10.x

#3081 BUG: Specviz to respect local_path when provided
  jdaviz/configs/specviz/helper.py
Labels: bug, specviz, trivial, no-changelog-entry-needed, Affects-dev

#2949 delay callback when calling previous zoom
  CHANGES.rst
  jdaviz/core/tools.py
Labels: bug, trivial, performance, backport-v3.10.x

#3085 Backport PR #2949 on branch v3.10.x (delay callback when calling previous zoom)
  CHANGES.rst
  jdaviz/core/tools.py
Labels: bug, trivial, performance, backport-v3.10.x

#2915 Catalogs plugin results table
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
Labels: imviz, plugin

#3095 docs link cleanup
  jdaviz/app.py
  jdaviz/core/template_mixin.py
Labels: trivial, no-changelog-entry-needed

#3089 Markers: Save to CSV
  CHANGES.rst
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/core/template_mixin.py
Labels: imviz, Ready for final review, plugin

#3103 Backport PR #2918: Update footprint orientations on viewer rotation
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/tests/test_footprints.py
Labels: bug, skip-changelog-checks

#3102 Backport PR #3097: Exclude subsets from WCS-only layer filter
  CHANGES.rst
  jdaviz/utils.py
Labels: bug, skip-changelog-checks

#2941 Create private method for importing spectral region objects
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
Labels: api, Ready for final review, no-changelog-entry-needed, plugin

#3096 export plugin: hide all serverside-saving sections on MAST
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
Labels: bug, Ready for final review, plugin, backport-v3.10.x

#3105 manual backport of PR #3096
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
Labels: no-changelog-entry-needed, plugin

#3098 Fix for Imviz parser romandeps test after update to defaults
  docs/installation.rst
  docs/sample_notebooks.rst
  jdaviz/configs/imviz/tests/test_parser_roman.py
  jdaviz/core/astrowidgets_api.py
Labels: imviz, trivial, no-changelog-entry-needed, Extra CI, backport-v3.10.x

#3106 Backport PR #3098 on branch v3.10.x (Fix for Imviz parser romandeps test after update to defaults)
  docs/installation.rst
  docs/sample_notebooks.rst
  jdaviz/configs/imviz/tests/test_parser_roman.py
  jdaviz/core/astrowidgets_api.py
Labels: imviz, trivial, no-changelog-entry-needed, Extra CI, backport-v3.10.x

#3108 Preparing release v3.10.3
  CHANGES.rst
  CITATION.cff
Labels: trivial, skip-changelog-checks

#3110 Back to development for v3.10.4
  CHANGES.rst
Labels: no-changelog-entry-needed

#3109 Changelog update for release of v3.10.3
  CHANGES.rst
Labels: no-changelog-entry-needed

#3088 Bugfix for flux unit conversion in spectral cubes
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: cubeviz, Ready for final review, plugin

#2940 expanded support of SB/Flux translations
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/core/marks.py
  jdaviz/core/validunits.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: cubeviz, specviz, plugin

#3101 TST: Also run slow test in non-dev env, fix Catalog Search bug
  .github/workflows/ci_workflows.yml
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: bug, testing, imviz, plugin

#3114 MNT: Remove unused astropy version check, update doctest
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/models/physical_models.py
Labels: cubeviz, specviz, imviz, trivial, no-changelog-entry-needed, plugin

#3113 Update model fit result units after toggling flux/surface brightness
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/tests/test_app.py
Labels: cubeviz, Ready for final review, plugin

#2939 Generalize cube extract
  docs/reference/api_nuts_bolts.rst
  jdaviz/configs/cubeviz/plugins/__init__.py
  jdaviz/configs/cubeviz/plugins/mixins.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_viewer_tools.py
  jdaviz/core/astrowidgets_api.py
  jdaviz/core/freezable_state.py
  jdaviz/core/template_mixin.py
  jdaviz/utils.py
Labels: cubeviz, imviz, Ready for final review, no-changelog-entry-needed, plugin

#3121 "Imviz Line Profiles (XY)" renamed to "Image Profiles (XY)"
  CHANGES.rst
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/tests/test_line_profile_xy.py
  jdaviz/core/helpers.py
  notebooks/concepts/imviz_line_profiles.ipynb
Labels: api, imviz, trivial, plugin

#2931 Update the mouse over units by listening to the unit-conversion plugin
  CHANGES.rst
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/utils.py
Labels: imviz, Ready for final review, plugin

#3122 TST: Fix tests downloading data into source dir, MNT: Remove unnecessary astropy check
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/launcher.py
Labels: bug, cubeviz, testing, trivial, no-changelog-entry-needed, plugin

#2094 Cubeviz to use wcs1d-fits from specutils to write out fitted cube
  CHANGES.rst
  docs/cubeviz/export_data.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: documentation, cubeviz, api

#3119 BUG: Fix parsing of MANGA cube (try 2)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/core/template_mixin.py
Labels: bug, cubeviz, Ready for final review, plugin

#3123 Fix cube fit toggle with spectral subset selected
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/core/template_mixin.py
Labels: bug, plugin, backport-v3.10.x

#3126 Remove incorrect changelog entry
  CHANGES.rst
Labels: trivial, no-changelog-entry-needed
