Repository spacetelescope/jdaviz, pull requests merged in 2024-08, with the labels that each got.

#3111 Surface brightness -> solid angle conversion updates
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/core/helpers.py
  jdaviz/core/validunits.py
Labels: cubeviz, specviz, testing, imviz, plugin

#3127 Adding newest videos to the docs
  docs/video_tutorials.rst
Labels: documentation, trivial, no-changelog-entry-needed

#3112 expose surface brightness units in internal get_display_units method
  jdaviz/app.py
Labels: Ready for final review, no-changelog-entry-needed

#3131 Unit conversion bugfix and variable name change
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
Labels: bug, specviz, trivial, no-changelog-entry-needed, plugin

#3129 get_data(use_display_units=True) to respect flux or sb selection
  CHANGES.rst
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review

#3128 Update orientation API to match UI
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_delete_data.py
  jdaviz/configs/imviz/tests/test_footprints.py
  jdaviz/configs/imviz/tests/test_helper.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/core/events.py
  jdaviz/core/helpers.py
  jdaviz/core/region_translators.py
  jdaviz/tests/test_subsets.py
  notebooks/ImvizExample.ipynb
  notebooks/concepts/imviz_advanced_aper_phot.ipynb
  notebooks/concepts/imviz_compass_mpl.ipynb
  notebooks/concepts/imviz_dithered_gwcs.ipynb
  notebooks/concepts/imviz_roman_asdf.ipynb
  notebooks/concepts/imviz_simple_aper_phot.ipynb
Labels: documentation, api, testing, imviz, Ready for final review, plugin

#3130 upgrade upload-artifact to v4
  .github/workflows/standalone.yml
Labels: testing, no-changelog-entry-needed, Build standalone

#3140 remove magnitude units from display units list
  jdaviz/app.py
  jdaviz/core/validunits.py
Labels: cubeviz, trivial, no-changelog-entry-needed, Affects-dev

#3138 observe display traitlets separately in unit conversion, remove redundant GlobalDisplayUnitChange broadcast
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
Labels: no-changelog-entry-needed

#3133 Debug cubeviz spectrum1d parser
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/conftest.py
Labels: bug, cubeviz, Ready for final review, plugin, backport-v3.10.x

#3141 Remilestone 3133 to 4.0
  CHANGES.rst
Labels: trivial, no-changelog-entry-needed

#3142 BUG: Remove spammy snackbar message
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: bug, cubeviz, trivial, no-changelog-entry-needed, Affects-dev, plugin

#3124 BUG: Fix get_subsets when XOR is involved
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/tests/test_subsets.py
Labels: bug, specviz, testing, Ready for final review

#3135 markers: ensure units stored as string
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: bug, imviz, trivial, no-changelog-entry-needed, plugin

#3118 Aperture photometry plugin reflects display unit selection
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
Labels: imviz, Ready for final review, plugin

#3137 plugin API hints
  CHANGES.rst
  docs/plugin_api.rst
  jdaviz/app.py
  jdaviz/components/plugin_action_button.vue
  jdaviz/components/plugin_add_results.vue
  jdaviz/components/plugin_auto_label.vue
  jdaviz/components/plugin_color_picker.vue
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/components/plugin_editable_select.vue
  jdaviz/components/plugin_file_import_select.vue
  jdaviz/components/plugin_inline_select.vue
  jdaviz/components/plugin_input_header.vue
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/plugin_previews_temp_disabled.vue
  jdaviz/components/plugin_slider.vue
  jdaviz/components/plugin_subset_select.vue
  jdaviz/components/plugin_switch.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/components/tooltip.vue
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/data_quality/data_quality.py
  jdaviz/configs/default/plugins/data_quality/data_quality.vue
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/markers/markers.vue
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
  jdaviz/main_styles.vue
Labels: cubeviz, specviz, embed, imviz, plugin

#3143 add alert when function and spectral y-units are inconsistent
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
Labels: cubeviz, no-changelog-entry-needed, plugin

#3145 TST: photutils nightly wheel, devdeps clean-up
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed, Build standalone

#3147 Fix dtype error with numpy 2.1
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: trivial, no-changelog-entry-needed, plugin

#3151 fix unnecessary stretch histogram updates
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: plugin, backport-v3.10.x

#3152 Backport PR #3151 on branch v3.10.x (fix unnecessary stretch histogram updates)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
Labels: plugin, backport-v3.10.x

#3153 update docs links
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
Labels: documentation, trivial, no-changelog-entry-needed

#3155 Update messaging from unit conversion plugin
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/events.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, imviz, Ready for final review, plugin

#3154 Disallow negative counts conversion factor in Aperture Photometry
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
Labels: bug, cubeviz, imviz, Ready for final review, plugin

#3139 Untranslatable unit handling
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/core/helpers.py
  jdaviz/core/validunits.py
  jdaviz/tests/test_app.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: cubeviz, specviz, Ready for final review, plugin

#3159 API hints tweaks
  CHANGES.rst
  jdaviz/components/plugin_color_picker.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/core/template_mixin.py
Labels: cubeviz, trivial, plugin

#3161 TST: Update remote data result for DQ plugin
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
Labels: testing, trivial, no-changelog-entry-needed, plugin, backport-v3.10.x

#3162 Backport PR #3161 on branch v3.10.x (TST: Update remote data result for DQ plugin)
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
Labels: testing, trivial, no-changelog-entry-needed, plugin, backport-v3.10.x

#3165 fix typo from PR 3159
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
Labels: cubeviz, UI/UX😍, trivial, no-changelog-entry-needed, plugin

#2909 replace voila with solara for CLI/standalone app
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/standalone.yml
  CHANGES.rst
  assets/favicon.svg
  conftest.py
  docs/dev/infrastructure.rst
  docs/dev/win_dev.rst
  docs/installation.rst
  jdaviz/cli.py
  jdaviz/conftest.py
  jdaviz/core/launcher.py
  jdaviz/jdaviz_cli.ipynb
  jdaviz/jdaviz_cli_launcher.ipynb
  jdaviz/main_styles.vue
  jdaviz/solara.css
  jdaviz/solara.py
  pyproject.toml
  setup.py
  share/jupyter/nbconvert/templates/jdaviz-default/ansi.js
  share/jupyter/nbconvert/templates/jdaviz-default/app.html
  share/jupyter/nbconvert/templates/jdaviz-default/conf.json
  share/jupyter/nbconvert/templates/jdaviz-default/index.html.j2
  share/jupyter/nbconvert/templates/jdaviz-default/util.js
  share/jupyter/voila/templates/jdaviz-default/index.html.j2
  standalone/hooks/hook-ipyreact.py
  standalone/hooks/hook-ipyvuetify.py
  standalone/hooks/hook-solara.py
  standalone/hooks/hook-solara_server.py
  standalone/hooks/hook-solara_ui.py
  standalone/jdaviz-cli-entrypoint.py
  standalone/jdaviz.spec
  standalone/test_standalone.py
  tox.ini
Labels: UI/UX😍, Ready for final review, Build standalone

#3149 Enable contour unit conversion
  CHANGES.rst
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  pyproject.toml
Labels: cubeviz, specviz, Ready for final review, plugin

#3148 JWST L1 ramp parser for Rampviz
  CHANGES.rst
  jdaviz/configs/rampviz/plugins/parsers.py
  jdaviz/configs/rampviz/plugins/ramp_extraction/ramp_extraction.py
  jdaviz/configs/rampviz/tests/test_helper.py
  jdaviz/configs/rampviz/tests/test_ramp_extraction.py
  jdaviz/configs/rampviz/tests/test_slice.py
  jdaviz/conftest.py
  notebooks/concepts/RampvizExample.ipynb
Labels: documentation, cubeviz, specviz, testing, imviz, plugin, rampviz

#3158 Skip flux conversion for moment maps
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: bug, cubeviz, imviz, Ready for final review, no-changelog-entry-needed, plugin

#3170 Rampviz docs update
  docs/conf.py
  docs/imviz/import_data.rst
  docs/index.rst
  docs/installation.rst
  docs/rampviz/import_data.rst
  docs/rampviz/index.rst
  docs/rampviz/plugins.rst
Labels: documentation, trivial, no-changelog-entry-needed

#3172 BUG: Fix typo on internal method
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: bug, cubeviz, trivial, no-changelog-entry-needed, plugin

#3167 Fix for NIRSpec IRS2 readout mode
  CHANGES.rst
  jdaviz/configs/rampviz/plugins/parsers.py
  jdaviz/configs/rampviz/tests/test_parser.py
  jdaviz/conftest.py
Labels: plugin, rampviz

#3171 Rampviz fixes for unexpected viewer limit resets
  CHANGES.rst
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/rampviz/plugins/ramp_extraction/ramp_extraction.py
  jdaviz/configs/rampviz/plugins/tools.py
  jdaviz/configs/rampviz/plugins/viewers.py
Labels: plugin, rampviz
