Repository spacetelescope/jdaviz, pull requests merged in 2024-04, with the labels that each got.

#2775 do not open data menu on new data if no data in app
  jdaviz/components/viewer_data_select.vue
Labels: trivial, no-changelog-entry-needed

#2776 enforce selection made for radio buttons in export plugin
  jdaviz/configs/default/plugins/export/export.vue
Labels: trivial, no-changelog-entry-needed, plugin

#2777 Disable cubeviz spectrum-viewer PNG export for now
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
Labels: bug, cubeviz, Ready for final review, plugin

#2770 Add data export functionality
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
Labels: Ready for final review, plugin

#2778 Also disable bad viewer+format combo from API
  jdaviz/configs/default/plugins/export/export.py
Labels: api, trivial, no-changelog-entry-needed, plugin

#2779 Add deprecation warning in UI for moment map export
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/default/plugins/collapse/collapse.vue
Labels: cubeviz, UI/UX😍, no-changelog-entry-needed, plugin

#2782 Consolidate filename normalization for exports
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
Labels: bug, Ready for final review, plugin

#2780 Export plugin filters
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/core/template_mixin.py
Labels: plugin

#2774 Export plugin plots
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/core/events.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
Labels: imviz, Ready for final review, plugin

#2784 Disable export for unsupported units
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
Labels: plugin

#2783 export plugin: warning before overwriting files
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/conftest.py
Labels: UI/UX😍, no-changelog-entry-needed, plugin

#2793 fix typo in vue file affecting plugin table format
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
Labels: bug, trivial, plugin, backport-v3.9.x

#2794 Backport PR #2793 on branch v3.9.x (fix typo in vue file affecting plugin table format)
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
Labels: bug, trivial, plugin, backport-v3.9.x

#2786 Docs specviz2d
  docs/specviz2d/import_data.rst
  docs/specviz2d/index.rst
  docs/specviz2d/plugins.rst
Labels: documentation, Ready for final review, no-changelog-entry-needed

#2790 ensure footprints overlay when created by API
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
Labels: bug, imviz, plugin

#2795 Backport PR #2790 on branch v3.9.x (ensure footprints overlay when created by API)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
Labels: bug, imviz, plugin

#2796 Update link to dataset in Mosviz NIRISS example notebook
  notebooks/MosvizNIRISSExample.ipynb
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.9.x

#2798 Backport PR #2796 on branch v3.9.x (Update link to dataset in Mosviz NIRISS example notebook)
  notebooks/MosvizNIRISSExample.ipynb
Labels: documentation, trivial, no-changelog-entry-needed, backport-v3.9.x

#2789 Fix Orientation selection/creation with no loaded data
  CHANGES.rst
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/core/freezable_state.py
Labels: bug, imviz, plugin

#2791 feat: stop jdaviz/voila when the browser window closes
  CHANGES.rst
  jdaviz/cli.py
Labels: bug, backport-v3.9.x

#2799 Backport PR #2791 on branch v3.9.x (feat: stop jdaviz/voila when the browser window closes)
  CHANGES.rst
  jdaviz/cli.py
Labels: bug, backport-v3.9.x

#2758 Enable spectral conversion in cubeviz
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/core/helpers.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, plugin

#2802 BUG: Fix random flip in WCS orientation
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/core/freezable_state.py
Labels: bug, imviz, Ready for final review, plugin, backport-v3.9.x

#2808 Backport PR 2789 to v3.9.x (Orientation with empty viewer)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/core/freezable_state.py
Labels: bug, imviz, trivial, no-changelog-entry-needed, plugin

#2804 Backport PR 2802 to v3.9.x (BUG: Fix random flip in WCS orientation)
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/core/freezable_state.py
Labels: imviz, trivial, skip-changelog-checks

#2809 Temporarily pin glue-core<1.19.0 to fix test failure
  pyproject.toml
Labels: no-changelog-entry-needed, dependencies, backport-v3.9.x

#2810 Backport PR #2809 on branch v3.9.x (Temporarily pin glue-core<1.19.0 to fix test failure)
  pyproject.toml
Labels: no-changelog-entry-needed, dependencies, backport-v3.9.x

#2767 Data Quality plugin for Imviz
  jdaviz/app.py
  jdaviz/components/tooltip.vue
  jdaviz/configs/default/default.yaml
  jdaviz/configs/default/plugins/__init__.py
  jdaviz/configs/default/plugins/data_quality/__init__.py
  jdaviz/configs/default/plugins/data_quality/data_quality.py
  jdaviz/configs/default/plugins/data_quality/data_quality.vue
  jdaviz/configs/default/plugins/data_quality/dq_utils.py
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/core/template_mixin.py
  jdaviz/utils.py
  notebooks/concepts/imviz_dq_concept.ipynb
  pyproject.toml
Labels: imviz, no-changelog-entry-needed, plugin

#2803 Fix moment map when spectral units are in frequency
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: cubeviz, plugin

#2807 cubeviz spectral extraction: send exceptions to snackbar
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: cubeviz, trivial, plugin, backport-v3.9.x

#2813 Backport PR #2807 on branch v3.9.x (cubeviz spectral extraction: send exceptions to snackbar)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: cubeviz, trivial, plugin, backport-v3.9.x

#2797 ensure footprints display when added before linking
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/tests/test_footprints.py
Labels: bug, imviz, Ready for final review, plugin, backport-v3.9.x

#2815 Backport PR #2797 on branch v3.9.x (ensure footprints display when added before linking)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/tests/test_footprints.py
Labels: bug, imviz, Ready for final review, plugin, backport-v3.9.x

#2680 auto-update support for plugin results
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/plugin_add_results.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: Ready for final review, plugin

#2820 fix support for glue 1.19
  CHANGES.rst
  jdaviz/app.py
  pyproject.toml
Labels: trivial, backport-v3.9.x

#2816 Better menu selection labels for spectral lines in line analysis plugin
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
Labels: specviz, UI/UX😍, Ready for final review, plugin

#2821 backport of #2820
  CHANGES.rst
  jdaviz/app.py
  pyproject.toml
Labels: no-changelog-entry-needed

#2818 consider bitmap/contour_visible in logic for top image layer
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
Labels: bug, cubeviz, Ready for final review, backport-v3.9.x

#2819 Update H-Paschen-Brackett.csv
  CHANGES.rst
  jdaviz/data/linelists/H-Paschen-Brackett.csv
Labels: bug, specviz, trivial, plugin, backport-v3.9.x

#2822 backport of #2818
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
Labels: cubeviz, imviz, no-changelog-entry-needed

#2757 [SCSB-145] require Python 3.10
  .github/workflows/ci_workflows.yml
  .github/workflows/predeps_workflows.yml
  .github/workflows/publish.yml
  CHANGES.rst
  README.rst
  docs/dev/release.rst
  docs/index.rst
  docs/installation.rst
  docs/known_bugs.rst
  pyproject.toml
  tox.ini
Labels: Ready for final review

#2826 fix reference to plugins in metadata
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: bug, cubeviz, trivial, no-changelog-entry-needed, Affects-dev, plugin

#2824 export plugin: auto filename
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_export_plots.py
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, plugin

#2825 Re-enable exporting cubeviz spectrum viewer
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
Labels: bug, cubeviz, Ready for final review, plugin, backport-v3.9.x

#2831 Fix Line Analysis behavior before any lines are loaded
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
Labels: bug, specviz, trivial, plugin

#2828 Backport PR #2825 on branch v3.9.x (Re-enable exporting cubeviz spectrum viewer)
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
Labels: bug, cubeviz, Ready for final review, plugin, backport-v3.9.x

#2832 Backport PR #2829 on branch v3.9.x (TST: jail export test for markers table)
  .github/workflows/ci_workflows.yml
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
Labels: bug, testing, trivial, no-changelog-entry-needed, plugin, backport-v3.9.x

#2834 disable user-access to auto-updating results
  CHANGES.rst
  jdaviz/components/plugin_add_results.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/template_mixin.py
Labels: trivial, no-changelog-entry-needed

#2817 DQ support for Cubeviz
  CHANGES.rst
  docs/cubeviz/plugins.rst
  docs/imviz/plugins.rst
  jdaviz/app.py
  jdaviz/components/tooltip.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/default/plugins/data_quality/data_quality.py
  jdaviz/configs/default/plugins/data_quality/data_quality.vue
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, imviz, plugin

#2830 BUG: Fix specviz2d loader with ext keyword
  CHANGES.rst
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/conftest.py
Labels: bug, mosviz, testing, Ready for final review, plugin, specviz2d
