Repository spacetelescope/jdaviz, pull requests merged in 2024-02, with the labels that each got.

#2681 aper phot: remove redundant nested table parsing
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: imviz, trivial, no-changelog-entry-needed, plugin

#2683 BUG: Only access meta when it exists
  jdaviz/configs/imviz/plugins/orientation/orientation.py
Labels: imviz, Ready for final review, no-changelog-entry-needed, plugin

#2666 Aperture photometry in Cubeviz
  CHANGES.rst
  docs/cubeviz/export_data.rst
  docs/cubeviz/plugins.rst
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/conftest.py
  jdaviz/core/events.py
  notebooks/concepts/cubeviz_aperture_photometry.ipynb
Labels: documentation, cubeviz, imviz, Ready for final review, plugin

#2674 Edits to docs for Imviz
  docs/img/imviz_plot_options.png
  docs/imviz/displayimages.rst
  docs/imviz/import_data.rst
  docs/installation.rst
Labels: documentation, imviz, no-changelog-entry-needed

#2684 Aperture validate after selection
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, imviz, Ready for final review, plugin

#2687 TST: Minor clean-up of test_fitting
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: bug, cubeviz, specviz, testing, trivial, no-changelog-entry-needed, plugin, backport-v3.8.x

#2688 Backport PR #2687 on branch v3.8.x (TST: Minor clean-up of test_fitting)
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: bug, cubeviz, specviz, testing, trivial, no-changelog-entry-needed, plugin, backport-v3.8.x

#2685 BUG: Cube fit should work even without valid 3D WCS
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: bug, cubeviz, plugin, backport-v3.8.x

#2690 Backport PR #2685 on branch v3.8.x (BUG: Cube fit should work even without valid 3D WCS)
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: bug, cubeviz, plugin, backport-v3.8.x

#2692 Backport PR #2689 on branch v3.8.x (Bump codecov/codecov-action from 3 to 4 in /.github/workflows)
  .github/workflows/ci_workflows.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.8.x, dependencies

#2691 Backport PR #2572 on branch v3.8.x (TST: Fix devdeps job)
  jdaviz/configs/imviz/tests/test_catalogs.py
  pyproject.toml
  tox.ini
Labels: Upstream fix required, testing, trivial, no-changelog-entry-needed

#2630 Fix data menu cutoff in smaller viewers
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
Labels: bug, Ready for final review, backport-v3.8.x

#2695 Imviz+Roman updates for latest example Roman data
  notebooks/concepts/imviz_roman_asdf.ipynb
Labels: documentation, trivial, skip-changelog-checks, no-changelog-entry-needed

#2697 Clarify moment-map reference_wavelength hint text
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
Labels: cubeviz, UI/UX😍, trivial, plugin, backport-v3.8.x

#2698 re-milestone PR 2697
  CHANGES.rst
Labels: trivial, no-changelog-entry-needed

#2705 fallback on linked_by_wcs for configs without default_viewer
  jdaviz/app.py
Labels: trivial, no-changelog-entry-needed

#2699 exclude WCS-only layer subsets from plot options
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/wcs_utils.py
  jdaviz/core/template_mixin.py
  jdaviz/utils.py
Labels: imviz, Ready for final review, plugin

#2658 fix: custom styles work in solara server
  jdaviz/app.py
  jdaviz/style_registry.py
Labels: no-changelog-entry-needed

#2707 avoid errors in JS console from new data menu scrolling logic
  CHANGES.rst
  jdaviz/components/viewer_data_select.vue
Labels: trivial, backport-v3.8.x

#2706 Generalize units in slice plugin
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/export_plot/export_plot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/core/events.py
  jdaviz/core/marks.py
Labels: cubeviz, api, imviz, Ready for final review, plugin

#2709 allow downstream apps or config-specific override to docs description
  docs/dev/ui_style_guide.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/export_plot/export_plot.vue
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/markers/markers.vue
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.vue
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/core/template_mixin.py
Labels: documentation, cubeviz, specviz, mosviz, imviz, Ready for final review, no-changelog-entry-needed, plugin, specviz2d

#2710 Remove single-pixel tool from Imviz
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_tools.py
Labels: imviz, Ready for final review

#2716 fix overflow of orientation plugin
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
Labels: imviz, trivial, no-changelog-entry-needed, plugin

#2719 Fix direct links in remote tests
  jdaviz/configs/mosviz/tests/test_parsers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
Labels: specviz, mosviz, testing, no-changelog-entry-needed, specviz2d, backport-v3.8.x

#2720 Backport PR #2719 on branch v3.8.x (Fix direct links in remote tests)
  jdaviz/configs/mosviz/tests/test_parsers.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
Labels: specviz, mosviz, testing, no-changelog-entry-needed, specviz2d, backport-v3.8.x

#2725 fix dark-mode support for section header when used in data-menu
  jdaviz/components/plugin_section_header.vue
Labels: UI/UX😍, trivial, no-changelog-entry-needed

#2726 loading line lists at redshifted wavelength
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_list_mixin.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/specviz/plugins/viewers.py
Labels: bug, cubeviz, mosviz, plugin, specviz2d, backport-v3.8.x

#2729 Backport milestone check workflow
  .github/workflows/check_milestone.yml
Labels: testing, no-changelog-entry-needed

#2728 Backport PR #2726 on branch v3.8.x (loading line lists at redshifted wavelength)
  CHANGES.rst
  jdaviz/configs/default/plugins/line_lists/line_list_mixin.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/specviz/plugins/viewers.py
Labels: documentation, cubeviz, specviz, mosviz, embed, testing, imviz, skip-changelog-checks, plugin, specviz2d

#2730 typo fix
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: trivial, no-changelog-entry-needed, plugin, specviz2d

#2712 TST: Increase Imviz rotation test coverage
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_delete_data.py
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/configs/imviz/wcs_utils.py
  pyproject.toml
Labels: testing, imviz, trivial, no-changelog-entry-needed, Affects-dev

#2731 Reverse gist_rainbow colors to match order of manual presets
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
Labels: bug, trivial, plugin, backport-v3.8.x

#2732 Backport PR #2731 on branch v3.8.x (Reverse gist_rainbow colors to match order of manual presets)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
Labels: bug, trivial, plugin, backport-v3.8.x

#2679 Add conical aperture support in the spectral extraction plugin
  CHANGES.rst
  docs/cubeviz/plugins.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/conftest.py
Labels: cubeviz, Ready for final review, plugin

#2727 Docs specviz
  docs/img/line_lists.png
  docs/img/model_fitting_components.png
  docs/img/plugins.jpg
  docs/imviz/img/plugins.jpg
  docs/imviz/plugins.rst
  docs/specviz/displaying.rst
  docs/specviz/img/line_analysis_plugin.png
  docs/specviz/img/specviz_plotopt_viewerbounds.png
  docs/specviz/img/specvizplugins.jpg
  docs/specviz/plugins.rst
Labels: documentation, no-changelog-entry-needed
