Repository spacetelescope/jdaviz, pull requests merged in 2024-01, with the labels that each got.

#2640 lcviz support: fix data-menu item visibility cloned phase-viewer
  jdaviz/components/viewer_data_select.vue
Labels: trivial, no-changelog-entry-needed

#2641 DOC: Remove my_mask from ImvizExample
  notebooks/ImvizExample.ipynb
Labels: bug, documentation, imviz, trivial, no-changelog-entry-needed

#2642 allow validation rules for EditableSelect
  jdaviz/core/template_mixin.py
Labels: Ready for final review, no-changelog-entry-needed

#2644 spinner while stretch histogram data updating
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: Ready for final review, plugin

#2645 Quickstart guide, add/correct launcher info
  docs/img/jdaviz-launcher.png
  docs/quickstart.rst
Labels: documentation, trivial, no-changelog-entry-needed

#2648 fix top app bar style to align in notebook, popout, and mast
  CHANGES.rst
  jdaviz/app.vue
Labels: embed, UI/UX😍, trivial, backport-v3.8.x

#2650 Backport PR #2648 on branch v3.8.x (fix top app bar style to align in notebook, popout, and mast)
  CHANGES.rst
  jdaviz/app.vue
Labels: embed, UI/UX😍, trivial, backport-v3.8.x

#2652 Revert "Bump actions/upload-artifact from 3 to 4 in /.github/workflows"
  .github/workflows/standalone.yml
Labels: Upstream fix required, testing, trivial, no-changelog-entry-needed

#2651 Update test for updated file
  jdaviz/configs/imviz/tests/test_parser.py
Labels: testing, imviz, no-changelog-entry-needed, backport-v3.8.x

#2653 Backport PR #2651 on branch v3.8.x (Update test for updated file)
  jdaviz/configs/imviz/tests/test_parser.py
Labels: testing, imviz, no-changelog-entry-needed, backport-v3.8.x

#2656 TST: Handle second warning in test_all_nan_uncert_subset
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: bug, testing, trivial, no-changelog-entry-needed, plugin, backport-v3.8.x

#2657 Backport PR #2656 on branch v3.8.x (TST: Handle second warning in test_all_nan_uncert_subset)
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: bug, testing, trivial, no-changelog-entry-needed, plugin, backport-v3.8.x

#2572 TST: Fix devdeps job
  jdaviz/configs/imviz/tests/test_catalogs.py
  pyproject.toml
  tox.ini
Labels: Upstream fix required, testing, trivial, no-changelog-entry-needed

#2646 Resolving traceback bug in cubeviz spectral extraction
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: bug, cubeviz, Ready for final review, plugin, backport-v3.8.x

#2660 DOC: Hide boolean mask support in load_regions
  jdaviz/core/helpers.py
  notebooks/ImvizDitheredExample.ipynb
Labels: documentation, no-changelog-entry-needed

#2662 Backport PR #2646: Resolving traceback bug in cubeviz spectral extra…
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/__init__.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: bug, cubeviz, trivial, no-changelog-entry-needed

#2663 expose spatial subset opacity in plot options
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: trivial, plugin

#2665 Fix display units of moments in velocity
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
Labels: bug, cubeviz, plugin

#2647 View spectrum from single spaxel on hover
  CHANGES.rst
  docs/cubeviz/displaycubes.rst
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/tools.py
Labels: cubeviz, Ready for final review, plugin

#2179 ENH: Image rotation via WCS-only layers
  CHANGES.rst
  docs/imviz/displayimages.rst
  docs/imviz/plugins.rst
  docs/reference/api_plugins.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/layer_viewer_icon.vue
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/components/plugin_editable_select.vue
  jdaviz/components/plugin_layer_select.vue
  jdaviz/components/tooltip.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/utils.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  jdaviz/configs/imviz/plugins/links_control/__init__.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/plugins/orientation/__init__.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.vue
  jdaviz/configs/imviz/plugins/tools.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_delete_data.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/configs/imviz/tests/test_tools.py
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/imviz/wcs_utils.py
  jdaviz/container.vue
  jdaviz/core/astrowidgets_api.py
  jdaviz/core/events.py
  jdaviz/core/freezable_state.py
  jdaviz/core/helpers.py
  jdaviz/core/region_translators.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tools.py
  jdaviz/core/user_api.py
  jdaviz/tests/test_subsets.py
  jdaviz/utils.py
  notebooks/concepts/imviz_dithered_gwcs.ipynb
Labels: imviz

#2670 remove state-sync for data menu open
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/viewer_data_select.vue
Labels: bug, UI/UX😍, trivial, backport-v3.8.x

#2675 Backport PR #2670 on branch v3.8.x (remove state-sync for data menu open)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/viewer_data_select.vue
Labels: bug, UI/UX😍, trivial, backport-v3.8.x

#2673 update footprint on change to orientation
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
Labels: imviz, trivial, plugin

#2664 Aperture live-preview plugin marks
  CHANGES.rst
  docs/dev/ui_style_guide.rst
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/core/events.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, imviz, Ready for final review, plugin

#2677 fix new viewer after image rotation
  jdaviz/app.py
Labels: imviz, trivial, no-changelog-entry-needed

#2676 feature-flagged wireframe for cubeviz spec extraction plan
  CHANGES.rst
  jdaviz/components/plugin_section_header.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, Ready for final review, plugin, specviz2d

#2678 lcviz cube support
  jdaviz/components/viewer_data_select.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: imviz, Ready for final review, no-changelog-entry-needed, Affects-dev, plugin
