Repository spacetelescope/jdaviz, pull requests merged in 2024-12, with the labels that each got.

#3307 Improve spaxel unit handling for cubes
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_data_retrieval.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/custom_units_and_equivs.py
  jdaviz/core/unit_conversion_utils.py
Labels: bug, cubeviz, Ready for final review, no-changelog-entry-needed

#3309 raise error for sidecar or popout when not supported
  CHANGES.rst
  jdaviz/core/template_mixin.py
Labels: Ready for final review, backport-v4.0.x

#3324 Backport PR #3309 on branch v4.0.x (raise error for sidecar or popout when not supported)
  CHANGES.rst
  jdaviz/core/template_mixin.py
Labels: Ready for final review, backport-v4.0.x

#3327 Removing filter warning for mpl-scatter-density
  jdaviz/core/linelists.py
  pyproject.toml
Labels: no-changelog-entry-needed

#3321 subset tools import_region to use batch_load
  CHANGES.rst
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, performance, plugin

#3325 Subsets tools API hints
  CHANGES.rst
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.vue
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/tests/test_subsets.py
Labels: Ready for final review, plugin

#3341 data-menu: fix updating linewidth and colormap styling
  jdaviz/core/template_mixin.py
Labels: trivial, no-changelog-entry-needed

#3290 Un-ignore GWCS warning because it is no longer necessary
  jdaviz/app.py
  jdaviz/configs/mosviz/tests/test_parsers.py
Labels: mosviz, testing, trivial, no-changelog-entry-needed

#3346 Example Roman L2 notebook update since B16
  CHANGES.rst
  notebooks/concepts/imviz_roman_asdf.ipynb
Labels: bug, documentation, trivial, backport-v4.0.x

#3349 Backport PR #3346 on branch v4.0.x (Example Roman L2 notebook update since B16)
  CHANGES.rst
  notebooks/concepts/imviz_roman_asdf.ipynb
Labels: bug, documentation, trivial, backport-v4.0.x

#3353 roman_datamodels compatibility, move `romandeps` test to CI workflows
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  jdaviz/configs/rampviz/plugins/parsers.py
  jdaviz/configs/rampviz/plugins/ramp_extraction/ramp_extraction.py
  jdaviz/conftest.py
  pyproject.toml
Labels: testing, no-changelog-entry-needed, plugin, Extra CI, rampviz, backport-v4.0.x

#3348 Backport PR #3319 on branch v4.0.x (Respect loaded mask cube properly in spectral extraction.)
  CHANGES.rst
  docs/cubeviz/plugins.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/core/linelists.py
  pyproject.toml
Labels: bug, documentation, cubeviz, specviz, no-changelog-entry-needed, plugin

#3357 Backport PR #3353 on branch v4.0.x (roman_datamodels compatibility, move romandeps test to CI workflows)
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  jdaviz/configs/rampviz/plugins/parsers.py
  jdaviz/configs/rampviz/plugins/ramp_extraction/ramp_extraction.py
  jdaviz/conftest.py
  pyproject.toml
Labels: testing, no-changelog-entry-needed, plugin, rampviz

#3337 catalog search handle from file edge case and implement max sources
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: bug, imviz, Ready for final review, plugin

#3340 add get_subsets_as_regions method to subset plugin, deprecate get_interactive_regions and get_spectral_regions
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/helpers.py
Labels: cubeviz, specviz, imviz, plugin

#3358 Fix aperture weight mask with loaded mask cube
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
Labels: bug, cubeviz, plugin, backport-v4.0.x

#3360 Backport PR #3358 on branch v4.0.x (Fix aperture weight mask with loaded mask cube)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
Labels: bug, cubeviz, no-changelog-entry-needed, plugin

#3364 Mark parameterized unit conversion test as slow
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
Labels: cubeviz, testing, trivial, no-changelog-entry-needed, plugin

#3363 Improve get_subsets performance for single subset case
  CHANGES.rst
  jdaviz/app.py
Labels: performance

#3336 helper-level method to programmatically toggle API hints
  CHANGES.rst
  docs/plugin_api.rst
  jdaviz/core/helpers.py
  jdaviz/tests/test_user_api.py
Labels: documentation, testing

#3361 BUG: Not all viewers have get_limits
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/tools.py
Labels: bug, Ready for final review

#3365 fix vue typos in specviz2d spectral extraction
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: UI/UX😍, trivial, no-changelog-entry-needed, plugin, specviz2d

#3343 model fitting: ensure specutils has access to equivs & set targ solid angle
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/utils.py
Labels: bug, cubeviz, trivial, plugin

#3367 fix repr for select component
  jdaviz/core/template_mixin.py
Labels: trivial, no-changelog-entry-needed

#3366 Fix type issue in plot options select_all
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
Labels: bug, plugin

#3269 Sonify plugin updates
  .github/workflows/ci_cron_weekly.yml
  CHANGES.rst
  docs/cubeviz/plugins.rst
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/plugins/__init__.py
  jdaviz/configs/cubeviz/plugins/cube_listener.py
  jdaviz/configs/cubeviz/plugins/sonify_data/__init__.py
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.py
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.vue
  jdaviz/configs/cubeviz/plugins/sonify_data/tests/__init__.py
  jdaviz/configs/cubeviz/plugins/sonify_data/tests/test_sonify_data.py
  jdaviz/configs/cubeviz/plugins/tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  pyproject.toml
  standalone/hooks/hook-strauss.py
  tox.ini
Labels: cubeviz, plugin, Extra CI, Build standalone

#3345 footprints: filter by observatory
  CHANGES.rst
  jdaviz/components/plugin_file_import_select.vue
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_quality/data_quality.py
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.vue
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  jdaviz/configs/mosviz/helper.py
  jdaviz/core/template_mixin.py
  jdaviz/data/icons/jwst.svg
  jdaviz/data/icons/jwst_solid.svg
  jdaviz/data/icons/roman.svg
  jdaviz/data/icons/roman_solid.svg
Labels: imviz, Ready for final review, plugin

#3335 convert limits on spectrum y-unit change
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/freezable_state.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: specviz, plugin

#3370 data-menu: handle associated data layer logic
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/tests/test_data_menu.py
Labels: trivial, plugin

#3369 expose zoom_to_selected in catalogs plugin api, fix default zoom level
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: imviz, Ready for final review, plugin

#3371 switch order of setting ymin and ymax
  CHANGES.rst
  jdaviz/configs/default/plugins/viewers.py
Labels: imviz, trivial

#3210 TST: Python 3.13 support
  .github/workflows/ci_workflows.yml
  pyproject.toml
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed

#3356 Add API to rename subsets
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/core/events.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
Labels: api, testing, plugin

#3368 BUG: Also check for inf in spaxel tool
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tools.py
Labels: bug, cubeviz, trivial, plugin

#3374 TST: Fix test_get_regions_composite
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
  jdaviz/configs/imviz/tests/test_parser.py
Labels: bug, testing, trivial, no-changelog-entry-needed, plugin, backport-v4.1.x
