Repository spacetelescope/jdaviz, pull requests merged in 2024-11, with the labels that each got.

#3242 prevent spectral lines from converting y-range
  CHANGES.rst
  jdaviz/core/marks.py
Labels: cubeviz, specviz, trivial, plugin, backport-v4.0.x

#3266 Backport PR #3242 on branch v4.0.x (prevent spectral lines from converting y-range)
  CHANGES.rst
  jdaviz/core/marks.py
Labels: cubeviz, specviz, trivial, plugin, backport-v4.0.x

#3263 data-menu: add subsets/data
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/data_menu_add_data.vue
  jdaviz/components/toolbar_nested.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/default/tests/test_data_menu.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/mosviz/helper.py
  jdaviz/configs/mosviz/plugins/viewers.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, mosviz, UI/UX😍, imviz, Ready for final review, plugin

#3229 Add ability to load 2D flux arrays in Specviz
  CHANGES.rst
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/tests/test_helper.py
Labels: specviz, feature, Ready for final review, plugin

#3267 Fix URI for autoconfig test for specviz2d, add back specviz test
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/tests/test_autoconfig.py
Labels: trivial, no-changelog-entry-needed, backport-v4.0.x

#3264 data-menu: implement action bar (delete, edit subset, metadata)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/child_layer_icon.vue
  jdaviz/components/data_menu_remove.vue
  jdaviz/components/data_menu_subset_edit.vue
  jdaviz/components/plugin_live_results_icon.vue
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/default/tests/test_data_menu.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, specviz, mosviz, imviz, plugin

#3280 Backport PR #3276 on branch v4.0.x (Footprints plugin: handle subsets/markers when linking by WCS)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
Labels: imviz, Ready for final review, plugin, backport-v4.0.x

#3283 TST: Skip chronically failing test
  jdaviz/app.py
  jdaviz/configs/mosviz/tests/test_parsers.py
  jdaviz/tests/test_utils.py
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v4.0.x

#3285 Backport PR #3283 on branch v4.0.x (TST: Skip chronically failing test)
  jdaviz/app.py
  jdaviz/configs/mosviz/tests/test_parsers.py
  jdaviz/tests/test_utils.py
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v4.0.x

#3279 update datamodels example to include more info
  docs/imviz/import_data.rst
Labels: documentation, imviz, trivial, no-changelog-entry-needed, backport-v4.0.x

#3288 Backport PR #3279 on branch v4.0.x (update datamodels example to include more info)
  docs/imviz/import_data.rst
Labels: documentation, imviz, trivial, no-changelog-entry-needed, backport-v4.0.x

#3286 DOC: Auto-inject CLI help into user doc
  docs/conf.py
  docs/quickstart.rst
Labels: documentation, trivial, no-changelog-entry-needed

#3287 Backport PR #3267: Fix URI for autoconfig test for specviz2d, add back specviz test
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/tests/test_autoconfig.py
Labels: cubeviz, trivial, no-changelog-entry-needed, plugin

#3271 data-menu: orientation
  CHANGES.rst
  jdaviz/components/plugin_layer_select.vue
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/core/template_mixin.py
Labels: plugin

#3291 Backport PR #3282 on branch v4.0.x (Add nbclassic dependency to resolve popout error)
  CHANGES.rst
  pyproject.toml
Labels: bug, trivial, dependencies, backport-v4.0.x

#3268 Add short plugin description to each plugin under title
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/slice.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/default/plugins/about/about.py
  jdaviz/configs/default/plugins/about/about.vue
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/collapse.vue
  jdaviz/configs/default/plugins/data_quality/data_quality.py
  jdaviz/configs/default/plugins/data_quality/data_quality.vue
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/markers/markers.vue
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/compass/compass.vue
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.vue
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.vue
  jdaviz/configs/rampviz/plugins/ramp_extraction/ramp_extraction.py
  jdaviz/configs/rampviz/plugins/ramp_extraction/ramp_extraction.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_app.py
Labels: cubeviz, specviz, imviz, plugin

#3295 Collapse 3D y before calculating initial model guess for gaussian model
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/initializers.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: bug, trivial, plugin, backport-v4.0.x

#3297 Backport PR #3295 on branch v4.0.x (Collapse 3D y before calculating initial model guess for gaussian model)
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/initializers.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: bug, trivial, plugin, backport-v4.0.x

#3298 BUG: Fix Cubeviz parsing DN and DN/s
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/utils.py
Labels: bug, cubeviz, trivial, no-changelog-entry-needed, plugin

#3274 data-menu: API hints
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/data_menu_add.vue
  jdaviz/components/data_menu_remove.vue
  jdaviz/components/data_menu_subset_edit.vue
  jdaviz/components/hover_api_hint.vue
  jdaviz/components/plugin_switch.vue
  jdaviz/components/tooltip.vue
  jdaviz/components/tray_plugin.vue
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
  jdaviz/main_styles.vue
Labels: embed, imviz, Ready for final review, plugin

#3293 Rename Subset Tools Plugin
  CHANGES.rst
  docs/cubeviz/import_data.rst
  docs/cubeviz/plugins.rst
  docs/imviz/import_data.rst
  docs/imviz/plugins.rst
  docs/mosviz/plugins.rst
  docs/rampviz/plugins.rst
  docs/specviz/plugins.rst
  docs/specviz2d/plugins.rst
  jdaviz/components/data_menu_subset_edit.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
  jdaviz/configs/default/tests/test_data_menu.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_delete_data.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/configs/imviz/tests/test_viewers.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/rampviz/tests/test_ramp_extraction.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/tests/test_data_menu.py
  jdaviz/core/tests/test_helpers.py
  jdaviz/core/tests/test_template_mixin.py
  jdaviz/tests/test_subsets.py
  notebooks/CubevizExample.ipynb
  notebooks/ImvizDitheredExample.ipynb
  notebooks/ImvizExample.ipynb
  notebooks/concepts/RampvizExample.ipynb
  notebooks/concepts/cubeviz_aperture_photometry.ipynb
  notebooks/concepts/imviz_advanced_aper_phot.ipynb
  notebooks/concepts/imviz_colorbar_mpl.ipynb
  notebooks/concepts/imviz_edit_subset_programmatic.ipynb
  notebooks/concepts/imviz_simple_aper_phot.ipynb
Labels: documentation, cubeviz, specviz, testing, imviz, Ready for final review, trivial, plugin, rampviz

#3289 data-menu: enforce layer order
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/default/tests/test_data_menu.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, plugin

#3299 fix: golden layout not rendering when created outside viewport
  CHANGES.rst
  jdaviz/app.vue
Labels: bug, embed, backport-v4.0.x

#3302 Manual Backport: fix: golden layout not rendering when created outside viewport (#3299)
  CHANGES.rst
  jdaviz/app.vue
Labels: bug, embed, no-changelog-entry-needed

#3292 Metadata Viewer: API to return dict, not list
  CHANGES.rst
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/metadata_viewer/tests/test_metadata_viewer.py
  jdaviz/core/user_api.py
Labels: api, Ready for final review, plugin

#3305 fix typo in data_quality vue
  jdaviz/configs/default/plugins/data_quality/data_quality.vue
Labels: UI/UX😍, trivial, no-changelog-entry-needed, plugin

#3303 Fix full width of plugin slider
  CHANGES.rst
  jdaviz/components/plugin_slider.vue
Labels: UI/UX😍, trivial, backport-v4.0.x

#3306 Backport PR #3303 on branch v4.0.x (Fix full width of plugin slider)
  CHANGES.rst
  jdaviz/components/plugin_slider.vue
Labels: UI/UX😍, trivial, backport-v4.0.x

#3311 Backport PR #3301 on branch v4.0.x (Adding links to ramp fitting docs for roman and jwst in rampviz)
  docs/conf.py
  docs/rampviz/plugins.rst
  jdaviz/components/external_link.vue
  jdaviz/configs/rampviz/plugins/ramp_extraction/ramp_extraction.vue
Labels: documentation, trivial, no-changelog-entry-needed, plugin, rampviz, backport-v4.0.x

#3317 Fix CI/RTD failures
  jdaviz/utils.py
  pyproject.toml
Labels: trivial, no-changelog-entry-needed, backport-v4.0.x

#3308 orientation: expose create_north_up_east_left/right
  CHANGES.rst
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/configs/imviz/tests/test_delete_data.py
  jdaviz/configs/imviz/tests/test_footprints.py
  jdaviz/configs/imviz/tests/test_orientation.py
Labels: imviz, Ready for final review, plugin

#3318 Backport PR #3317 on branch v4.0.x (Fix CI/RTD failures)
  jdaviz/utils.py
  pyproject.toml
Labels: trivial, no-changelog-entry-needed, backport-v4.0.x

#3228 fix flux unit conversions in plugins
  CHANGES.rst
  docs/reference/api_nuts_bolts.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_unit_conversion.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/core/custom_units.py
  jdaviz/core/custom_units_and_equivs.py
  jdaviz/core/marks.py
  jdaviz/core/tests/test_unit_conversion_utils.py
  jdaviz/core/tests/test_validunits.py
  jdaviz/core/unit_conversion_utils.py
  jdaviz/core/validunits.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: cubeviz, testing, imviz, Ready for final review, plugin
