Repository spacetelescope/jdaviz, pull requests merged in 2024-09, with the labels that each got.

#3173 data menu infrastructure
  jdaviz/app.py
  jdaviz/configs/default/plugins/data_menu/__init__.py
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/container.vue
  jdaviz/core/events.py
  jdaviz/core/template_mixin.py
Labels: embed, UI/UX😍, Ready for final review, no-changelog-entry-needed, plugin

#3175 improve laggy subset finalization
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/core/template_mixin.py
Labels: bug, Ready for final review, performance, no-changelog-entry-needed, Affects-dev

#3178 Unit conversion UI tweaks
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
Labels: cubeviz, specviz, UI/UX😍, imviz, plugin

#3176 solara standalone: default to host='localhost' and allow mult instances
  jdaviz/cli.py
  pyproject.toml
Labels: trivial, no-changelog-entry-needed

#3184 require specutils >= 1.16.0
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  pyproject.toml
Labels: cubeviz, plugin

#3166 per-config display of unit selections
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
Labels: specviz, Ready for final review, no-changelog-entry-needed, plugin

#3185 Fix empty flux menu in Specviz with spectrum in surface brightness units
  CHANGES.rst
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
Labels: bug, specviz, Ready for final review, plugin

#3177 BUG: Fix spectral extraction in the presence of unit conversion (no actual conversion, no new callback)
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz/tests/test_viewers.py
  jdaviz/core/template_mixin.py
Labels: bug, cubeviz, no-changelog-entry-needed, Affects-dev, plugin

#3187 fix var names in aper phot, remove specutils version check
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: cubeviz, imviz, plugin

#3099 Make catalog tables interactive
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/tests/test_catalogs.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
Labels: imviz, Ready for final review, plugin

#3191 Fix NaN handling in cube fitting
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/default/plugins/model_fitting/initializers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: bug, cubeviz, plugin, backport-v3.10.x

#3195 updated vue file
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
Labels: imviz, trivial, no-changelog-entry-needed, plugin

#3197 fix tray plugin styling
  jdaviz/components/tray_plugin.vue
Labels: UI/UX😍, trivial, no-changelog-entry-needed

#3190 Fix cube fitting compatibility with unit conversion
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/initializers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: bug, cubeviz, plugin

#3156 convert flux cubes to per-square-pixel surface brightness cubes
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/tests/test_viewers.py
  jdaviz/conftest.py
  jdaviz/core/marks.py
  jdaviz/core/validunits.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: cubeviz, specviz, plugin

#3196 show unit cols by default in model fitting results table
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: trivial, plugin

#3202 Use TRFLSQFitter instead of LevMarLSQFitter
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/tests/test_blackbody.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: imviz, trivial, plugin

#3200 add support for scientific notation in unit string
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
Labels: cubeviz, plugin

#3192 refactor unit conversion messaging
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/mixins.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/tests/test_viewers.py
  jdaviz/core/events.py
  jdaviz/core/template_mixin.py
  jdaviz/core/validunits.py
  jdaviz/utils.py
Labels: cubeviz, specviz, testing, imviz, Ready for final review, plugin

#3104 Create import_region method for loading region objects
  docs/cubeviz/import_data.rst
  docs/imviz/import_data.rst
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/subset_plugin/tests/test_subset_plugin.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_delete_data.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/configs/imviz/tests/test_viewers.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/rampviz/tests/test_ramp_extraction.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/tests/test_data_menu.py
  jdaviz/core/tests/test_helpers.py
  jdaviz/core/tests/test_template_mixin.py
  jdaviz/core/tools.py
  jdaviz/tests/test_subsets.py
  notebooks/CubevizExample.ipynb
  notebooks/ImvizDitheredExample.ipynb
  notebooks/ImvizExample.ipynb
  notebooks/concepts/RampvizExample.ipynb
  notebooks/concepts/cubeviz_aperture_photometry.ipynb
  notebooks/concepts/imviz_advanced_aper_phot.ipynb
  notebooks/concepts/imviz_color_display.ipynb
  notebooks/concepts/imviz_colorbar_mpl.ipynb
  notebooks/concepts/imviz_edit_subset_programmatic.ipynb
  notebooks/concepts/imviz_simple_aper_phot.ipynb
Labels: no-changelog-entry-needed, plugin

#3204 Units cleanup
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_unit_conversion.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/custom_units.py
  jdaviz/core/validunits.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: cubeviz, specviz, testing, imviz, Ready for final review, no-changelog-entry-needed, plugin

#3205 MNT: Use hash for Action workflow versions and update if needed
  .github/workflows/changelog_check.yml
  .github/workflows/check_milestone.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/open_actions.yml
  .github/workflows/predeps_workflows.yml
  .github/workflows/publish.yml
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed
