Repository spacetelescope/jdaviz, pull requests merged in 2024-06, with the labels that each got.

#2875 Add support for load_data from URI/URL
  CHANGES.rst
  docs/conf.py
  docs/cubeviz/import_data.rst
  docs/imviz/import_data.rst
  docs/specviz/import_data.rst
  docs/specviz2d/import_data.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/mosviz/plugins/parsers.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/core/launcher.py
  jdaviz/core/tests/test_autoconfig.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
  notebooks/CubevizExample.ipynb
  notebooks/ImvizDitheredExample.ipynb
  notebooks/ImvizExample.ipynb
  notebooks/Specviz2dExample.ipynb
  notebooks/SpecvizExample.ipynb
Labels: cubeviz, specviz, mosviz, testing, imviz, plugin

#2906 Pin min version of matplotlib
  pyproject.toml
Labels: trivial, no-changelog-entry-needed, backport-v3.10.x

#2905 Fix devdeps
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/tests/test_tools.py
  jdaviz/tests/test_utils.py
Labels: cubeviz, testing, imviz, no-changelog-entry-needed, plugin, backport-v3.10.x

#2908 Manual backport of PR 2905 to v3.10.x (Fix devdeps)
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/tests/test_tools.py
  jdaviz/tests/test_utils.py
Labels: testing, imviz, trivial, no-changelog-entry-needed

#2911 Change matplotlib min version to 3.6
  pyproject.toml
Labels: trivial, no-changelog-entry-needed, backport-v3.10.x

#2912 Backport PR #2911 on branch v3.10.x (Change matplotlib min version to 3.6)"
  pyproject.toml
Labels: trivial, no-changelog-entry-needed

#2913 Preparing release v3.10.2
  CHANGES.rst
  CITATION.cff
Labels: documentation

#2916 Add browser title jdaviz
  share/jupyter/nbconvert/templates/jdaviz-default/index.html.j2
Labels: embed, UI/UX😍, trivial, no-changelog-entry-needed

#2920 Changelog update for dev on v3.10.3
  CHANGES.rst
Labels: trivial, no-changelog-entry-needed

#2910 Add test that triggers handle_display_units bug
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_app.py
Labels: specviz, plugin

#2918 Update footprint orientations on viewer rotation
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/tests/test_footprints.py
Labels: imviz, plugin

#2845 Add option of using self derived interpolated profile for horne extract in specviz2d/spectral extraction plugin
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  pyproject.toml
Labels: plugin, specviz2d

#2904 Consolidate videos to one page in docs
  docs/cubeviz/examples.rst
  docs/cubeviz/index.rst
  docs/imviz/examples.rst
  docs/imviz/index.rst
  docs/index_using_jdaviz.rst
  docs/specviz/examples.rst
  docs/specviz/index.rst
  docs/video_tutorials.rst
Labels: documentation, no-changelog-entry-needed

#2925 Pin importlib_metadata to version 7.2.1
  .github/workflows/publish.yml
  tox.ini
Labels: trivial, no-changelog-entry-needed, backport-v3.10.x

#2873 Correct sum units for per steradian
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/conftest.py
  jdaviz/core/helpers.py
  jdaviz/tests/test_app.py
  jdaviz/utils.py
Labels: cubeviz, testing, plugin

#2926 Backport PR #2925 on branch v3.10.x (Pin importlib_metadata to version 7.2.1)
  .github/workflows/publish.yml
  tox.ini
Labels: trivial, no-changelog-entry-needed, backport-v3.10.x

#2927 Add scipy subdirectory to dylib deletion
  .github/workflows/standalone.yml
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.10.x, Build standalone

#2928 BLD: Backport OSX standalone changes
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed

#2929 Fix path in previous build fix
  .github/workflows/standalone.yml
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.10.x

#2930 Backport PR #2929 on branch v3.10.x (Fix path in previous build fix)
  .github/workflows/standalone.yml
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.10.x
