Repository spacetelescope/jdaviz, pull requests merged in 2024-05, with the labels that each got.

#2840 Cubeviz should recognize ERROR and DATA_QUALITY extension names
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: cubeviz, trivial, plugin

#2841 cubeviz spectral extraction: consistent language for aperture/bg validity messages
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
Labels: cubeviz, UI/UX😍, trivial, no-changelog-entry-needed, plugin

#2842 Fix logic flow in _parse_hdulist for Cubeviz
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: bug, cubeviz, trivial, no-changelog-entry-needed, plugin

#2837 Spectral extraction in Cubeviz with composite subsets
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, plugin

#2843 Export spectral subsets
  CHANGES.rst
  docs/specviz/export_data.rst
  docs/specviz/plugins.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/core/template_mixin.py
  pyproject.toml
Labels: feature, Ready for final review, plugin

#2833 TST: Mark test_autoconfig as slow
  jdaviz/core/tests/test_autoconfig.py
Labels: testing, trivial, no-changelog-entry-needed

#2846 Hide flux_unit from unit conversion
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
Labels: specviz, trivial, no-changelog-entry-needed, plugin

#2848 Back to dev
  CHANGES.rst
Labels: no-changelog-entry-needed

#2850 Back to dev again
  CHANGES.rst
  CITATION.cff
Labels: documentation, trivial, skip-changelog-checks

#2806 Updates to mosviz docs
  docs/img/slit_overlay.png
  docs/mosviz/displayspectra.rst
  docs/mosviz/img/mosviz_ui.png
  docs/mosviz/navigation.rst
  docs/mosviz/notebook.rst
Labels: documentation, no-changelog-entry-needed

#2853 Update standalone.yml
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed, Build standalone

#2855 Downgrade upload-artifact to version 3, delete scipy dylib files
  .github/workflows/standalone.yml
Labels: testing, skip-changelog-checks, Build standalone

#2781 toggle flux <-> surface brightness units
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz/tests/test_viewers.py
  jdaviz/core/validunits.py
  jdaviz/tests/test_app.py
Labels: cubeviz, specviz, plugin

#2827 Cubeviz spectral extraction through plugin
  CHANGES.rst
  docs/cubeviz/export_data.rst
  docs/cubeviz/plugins.rst
  jdaviz/app.py
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_data_retrieval.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/cubeviz/plugins/tests/test_tools.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.vue
  jdaviz/configs/default/plugins/gaussian_smooth/tests/test_gaussian_smooth.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/container.vue
  jdaviz/core/helpers.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_template_mixin.py
  jdaviz/tests/test_subsets.py
  notebooks/CubevizExample.ipynb
  pyproject.toml
Labels: cubeviz, plugin

#2857 Try pinning pyinstaller<6
  .github/workflows/standalone.yml
Labels: testing, trivial, skip-changelog-checks, Build standalone

#2854 Prevent composite array calls on subsets
  CHANGES.rst
  jdaviz/configs/default/plugins/data_quality/data_quality.py
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
Labels: bug, plugin, backport-v3.10.x

#2856 Enable Row Selection on Plugin Table Component
  CHANGES.rst
  jdaviz/components/plugin_table.vue
  jdaviz/core/template_mixin.py
Labels: feature, Ready for final review, plugin

#2771 Speed up histogram in plot options (alternative to #2763)
  CHANGES.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_tools.py
  pyproject.toml
Labels: imviz, Ready for final review, performance, plugin, backport-v3.10.x

#2862 Prevent repeatedly updating previews in specviz2d spectral extraction
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
Labels: Ready for final review, plugin, specviz2d, backport-v3.10.x

#2864 Backport PR 2862 onto v3.10.x (Prevent repeatedly updating previews in specviz2d spectral extraction)
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
Labels: bug, trivial, skip-changelog-checks, plugin, specviz2d

#2866 Backport PR #2865 on branch v3.10.x (TST: Upload to codecov as separate job)
  .github/workflows/ci_workflows.yml
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v3.10.x

#2868 BLD: Upgrade import-codesign-certs to v3
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed

#2869 Use codecov token to upload coverage
  .github/workflows/ci_workflows.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.10.x

#2870 Backport PR #2869 on branch v3.10.x (Use codecov token to upload coverage)
  .github/workflows/ci_workflows.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v3.10.x

#2867 Use small angular offsets when determining compass properties
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz, trivial, no-changelog-entry-needed, plugin

#2880 subset plugin: disable update button when no subset selected
  CHANGES.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
Labels: UI/UX😍, plugin, backport-v3.10.x

#2882 Backport PR #2880 on branch v3.10.x (subset plugin: disable update button when no subset selected)
  CHANGES.rst
  jdaviz/configs/default/plugins/subset_plugin/subset_plugin.vue
Labels: UI/UX😍, plugin, backport-v3.10.x

#2883 viewer toolbar: allow clicking carrot to show submenu
  jdaviz/components/toolbar_nested.vue
Labels: UI/UX😍, Ready for final review, no-changelog-entry-needed

#2878 Remove things deprecated since v3.9
  CHANGES.rst
  docs/imviz/plugins.rst
  docs/reference/api_plugins.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/__init__.py
  jdaviz/configs/imviz/plugins/rotate_canvas/__init__.py
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.py
  jdaviz/configs/imviz/plugins/rotate_canvas/rotate_canvas.vue
  jdaviz/configs/imviz/plugins/rotate_canvas/tests/__init__.py
  jdaviz/configs/imviz/plugins/rotate_canvas/tests/test_rotate_canvas.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
Labels: documentation, cubeviz, specviz, api, imviz, trivial, plugin

#2885 Override fill color for bqplot selector tools
  jdaviz/core/tools.py
Labels: UI/UX😍, trivial, no-changelog-entry-needed

#2879 App toolbar buttons dodge mouseover info
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.vue
Labels: embed, UI/UX😍, imviz, Ready for final review, no-changelog-entry-needed, plugin

#2859 Background subtraction in spectral extraction (cubeviz)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_app.py
Labels: cubeviz, specviz, testing, plugin

#2892 Plugin tray open on show
  CHANGES.rst
  jdaviz/app.py
Labels: UI/UX😍, trivial

#2886 About plugin
  CHANGES.rst
  docs/reference/api_plugins.rst
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/default/default.yaml
  jdaviz/configs/default/plugins/__init__.py
  jdaviz/configs/default/plugins/about/__init__.py
  jdaviz/configs/default/plugins/about/about.py
  jdaviz/configs/default/plugins/about/about.vue
  jdaviz/configs/default/plugins/about/tests/__init__.py
  jdaviz/configs/default/plugins/about/tests/test_about_plugin.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz2d/specviz2d.yaml
  pyproject.toml
Labels: cubeviz, specviz, mosviz, imviz, Ready for final review, plugin, specviz2d

#2894 Rename monochromatic color mode and add descriptions
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
  jdaviz/configs/default/plugins/plot_options/tests/test_plot_options.py
  jdaviz/core/template_mixin.py
  notebooks/concepts/cubeviz_ndarray_gif.ipynb
  notebooks/concepts/imviz_colorbar_mpl.ipynb
  notebooks/concepts/imviz_dithered_gwcs.ipynb
Labels: Ready for final review, plugin

#2897 Tighten metadata layout and improve grouping
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.vue
Labels: UI/UX😍, trivial, no-changelog-entry-needed, plugin

#2895 Generalize viewer slices logic
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, Ready for final review, no-changelog-entry-needed, plugin, backport-v3.10.x

#2888 Fix unit conversion from flux to surface brightness
  jdaviz/app.py
  jdaviz/tests/test_app.py
Labels: bug, testing, no-changelog-entry-needed

#2901 small style tweaks to color mode dropdown
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: UI/UX😍, trivial, no-changelog-entry-needed, plugin

#2902 Improve docs DQ
  docs/imviz/img/imviz_dq.png
  docs/imviz/plugins.rst
Labels: documentation, trivial, no-changelog-entry-needed

#2903 Fix typo
  docs/imviz/plugins.rst
Labels: documentation, no-changelog-entry-needed

#2860 fix SB/flux scale factor
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/tests/test_app.py
Labels: bug, cubeviz, specviz, testing, Ready for final review, plugin

#2889 Fix unit conversion of limits from Fnu to Flam
  jdaviz/app.py
  jdaviz/tests/test_app.py
Labels: bug, testing, no-changelog-entry-needed
