Repository spacetelescope/jdaviz, pull requests merged in 2025-07, with the labels that each got.

#3680 Remove unused function from model fitting
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
Labels: trivial, no-changelog-entry-needed, plugin

#3675 Deconfigged: imviz plugins
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/footprints/footprints.vue
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/conftest.py
  jdaviz/core/helpers.py
  jdaviz/core/loaders/importers/image/image.py
  jdaviz/core/loaders/importers/importer.py
  jdaviz/core/template_mixin.py
  jdaviz/core/viewer_creators/__init__.py
  jdaviz/core/viewer_creators/image/image.py
  jdaviz/core/viewer_creators/test_viewer_creators.py
Labels: imviz, plugin

#3653 Fix viewer layout after removing row
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/container.vue
  jdaviz/core/template_mixin.py
Labels: embed, no-changelog-entry-needed

#3478 feat: allow exporting of figures in a custom resolution
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/viewers.py
Labels: plugin

#3609 Started work on Distance Tool
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/markers/markers.vue
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/core/marks.py
Labels: plugin

#3685 Read dev docs
  docs/cubeviz/displaycubes.rst
  docs/cubeviz/export_data.rst
  docs/cubeviz/plugins.rst
  docs/dev/infrastructure.rst
  docs/dev/links.rst
  docs/dev/release.rst
  docs/dev/specviz_selection.rst
  docs/dev/ui_description.rst
  docs/dev/ui_plugin_components.rst
  docs/dev/ui_style_guide.rst
  docs/dev/win_dev.rst
  docs/imviz/displayimages.rst
  docs/imviz/export_data.rst
  docs/imviz/import_data.rst
  docs/imviz/plugins.rst
  docs/index.rst
  docs/index_jwst_modes.rst
  docs/mosviz/displayspectra.rst
  docs/mosviz/plugins.rst
  docs/rampviz/plugins.rst
  docs/specviz/displaying.rst
  docs/specviz/plugins.rst
  docs/specviz2d/plugins.rst
  docs/video_tutorials.rst
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
Labels: documentation, Ready for final review, trivial, no-changelog-entry-needed

#3691 rename and deprecate Spectral Extraction plugins in specviz2d and cubeviz
  CHANGES.rst
  docs/cubeviz/export_data.rst
  docs/cubeviz/plugins.rst
  docs/specviz2d/plugins.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_parsers.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/core/helpers.py
  jdaviz/core/loaders/importers/spectrum2d/spectrum2d.py
  jdaviz/core/loaders/test_loaders.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_app.py
  notebooks/Specviz2dExample.ipynb
Labels: documentation, cubeviz, testing, Ready for final review, plugin, specviz2d

#3692 TST: CI updates to use cache
  .github/workflows/cache-download.yml
  .github/workflows/ci_workflows.yml
  .github/workflows/publish.yml
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_export_plots.py
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/core/loaders/test_loaders.py
  jdaviz/core/tests/test_autoconfig.py
  jdaviz/core/tests/test_config_detection.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: testing, no-changelog-entry-needed

#3695 fix API hint in data-menu to access viewer
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
Labels: trivial, plugin, backport-v4.2.x

#3697 Fix importing array trace
  CHANGES.rst
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: specviz, trivial, plugin, specviz2d, backport-v4.2.x

#3699 Manual backport of PR 3695
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
Labels: no-changelog-entry-needed, plugin

#3690 Sonify in any viewer
  CHANGES.rst
  jdaviz/components/plugin_add_results.vue
  jdaviz/components/plugin_viewer_select.vue
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.py
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.vue
  jdaviz/configs/cubeviz/plugins/sonify_data/tests/test_sonify_data.py
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: cubeviz, plugin

#3707 continue-on-error PR label support
  .github/workflows/ci_workflows.yml
Labels: testing, trivial, no-changelog-entry-needed, continue-on-error

#3662 Enable loaders with tests
  CHANGES.rst
  jdaviz/app.vue
  jdaviz/components/plugin_select.vue
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/virtual_observatory/tests/test_vo_imviz.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/tests/test_orientation.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_parser_roman.py
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/core/helpers.py
  jdaviz/core/loaders/importers/image/image.py
  jdaviz/core/loaders/importers/image/image.vue
  jdaviz/core/loaders/importers/importer.py
  jdaviz/core/loaders/importers/spectrum2d/spectrum2d.py
  jdaviz/core/loaders/importers/subset/subset.py
  jdaviz/core/loaders/parsers/__init__.py
  jdaviz/core/loaders/parsers/asdf.py
  jdaviz/core/loaders/parsers/jpg_png.py
  jdaviz/core/loaders/resolvers/file/file.py
  jdaviz/core/loaders/resolvers/object/object.py
  jdaviz/core/loaders/resolvers/resolver.py
  jdaviz/core/loaders/test_loaders.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
  jdaviz/tests/test_app.py
  jdaviz/tests/test_utils.py
  notebooks/ImvizExample.ipynb
  pyproject.toml
Labels: testing, imviz, Ready for final review, plugin

#3687 add gwcs sip switch to image loader, remove from orientation plugin
  CHANGES.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/plugins/orientation/orientation.vue
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/core/helpers.py
  jdaviz/core/loaders/importers/image/image.py
  jdaviz/core/loaders/importers/image/image.vue
  jdaviz/core/loaders/test_loaders.py
  jdaviz/utils.py
Labels: embed, testing, imviz, Ready for final review, plugin

#3710 Fix export movie in cubeviz
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_export_plots.py
  jdaviz/configs/default/plugins/export/export.py
Labels: bug, cubeviz, plugin

#3712 Test coverage for 2d spectral extraction of uncal spectrum
  jdaviz/configs/specviz2d/tests/test_parsers.py
Labels: trivial, no-changelog-entry-needed, specviz2d

#3713 enable imviz.load, deprecate load_data
  CHANGES.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  notebooks/ImvizExample.ipynb
  notebooks/Specviz2dExample.ipynb
  notebooks/SpecvizExample.ipynb
Labels: imviz, trivial

#3704 Add relevancy check code to PluginMixin
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/compass/compass.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_template_mixin.py
Labels: specviz, imviz, no-changelog-entry-needed, plugin, specviz2d

#3694 Expand Distance Tool
  CHANGES.rst
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/core/marks.py
  pyproject.toml
Labels: plugin

#3715 use spectral y unit for non cube fit model fitting component
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
Labels: plugin
