Repository spacetelescope/jdaviz, pull requests merged in 2025-10, with the labels that each got.

#3816 skip failing VO test
  jdaviz/configs/default/plugins/virtual_observatory/tests/test_vo_imviz.py
Labels: testing, trivial, no-changelog-entry-needed, plugin

#3817 add specific links for specviz2d subsets, update test coverage
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/core/loaders/tests/test_loaders.py
  jdaviz/tests/test_subsets.py
Labels: bug, testing, specviz2d

#3814 Automatic (wcs) linking for source catalogs
  jdaviz/app.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/tests/test_viewers.py
  jdaviz/conftest.py
Labels: testing, imviz, no-changelog-entry-needed, plugin

#3806 Incorporate joblib for parallelization
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/cube_listener.py
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
  pyproject.toml
Labels: cubeviz, performance, plugin

#3827 Backport PR #3816 on branch v4.4.x (skip failing VO test)
  jdaviz/configs/default/plugins/virtual_observatory/tests/test_vo_imviz.py
Labels: testing, trivial, no-changelog-entry-needed, plugin
