Repository spacetelescope/jdaviz, pull requests merged in 2025-04, with the labels that each got.

#3518 override glue's _convert_units_x_limits
  CHANGES.rst
  jdaviz/configs/specviz/tests/test_viewers.py
  jdaviz/core/freezable_state.py
Labels: bug, specviz, Ready for final review, plugin

#3526 deconfigged: set_relevant for all plugins
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_export_plots.py
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/configs/default/plugins/gaussian_smooth/gaussian_smooth.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tests/test_template_mixin.py
Labels: specviz, Ready for final review, plugin

#3519 Catalog Search: Keep original columns from file only
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
  jdaviz/core/template_mixin.py
Labels: bug, feature, imviz, Ready for final review, plugin

#3485 Update CODEOWNERS
  .github/CODEOWNERS
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: trivial, no-changelog-entry-needed

#3529 Expose catalog search api
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: imviz, Ready for final review, plugin

#3530 remove _get_region_from_spatial_subset
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/core/region_translators.py
  jdaviz/core/template_mixin.py
Labels: imviz, no-changelog-entry-needed, plugin

#3525 Select the closest footprint overlay based on viewer click
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_footprints.py
  jdaviz/core/events.py
  jdaviz/core/tools.py
  jdaviz/data/icons/footprint_select.svg
Labels: imviz, plugin

#3483 change imviz reference data coords from GWCS to FITS WCS
  CHANGES.rst
  docs/imviz/displayimages.rst
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_delete_data.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/imviz/wcs_utils.py
  jdaviz/core/freezable_state.py
  jdaviz/utils.py
Labels: imviz, performance, Extra CI

#3537 fix remote data failures
  CHANGES.rst
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/core/tests/test_autoconfig.py
  jdaviz/core/tests/test_config_detection.py
  jdaviz/tests/test_utils.py
  notebooks/CubevizExample.ipynb
  notebooks/SpecvizExample.ipynb
Labels: documentation, testing, plugin

#3522 deconfigged: clone viewers
  CHANGES.rst
  jdaviz/components/plugin_add_results.vue
  jdaviz/configs/cubeviz/plugins/moment_maps/tests/test_moment_maps.py
  jdaviz/configs/default/plugins/line_lists/line_lists.py
  jdaviz/configs/default/plugins/line_lists/line_lists.vue
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/viewers.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
  jdaviz/core/events.py
  jdaviz/core/helpers.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tools.py
  jdaviz/data/icons/viewer_clone.svg
  jdaviz/main_styles.vue
Labels: cubeviz, specviz, mosviz, embed, testing, imviz, Ready for final review, plugin, specviz2d

#3536 update linked -> aligned
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/imviz/helper.py
  jdaviz/core/astrowidgets_api.py
  jdaviz/core/helpers.py
Labels: imviz, trivial, no-changelog-entry-needed, plugin

#3542 Backport PR #3512 on branch v4.2.x (ignore nans when finding brightest pixel for initial trace guess)
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: plugin, specviz2d

#3543 Backport PR #3518 on branch v4.2.x (override glue's _convert_units_x_limits)
  CHANGES.rst
  jdaviz/configs/specviz/tests/test_viewers.py
  jdaviz/core/freezable_state.py
Labels: bug, specviz, Ready for final review, plugin

#3541 backport: fix deleting 2d spectrum from specviz2d
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
Labels: bug, trivial, plugin, specviz2d

#3545 replace remote data
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: cubeviz, testing, no-changelog-entry-needed, plugin

#3539 Show FootprintSelect tool only when overlays exist
  CHANGES.rst
  jdaviz/components/toolbar_nested.py
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/tests/test_footprints.py
  jdaviz/core/events.py
  jdaviz/core/tools.py
Labels: imviz, plugin

#3531 loaders: lcviz support
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/core/helpers.py
  jdaviz/core/loaders/importers/importer.py
  jdaviz/core/loaders/importers/spectrum2d/spectrum2d.py
  jdaviz/core/loaders/parsers/fits.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: Ready for final review

#3535 for images with GWCS, show world coords on mouseover outside of bounding box using refdata
  CHANGES.rst
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/imviz/plugins/viewers.py
Labels: imviz, plugin

#3546 Make selected footprint overlays more visible
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/core/marks.py
Labels: imviz, Ready for final review, plugin

#3547 fix andNot subset bug
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
  jdaviz/tests/test_subsets.py
Labels: testing, plugin

#3523 Switch default import_region behavior to create a new subset
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/tests/test_subsets.py
Labels: Ready for final review, plugin

#3554 Reformat PR#3546
  CHANGES.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/core/marks.py
Labels: imviz, trivial, plugin

#3553 Imviz mult viewer wcs link
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/imviz/tests/test_viewers.py
Labels: imviz, trivial, plugin, backport-v4.2.x

#3558 Backport PR #3553 on branch v4.2.x (Imviz mult viewer wcs link)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/imviz/tests/test_viewers.py
Labels: imviz, trivial, plugin, backport-v4.2.x

#3563 [SCSB-205] `project.license.file` -> `project.license-files`
  pyproject.toml
Labels: trivial, no-changelog-entry-needed, Build standalone

#3562 temp fix: auto_label python 3.11
  jdaviz/core/template_mixin.py
Labels: bug, no-changelog-entry-needed

#3559 fix test failures in spectral extraction
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: no-changelog-entry-needed

#3565 Revert "temp fix: auto_label python 3.11"
  jdaviz/core/template_mixin.py
Labels: no-changelog-entry-needed
