Repository spacetelescope/jdaviz, pull requests merged in 2025-03, with the labels that each got.

#3464 Fix incorrect matching of skycoords with pixel coords in catalog results
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: bug, imviz, Ready for final review, plugin, backport-v4.1.x

#3480 Backport PR #3464 on branch v4.1.x (Fix incorrect matching of skycoords with pixel coords in catalog results)"
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: bug, imviz, no-changelog-entry-needed, plugin

#3468 loaders: specviz+specviz2d support
  docs/reference/api_parsers.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/loader_panel.vue
  jdaviz/configs/specviz2d/plugins/__init__.py
  jdaviz/configs/specviz2d/plugins/parsers.py
  jdaviz/core/helpers.py
  jdaviz/core/loaders/importers/__init__.py
  jdaviz/core/loaders/importers/importer.py
  jdaviz/core/loaders/importers/subset/subset.py
  jdaviz/core/loaders/importers/trace/__init__.py
  jdaviz/core/loaders/importers/trace/trace.py
  jdaviz/core/loaders/parsers/__init__.py
  jdaviz/core/loaders/parsers/object.py
  jdaviz/core/loaders/parsers/regions.py
  jdaviz/core/loaders/parsers/specutils.py
  jdaviz/core/loaders/resolvers/__init__.py
  jdaviz/core/loaders/resolvers/file/file.py
  jdaviz/core/loaders/resolvers/object/__init__.py
  jdaviz/core/loaders/resolvers/object/object.py
  jdaviz/core/loaders/resolvers/object/object.vue
  jdaviz/core/loaders/resolvers/resolver.py
  jdaviz/core/loaders/resolvers/url/url.py
  jdaviz/core/loaders/test_loaders.py
  jdaviz/core/template_mixin.py
Labels: embed, Ready for final review, no-changelog-entry-needed

#3487 Max pin specreduce to fix CI
  pyproject.toml
Labels: :fire:, trivial, no-changelog-entry-needed, backport-v4.1.x

#3488 Manual backport #3487
  pyproject.toml
Labels: trivial, no-changelog-entry-needed

#3490 Backport PR #3489 on branch v4.1.x (Add additional header keyword to fake SDSS test data)
  jdaviz/tests/test_data_formats.py
Labels: testing, trivial, no-changelog-entry-needed, Affects-dev, backport-v4.1.x

#3475 spectral extraction: improve default guess for trace location
  CHANGES.rst
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
Labels: bug, Ready for final review, plugin, specviz2d, backport-v4.1.x

#3491 Manual backport of #3475
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
Labels: no-changelog-entry-needed, plugin, specviz2d

#3482 BUG: Fix Catalog Search zoom to selected for multiple sources
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: bug, imviz, Ready for final review, plugin

#3474 subset_tools.import_region should have max_num_regions=20 as default, also deprecate/remove duplicate functionality
  CHANGES.rst
  docs/cubeviz/import_data.rst
  docs/imviz/import_data.rst
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_helper.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_unit_conversion.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/helpers.py
  notebooks/CubevizExample.ipynb
  notebooks/ImvizDitheredExample.ipynb
  notebooks/ImvizExample.ipynb
  notebooks/concepts/imviz_roman_asdf.ipynb
Labels: cubeviz, api, imviz, Ready for final review, plugin

#3484 Add Subset Tools API method to update subset
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.vue
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
Labels: api, plugin

#3494 Add scipy file removal to macos step
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed

#3496 Install qt for mac standalone
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed

#3503 add specreduce to dev test
  tox.ini
Labels: testing, no-changelog-entry-needed

#3497 Deprecate imviz.get_catalog_source_results()
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/helper.py
Labels: api, imviz, Ready for final review

#3499 Expose Table Mixin Single Select
  jdaviz/components/plugin_table.vue
  jdaviz/core/template_mixin.py
Labels: no-changelog-entry-needed

#3498 add app level delete_subsets method, remove/replace others
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/tests/test_regions.py
  jdaviz/configs/imviz/tests/test_viewers.py
  jdaviz/core/helpers.py
  jdaviz/tests/test_subsets.py
Labels: testing, imviz, Ready for final review, no-changelog-entry-needed, plugin

#3508 Unpin max pyinstaller
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed

#3509 Remove (hopefully) unneeded file deletion step
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed

#3511 Specify port for jdaviz in standalone build CI
  .github/workflows/standalone.yml
Labels: testing, trivial, no-changelog-entry-needed, Build standalone

#3512 ignore nans when finding brightest pixel for initial trace guess
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: plugin, specviz2d

#3510 RFC: Radial profile and CoG using photutils.profiles
  .github/workflows/ci_workflows.yml
  .github/workflows/predeps_workflows.yml
  .github/workflows/publish.yml
  CHANGES.rst
  docs/imviz/plugins.rst
  docs/index.rst
  docs/installation.rst
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/region_translators.py
  jdaviz/core/tests/test_region_translators.py
  pyproject.toml
Labels: imviz, plugin, Extra CI

#3513 Avoid accessing all pixels in a dataset just to determine pixel limits :zap:
  CHANGES.rst
  jdaviz/core/freezable_state.py
Labels: bug, backport-v4.2.x

#3506 remove max pin
  pyproject.toml
Labels: no-changelog-entry-needed

#3515 Backport PR #3513 on branch v4.2.x (Avoid accessing all pixels in a dataset just to determine pixel limits :zap: )
  CHANGES.rst
  jdaviz/core/freezable_state.py
Labels: bug, backport-v4.2.x

#3514 Highlight active layer in Plot Options
  CHANGES.rst
  jdaviz/components/layer_viewer_icon_stylized.vue
  jdaviz/components/plugin_layer_select_tabs.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: UI/UX😍, testing, Ready for final review, plugin

#3493 loader: file drop
  jdaviz/core/loaders/resolvers/__init__.py
  jdaviz/core/loaders/resolvers/file/file.vue
  jdaviz/core/loaders/resolvers/file_drop/__init__.py
  jdaviz/core/loaders/resolvers/file_drop/file_drop.py
  jdaviz/core/loaders/resolvers/file_drop/file_drop.vue
Labels: no-changelog-entry-needed

#3504 Remove unit conversion's spectrum viewer dependence
  jdaviz/app.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/helpers.py
  jdaviz/core/marks.py
Labels: specviz, imviz, no-changelog-entry-needed, plugin

#3502 Fix bug with SkyRegion not working with cube data
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_regions.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
  jdaviz/configs/imviz/tests/test_linking.py
Labels: plugin

#3516 Update test to accept either shape of reprocessed drz file
  jdaviz/configs/imviz/tests/test_parser.py
Labels: testing, imviz, trivial, no-changelog-entry-needed, backport-v4.2.x

#3517 Backport PR #3516 on branch v4.2.x (Update test to accept either shape of reprocessed drz file)
  jdaviz/configs/imviz/tests/test_parser.py
Labels: testing, imviz, trivial, no-changelog-entry-needed, backport-v4.2.x

#3479 implement python s_region parser in imviz
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/footprints/footprints.py
  jdaviz/configs/imviz/tests/test_footprints.py
  jdaviz/configs/mosviz/plugins/slit_overlay/slit_overlay.py
  jdaviz/configs/mosviz/plugins/slit_overlay/tests/test_slit_overlay.py
  jdaviz/core/region_translators.py
  jdaviz/core/tests/test_region_translators.py
Labels: mosviz, imviz, plugin

#3520 TST: Fix remote data, ignore solara DeprecationWarning
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  pyproject.toml
Labels: bug, cubeviz, testing, trivial, no-changelog-entry-needed, plugin, backport-v4.2.x

#3521 Backport PR #3520 on branch v4.2.x (TST: Fix remote data, ignore solara DeprecationWarning)
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  pyproject.toml
Labels: bug, cubeviz, testing, trivial, no-changelog-entry-needed, plugin, backport-v4.2.x

#3500 Load data via s3 uri
  CHANGES.rst
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
  pyproject.toml
Labels: testing, imviz, plugin
