Repository spacetelescope/jdaviz, pull requests merged in 2025-08, with the labels that each got.

#3716 Update distance measurement marks on unit change
  CHANGES.rst
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/core/marks.py
Labels: bug, plugin, backport-v4.3.x

#3722 Backport PR #3714 on branch v4.3.x (Fix failing data format tests)
  jdaviz/core/data_formats.py
  jdaviz/tests/test_data_formats.py
Labels: specviz, testing, backport-v4.3.x

#3723 Backport PR #3715 on branch v4.3.x (use spectral y unit for non cube fit model fitting component )
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
Labels: plugin, backport-v4.3.x

#3719 Backport PR #3716 on branch v4.3.x (Update distance measurement marks on unit change)
  CHANGES.rst
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/core/marks.py
Labels: bug, plugin, backport-v4.3.x

#3720 Expose fitters in Model Fitting
  CHANGES.rst
  docs/specviz/plugins.rst
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: plugin

#3725 Bump glue pin, remove old workaround
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/core/loaders/importers/image/image.py
  pyproject.toml
Labels: imviz, trivial, no-changelog-entry-needed, plugin

#3708 re-enabling spectral subset visibility from data menu
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/core/template_mixin.py
Labels: cubeviz

#3735 Backport PR #3708 on branch v4.3.x (re-enabling spectral subset visibility from data menu)
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/core/template_mixin.py
Labels: cubeviz, no-changelog-entry-needed

#3737 Backport PR #3727 on branch v4.3.x (Fix Cube Fit component initialization)
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
Labels: bug, cubeviz, plugin

#3743 Backport PR #3740 on branch v4.3.x (Debug issue with MIRI files in Rampviz)
  CHANGES.rst
  jdaviz/app.vue
Labels: bug, embed, UI/UX😍, trivial, needs-triage, rampviz, backport-v4.3.x
