Repository spacetelescope/jdaviz, pull requests merged in 2025-05, with the labels that each got.

#3555 deconfigged: core plugin UI
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/about_menu.vue
  jdaviz/components/loader.vue
  jdaviz/components/tooltip.vue
  jdaviz/configs/cubeviz/cubeviz.yaml
  jdaviz/configs/deconfigged/deconfigged.yaml
  jdaviz/configs/default/default.yaml
  jdaviz/configs/default/plugins/__init__.py
  jdaviz/configs/default/plugins/about/about.py
  jdaviz/configs/default/plugins/about/about.vue
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/logger/__init__.py
  jdaviz/configs/default/plugins/logger/logger.py
  jdaviz/configs/default/plugins/logger/logger.vue
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/metadata_viewer/metadata_viewer.py
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/virtual_observatory/tests/test_vo_imviz.py
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/mosviz/mosviz.yaml
  jdaviz/configs/rampviz/rampviz.yaml
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/specviz.yaml
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/container.vue
  jdaviz/core/helpers.py
  jdaviz/core/loaders/test_loaders.py
  jdaviz/core/registries.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
  jdaviz/main_styles.vue
  jdaviz/utils.py
Labels: embed, UI/UX😍, Ready for final review, plugin

#3557 Line analysis results table
  CHANGES.rst
  jdaviz/components/plugin_table.vue
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
Labels: specviz, Ready for final review, plugin

#3567 Docs: update export stuff to go through plugin for cubeviz
  docs/cubeviz/export_data.rst
Labels: documentation, no-changelog-entry-needed

#3570 Fix exception on Mosviz s2d
  CHANGES.rst
  jdaviz/configs/mosviz/helper.py
Labels: mosviz, backport-v4.2.x

#3572 loader support for HLSP 2D spectrum
  jdaviz/__init__.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/core/loaders/importers/spectrum2d/spectrum2d.py
  jdaviz/core/loaders/resolvers/resolver.py
  jdaviz/core/loaders/resolvers/url/url.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, no-changelog-entry-needed, plugin, specviz2d

#3578 Manual backport of PR #3551
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
Labels: embed, no-changelog-entry-needed

#3579 Auto backport of pr 3570 on v4.2.x
  CHANGES.rst
  jdaviz/configs/mosviz/helper.py
Labels: documentation, cubeviz, specviz, mosviz, embed, testing, imviz, no-changelog-entry-needed, plugin, specviz2d, rampviz

#3583 fix andNot subset bug (#3547)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/default/plugins/subset_tools/tests/test_subset_tools.py
  jdaviz/tests/test_subsets.py
Labels: testing, no-changelog-entry-needed, plugin

#3576 adjust component_id condition for catalog markers
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/core/astrowidgets_api.py
Labels: bug, imviz, plugin, backport-v4.2.x

#3582 Suppress this annoying repeated warning app-wide
  jdaviz/app.py
Labels: no-changelog-entry-needed

#3580 loaders: improved URL resolver error
  CHANGES.rst
  jdaviz/core/loaders/resolvers/resolver.py
  jdaviz/core/loaders/test_loaders.py
Labels: backport-v4.2.x

#3587 Manual backport of PR 3576
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/core/astrowidgets_api.py
Labels: bug, imviz, no-changelog-entry-needed, plugin

#3588 Manual backport of PR 3580
  CHANGES.rst
  jdaviz/core/loaders/resolvers/resolver.py
  jdaviz/core/loaders/test_loaders.py
Labels: no-changelog-entry-needed

#3586 Preparing release v4.2.2
  CHANGES.rst
  CITATION.cff
Labels: documentation, no-changelog-entry-needed

#3590 back to development, v4.2.x
  CHANGES.rst
Labels: no-changelog-entry-needed

#3589 back to development, 4.2.dev
  CHANGES.rst
  CITATION.cff
Labels: documentation, no-changelog-entry-needed

#3592 Use new get_svg_data from bqplot for consistency with png export
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  pyproject.toml
  tox.ini
Labels: bug, plugin, backport-v4.2.x
