Repository spacetelescope/jdaviz, pull requests merged in 2025-02, with the labels that each got.

#3411 UI for dataset-selection in cubeviz spectral extraction
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
Labels: cubeviz, UI/UX😍, trivial, plugin, backport-v4.1.x

#3423 DOC: Fix release steps numbering, remove old doc
  docs/dev/release.rst
Labels: documentation, trivial, no-changelog-entry-needed

#3426 Backport PR #3411 on branch v4.1.x (UI for dataset-selection in cubeviz spectral extraction)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
Labels: cubeviz, UI/UX😍, trivial, plugin, backport-v4.1.x

#3425 FEAT: Catalog Search plugin to support import catalog from Table/QTable object
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
Labels: documentation, imviz, Ready for final review, plugin

#3427 Docs data menu
  docs/cubeviz/img/cubeviztoolbar.png
  docs/img/data_menu.png
  docs/img/toolbar.jpg
  docs/img/toolbar.png
  docs/imviz/displayimages.rst
  docs/specviz/displaying.rst
  docs/specviz/img/specviztoolbar.jpg
  docs/specviz/img/specviztoolbar.png
Labels: documentation, trivial, no-changelog-entry-needed

#3428 Instructions to install with anaconda navigator
  docs/img/navigator_env.png
  docs/img/navigator_jupyter.png
  docs/img/navigator_launchlab.png
  docs/img/navigator_nameenv.png
  docs/installation.rst
Labels: documentation, trivial, no-changelog-entry-needed

#3238 Extract on SubsetCreateMessage
  jdaviz/core/template_mixin.py
  pyproject.toml
Labels: cubeviz, no-changelog-entry-needed, plugin

#3432 MNT: Bump photutils minversion to 1.12.1
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/core/tests/test_tools.py
  jdaviz/tests/test_utils.py
  pyproject.toml
Labels: testing, imviz, trivial

#2736 adjusting links to enable pixel, wavelength linking in specviz2d
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_subsets.py
Labels: bug, Ready for final review, specviz2d, backport-v4.1.x

#3435 Remove signature from wrapper in API hints
  jdaviz/core/template_mixin.py
Labels: bug, documentation, api, no-changelog-entry-needed, Affects-dev

#3437 set spectral subset visibility to false in cube image viewers
  CHANGES.rst
  jdaviz/configs/default/plugins/viewers.py
Labels: cubeviz, trivial

#3436 Backport PR #2736 on branch v4.1.x (adjusting links to enable pixel, wavelength linking in specviz2d)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/tests/test_subsets.py
Labels: bug, Ready for final review, specviz2d, backport-v4.1.x

#3441 Debugging Mac standalone again...again...again...(echo...)
  .github/workflows/standalone.yml
Labels: testing, no-changelog-entry-needed, Build standalone

#3442 Debug standalone build for MacOS
  .github/workflows/standalone.yml
Labels: testing, no-changelog-entry-needed

#3429 Catalog click-to-select
  CHANGES.rst
  jdaviz/components/plugin_table.vue
  jdaviz/components/toolbar_nested.py
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_catalogs.py
  jdaviz/core/events.py
  jdaviz/core/template_mixin.py
  jdaviz/core/tools.py
  jdaviz/data/icons/catalog_select.svg
Labels: imviz, Ready for final review, plugin

#3431 Replace broken specviz2d data in test and notebook
  jdaviz/configs/default/tests/test_data_menu.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/tests/test_config_detection.py
  jdaviz/tests/test_utils.py
  notebooks/Specviz2dExample.ipynb
Labels: bug, documentation, testing, trivial, no-changelog-entry-needed, specviz2d, backport-v4.1.x

#3443 Backport PR #3431 on branch v4.1.x (Replace broken specviz2d data in test and notebook)
  jdaviz/configs/default/tests/test_data_menu.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/core/tests/test_data_menu.py
  jdaviz/tests/test_utils.py
  notebooks/Specviz2dExample.ipynb
Labels: documentation, testing, trivial, skip-changelog-checks, plugin, specviz2d

#3440 BUG: Fix JSON serialization error for edge case when spectral axis is in pix unit
  jdaviz/core/unit_conversion_utils.py
Labels: bug, trivial, no-changelog-entry-needed, backport-v4.1.x

#3444 MNT: Compat with photutils 2.2.0
  jdaviz/core/region_translators.py
  jdaviz/core/tests/test_region_translators.py
Labels: trivial, no-changelog-entry-needed, backport-v4.1.x

#3445 Backport PR #3440 on branch v4.1.x (BUG: Fix JSON serialization error for edge case when spectral axis is in pix unit)
  jdaviz/core/unit_conversion_utils.py
Labels: bug, trivial, no-changelog-entry-needed, backport-v4.1.x

#3447 add missing exposed export_bg_spectrum and API hint
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: trivial, plugin, specviz2d, backport-v4.1.x

#3446 Backport PR #3444 on branch v4.1.x (MNT: Compat with photutils 2.2.0)
  jdaviz/core/region_translators.py
  jdaviz/core/tests/test_region_translators.py
Labels: trivial, no-changelog-entry-needed, backport-v4.1.x

#3448 Backport PR #3447 on branch v4.1.x (add missing exposed export_bg_spectrum and API hint)
  CHANGES.rst
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: trivial, plugin, specviz2d, backport-v4.1.x

#3451 MNT: Remove astropy test runner, clean up unused files
  .github/workflows/publish.yml
  CHANGES.rst
  jdaviz/__init__.py
  jdaviz/_astropy_init.py
  jdaviz/tests/coveragerc
  pyproject.toml
Labels: testing, Build standalone

#3454 Backport PR #3452 on branch v4.1.x (Improve performance of orientation rerendering)
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
Labels: imviz, plugin, backport-v4.1.x

#3453 Cleanup plugin apis
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/subset_tools/subset_tools.py
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/core/helpers.py
Labels: api, testing, imviz, Ready for final review, plugin

#3459 Backport PR #3458 on branch v4.1.x (BUG: Fix air/vac of SDSS and SDSS IV line lists)
  CHANGES.rst
  jdaviz/data/linelists/SDSS-IV.csv
  jdaviz/data/linelists/linelist_metadata.json
Labels: bug, trivial, backport-v4.1.x

#3457 refactor flux conversion, fix some broken conversions
  CHANGES.rst
  jdaviz/app.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/core/freezable_state.py
  jdaviz/core/helpers.py
  jdaviz/core/marks.py
  jdaviz/core/tests/test_unit_conversion_utils.py
  jdaviz/core/unit_conversion_utils.py
  jdaviz/tests/test_app.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: testing, imviz, plugin

#2872 Virtual Observatory plugin for Jdaviz
  CHANGES.rst
  docs/imviz/import_data.rst
  jdaviz/components/plugin_table.vue
  jdaviz/components/tooltip.vue
  jdaviz/configs/default/plugins/__init__.py
  jdaviz/configs/default/plugins/virtual_observatory/__init__.py
  jdaviz/configs/default/plugins/virtual_observatory/tests/test_vo_imviz.py
  jdaviz/configs/default/plugins/virtual_observatory/vo_plugin.py
  jdaviz/configs/default/plugins/virtual_observatory/vo_plugin.vue
  jdaviz/configs/imviz/imviz.yaml
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  pyproject.toml
Labels: imviz, Ready for final review, plugin

#3466 loaders: move new loaders (and snackbar logger) to tray
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/loader.vue
  jdaviz/components/loader_dialog.vue
  jdaviz/components/loader_panel.vue
  jdaviz/components/plugin_loaders_dialog_btn.vue
  jdaviz/components/plugin_loaders_panel.vue
  jdaviz/components/tooltip.vue
  jdaviz/configs/default/plugins/subset_tools/subset_tools.vue
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_lineflux.py
  jdaviz/core/loaders/importers/spectrum2d_as_list/spectrum2d_as_list.vue
  jdaviz/core/loaders/importers/to_dc_with_label.vue
  jdaviz/core/loaders/resolvers/file/file.vue
  jdaviz/core/loaders/resolvers/resolver.py
  jdaviz/core/loaders/resolvers/url/url.vue
  jdaviz/core/loaders/test_loaders.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: specviz, embed, UI/UX😍, plugin

#3470 Remove VO plugin API and revert tests to underlying object
  CHANGES.rst
  jdaviz/configs/default/plugins/virtual_observatory/tests/test_vo_imviz.py
  jdaviz/configs/default/plugins/virtual_observatory/vo_plugin.py
Labels: trivial, plugin
