Repository spacetelescope/jdaviz, pull requests merged in 2025-01, with the labels that each got.

#3378 Backport PR #3373 on branch v4.1.x (data-menu: exclude subset on orientation layer in visibility logic)
  CHANGES.rst
  jdaviz/core/template_mixin.py
Labels: Ready for final review, backport-v4.1.x

#3375 MNT: Compatibility with astropy v7.1
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/core/unit_conversion_utils.py
Labels: cubeviz, specviz, imviz, trivial, no-changelog-entry-needed, plugin

#3359 Enhance From File catalog loading to support more columns and improve Clear Table functionality
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/plugins/catalogs/catalogs.vue
  jdaviz/configs/imviz/tests/test_catalogs.py
  jdaviz/core/template_mixin.py
Labels: imviz, plugin

#3376 TST: Fix CI in v4.1.x branch
  jdaviz/configs/cubeviz/plugins/moment_maps/moment_maps.py
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/tests/test_parser.py
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/core/unit_conversion_utils.py
Labels: cubeviz, specviz, imviz, trivial, no-changelog-entry-needed, plugin

#3379 spectral extraction api hint
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: trivial, no-changelog-entry-needed, plugin, specviz2d, backport-v4.1.x

#3380 Backport PR #3379 on branch v4.1.x (spectral extraction api hint)
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.vue
Labels: trivial, no-changelog-entry-needed, plugin, specviz2d, backport-v4.1.x

#3381 add row select to plugin table
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
  jdaviz/configs/imviz/tests/test_catalogs.py
  jdaviz/core/template_mixin.py
Labels: imviz

#3385 orientation: remove deprecated link_type, wcs_use_affine
  CHANGES.rst
  docs/imviz/plugins.rst
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/imviz/tests/test_helper.py
  notebooks/ImvizDitheredExample.ipynb
Labels: imviz, plugin

#3383 data-menu: handle viewer rename properly
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/core/template_mixin.py
Labels: Ready for final review, plugin, backport-v4.1.x

#3386 manual backport of PR 3383
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.py
  jdaviz/core/template_mixin.py
Labels: bug, trivial, no-changelog-entry-needed, plugin

#3384 UI-searchable API methods/attributes
  CHANGES.rst
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/core/template_mixin.py
  jdaviz/main_styles.vue
Labels: embed, UI/UX😍, Ready for final review

#3387 Add refresh button which updates sound device list
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.py
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.vue
Labels: cubeviz, trivial, plugin

#3377 Sonification plugin tweaks
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/cube_listener.py
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.py
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.vue
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: cubeviz, plugin, Extra CI

#3188 feat: use embedded qt browser for jdaviz standalone
  .github/workflows/standalone.yml
  jdaviz/cli.py
  jdaviz/qt.py
  jdaviz/solara.py
  pyproject.toml
  standalone/hooks/hook-dask.py
  standalone/hooks/hook-matplotlib_inline.py
  standalone/jdaviz-cli-entrypoint.py
  standalone/jdaviz.spec
  tox.ini
Labels: UI/UX😍, Ready for final review, no-changelog-entry-needed, Build standalone

#3390 TST: Update result for test_data_quality_plugin
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
Labels: trivial, no-changelog-entry-needed, plugin, backport-v4.1.x

#3393 Backport PR #3390 on branch v4.1.x (TST: Update result for test_data_quality_plugin)
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
Labels: trivial, no-changelog-entry-needed, plugin, backport-v4.1.x

#3391 fix: DataMenu keeps scrolling in view after app is out of view
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
Labels: plugin, backport-v4.1.x

#3394 Backport PR #3391 on branch v4.1.x (fix: DataMenu keeps scrolling in view after app is out of view)
  CHANGES.rst
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
Labels: plugin, backport-v4.1.x

#3400 BUG: source_id is lowercase in Gaia output (sometimes)
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
Labels: bug, imviz, trivial, plugin, backport-v4.1.x

#3404 Backport PR #3400 on branch v4.1.x (BUG: source_id is lowercase in Gaia output (sometimes))
  CHANGES.rst
  jdaviz/configs/imviz/plugins/catalogs/catalogs.py
Labels: bug, imviz, trivial, plugin, backport-v4.1.x

#3235 Bugfix: lcviz TPFs are sliced by cube index rather than time slice
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/mixins.py
Labels: cubeviz, plugin, backport-v4.1.x

#3405 Backport PR #3235 on branch v4.1.x (Bugfix: lcviz TPFs are sliced by cube index rather than time slice)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/mixins.py
Labels: cubeviz, plugin, backport-v4.1.x

#3402 DEP: Max pin glue to 1.21.1 in v4.1.x
  pyproject.toml
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed

#3406 Backport PR #3403 on branch v4.1.x (TST: Future-proof test_data_quality_plugin)
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
Labels: testing, trivial, no-changelog-entry-needed, plugin, backport-v4.1.x

#3296 fix unmix state when changing value
  jdaviz/core/template_mixin.py
Labels: no-changelog-entry-needed, backport-v4.1.x

#3227 more spectral extraction improvements for downstream use
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
Labels: bug, cubeviz, UI/UX😍, trivial, no-changelog-entry-needed, plugin, backport-v4.1.x

#3407 Backport PR #3296 on branch v4.1.x (fix unmix state when changing value)
  jdaviz/core/template_mixin.py
Labels: no-changelog-entry-needed, backport-v4.1.x

#3408 Backport PR #3227 on branch v4.1.x (more spectral extraction improvements for downstream use)
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.vue
Labels: bug, cubeviz, UI/UX😍, trivial, no-changelog-entry-needed, plugin, backport-v4.1.x

#3410 fix typo in plugin-dataset-select preventing showing dropdown
  jdaviz/components/plugin_dataset_select.vue
Labels: trivial, no-changelog-entry-needed

#3412 fix json unit error
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
Labels: plugin

#3253 implement unit conversion in specviz2d
  CHANGES.rst
  jdaviz/configs/cubeviz/helper.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/default/plugins/markers/markers.py
  jdaviz/configs/default/plugins/markers/tests/test_markers_plugin.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
  jdaviz/configs/mosviz/plugins/tools.py
  jdaviz/configs/mosviz/tests/test_data_loading.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.vue
  jdaviz/configs/specviz2d/helper.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
  jdaviz/configs/specviz2d/specviz2d.yaml
  jdaviz/configs/specviz2d/tests/test_parsers.py
  jdaviz/conftest.py
  jdaviz/core/freezable_state.py
  jdaviz/core/helpers.py
  jdaviz/core/marks.py
  jdaviz/core/tests/test_tools.py
  jdaviz/utils.py
Labels: cubeviz, specviz, imviz, plugin, specviz2d

#3418 prep for 4.1.1
  CHANGES.rst
  CITATION.cff
Labels: documentation, no-changelog-entry-needed

#3419 update change log after 4.1.1
  CHANGES.rst
Labels: no-changelog-entry-needed

#3420 Back to development, v4.1.2
  CHANGES.rst
Labels: no-changelog-entry-needed

#3421 Update CITATION.cff
  CITATION.cff
Labels: documentation, trivial, no-changelog-entry-needed

#3422 add instruction to update CITATION.cff after bugfix release
  docs/dev/release.rst
Labels: documentation, no-changelog-entry-needed
