Repository spacetelescope/jdaviz, pull requests merged in 2025-09, with the labels that each got.

#3741 Forbid polynomial order < 0
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: plugin

#3753 Backport PR #3746: Fix various bugs in Line Analysis, force 1D spectr…
  CHANGES.rst
  jdaviz/configs/specviz/plugins/line_analysis/line_analysis.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
  jdaviz/configs/specviz/plugins/unit_conversion/unit_conversion.py
  jdaviz/core/marks.py
  jdaviz/core/template_mixin.py
  jdaviz/core/unit_conversion_utils.py
Labels: specviz, no-changelog-entry-needed, plugin

#3754 Backport of PR 3741: Forbid polynomial order < 0 (#3741)
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.vue
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
Labels: no-changelog-entry-needed, plugin

#3756 Prep release 4.3.1
  CHANGES.rst
  CITATION.cff
Labels: documentation, no-changelog-entry-needed

#3752 Add wildcard to dropdown search
  CHANGES.rst
  jdaviz/components/plugin_select.vue
Labels: UI/UX😍, Ready for final review, plugin

#3739 Loaders: allow selecting or creating viewer
  CHANGES.rst
  jdaviz/app.py
  jdaviz/components/loader.vue
  jdaviz/components/plugin_action_button.vue
  jdaviz/components/plugin_auto_label.vue
  jdaviz/components/plugin_viewer_create_new.vue
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/orientation/orientation.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz2d/helper.py
  jdaviz/core/helpers.py
  jdaviz/core/loaders/importers/image/image.py
  jdaviz/core/loaders/importers/image/image.vue
  jdaviz/core/loaders/importers/importer.py
  jdaviz/core/loaders/importers/spectrum1d/spectrum1d.py
  jdaviz/core/loaders/importers/spectrum2d/spectrum2d.py
  jdaviz/core/loaders/importers/spectrum2d/spectrum2d.vue
  jdaviz/core/loaders/importers/spectrum_list/spectrum_list.py
  jdaviz/core/loaders/importers/spectrum_list/spectrum_list.vue
  jdaviz/core/loaders/importers/spectrum_list/test_spectrum_list.py
  jdaviz/core/loaders/importers/subset/subset.py
  jdaviz/core/loaders/importers/subset/subset.vue
  jdaviz/core/loaders/importers/to_dc_with_label.vue
  jdaviz/core/loaders/importers/trace/trace.py
  jdaviz/core/loaders/resolvers/file/file.vue
  jdaviz/core/loaders/resolvers/file_drop/file_drop.vue
  jdaviz/core/loaders/resolvers/object/object.vue
  jdaviz/core/loaders/resolvers/resolver.py
  jdaviz/core/loaders/resolvers/url/url.vue
  jdaviz/core/loaders/test_loaders.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
Labels: Ready for final review

#3762 Fix wildcard bug and update test
  jdaviz/core/tests/test_template_mixin.py
  jdaviz/tests/test_user_api.py
  jdaviz/tests/test_utils.py
  jdaviz/utils.py
Labels: bug, testing, trivial, no-changelog-entry-needed, backport-v4.3.x

#3763 Backport PR #3760 on branch v4.3.x (Fix failing dev test due to specutils)
  jdaviz/configs/specviz/plugins/viewers.py
Labels: specviz, no-changelog-entry-needed, backport-v4.3.x

#3766 User API tweaks for viewer select create new
  CHANGES.rst
  jdaviz/core/loaders/importers/importer.py
  jdaviz/core/template_mixin.py
  jdaviz/core/user_api.py
  jdaviz/tests/test_user_api.py
Labels: testing

#3742 Update model parameter units on unit change
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/core/helpers.py
Labels: plugin

#3784 Backport PR #3781 on branch v4.3.x (add condition for image wcs importer so component label is more accepting of sci)
  CHANGES.rst
  jdaviz/core/loaders/importers/image/image.py
Labels: bug, imviz, trivial

#3787 Avoid making object arrays for mask in cubeviz to speed up loading large cubes
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: cubeviz, plugin

#3788 Avoid unecessary float conversion in mask
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: cubeviz, trivial, plugin

#3771 Spectrum list default to using first source
  CHANGES.rst
  jdaviz/configs/specviz/tests/test_helper.py
  jdaviz/core/helpers.py
  jdaviz/core/loaders/importers/importer.py
  jdaviz/core/loaders/importers/spectrum_list/spectrum_list.py
  jdaviz/core/loaders/importers/spectrum_list/test_spectrum_list.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_user_api.py
  jdaviz/tests/test_utils.py
Labels: specviz, api, UI/UX😍, testing, Ready for final review, plugin

#3792 Fix handling of nonfinite data in model fitting
  CHANGES.rst
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
Labels: plugin

#3786 Allow loading new BSUB file in Specviz2D
  CHANGES.rst
  jdaviz/core/loaders/importers/spectrum2d/spectrum2d.py
  jdaviz/core/loaders/tests/test_loaders.py
Labels: feature, specviz2d

#3802 Backport PR #3797 on branch v4.4.x (handle case where setting data.meta raises error)
  CHANGES.rst
  jdaviz/core/loaders/importers/importer.py
Labels: trivial

#3804 Backport PR #3800 on branch v4.4.x (Coverage for spectral extraction previews in multiple viewers)
  jdaviz/configs/specviz2d/plugins/spectral_extraction/tests/test_spectral_extraction.py
Labels: UI/UX😍, trivial, no-changelog-entry-needed, plugin, specviz2d

#3807 Backport PR #3805 on branch v4.4.x (Debugging failing CI build)
  jdaviz/configs/imviz/tests/test_parser.py
Labels: imviz, no-changelog-entry-needed

#3808 Backport PR #3791 on branch v4.4.x (Avoid using np.take() since this returns copies of the data)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/mixins.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/rampviz/helper.py
Labels: cubeviz, trivial, plugin

#3809 Prep for 4.4.1 release
  CHANGES.rst
  CITATION.cff
Labels: documentation, no-changelog-entry-needed

#3810 back to development, 4.4.2
  CHANGES.rst
  CITATION.cff
Labels: documentation, trivial, no-changelog-entry-needed
