Repository spacetelescope/jdaviz, pull requests merged in 2025-06, with the labels that each got.

#3571 implement validator subset visibility
  CHANGES.rst
  jdaviz/configs/default/plugins/viewers.py
  pyproject.toml
Labels: cubeviz

#3599 Auto backport of pr 3593 on v4.2.x
  CHANGES.rst
  jdaviz/components/loader.vue
  jdaviz/core/loaders/resolvers/file/file.vue
  jdaviz/core/loaders/resolvers/resolver.py
Labels: documentation, cubeviz, specviz, mosviz, embed, testing, imviz, no-changelog-entry-needed, plugin, specviz2d

#3602 Tweaks to help debug failed remote data jobs
  .github/workflows/ci_workflows.yml
  jdaviz/core/loaders/resolvers/resolver.py
Labels: testing, no-changelog-entry-needed, specviz2d, backport-v4.2.x

#3607 Backport PR #3605 on branch v4.2.x (Pin specutils<2.0 until #2922 is merged)"
  CHANGES.rst
  pyproject.toml
Labels: trivial, no-changelog-entry-needed

#3608 Add Matthew Portman to codeowners
  .github/CODEOWNERS
Labels: trivial, no-changelog-entry-needed

#3610 Update MIRI filenames for test data
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/core/tests/test_autoconfig.py
  jdaviz/core/tests/test_config_detection.py
  jdaviz/tests/test_utils.py
Labels: testing, trivial, no-changelog-entry-needed, plugin, backport-v4.2.x

#3611 Backport PR #3610 on branch v4.2.x (Update MIRI filenames for test data)
  jdaviz/configs/default/plugins/data_quality/tests/test_data_quality.py
  jdaviz/core/tests/test_autoconfig.py
  jdaviz/core/tests/test_config_detection.py
  jdaviz/tests/test_utils.py
Labels: testing, trivial, no-changelog-entry-needed, plugin, backport-v4.2.x

#3612 Update data URI in Cubeviz and Specviz example notebooks
  notebooks/CubevizExample.ipynb
  notebooks/SpecvizExample.ipynb
Labels: documentation, trivial, no-changelog-entry-needed

#3620 Backport PR #3604 on branch v4.2.x (Catch vue_collapse exception and broadcast snackbar message, added test)
  CHANGES.rst
  jdaviz/configs/default/plugins/collapse/collapse.py
  jdaviz/configs/default/plugins/collapse/tests/test_collapse.py
Labels: no-changelog-entry-needed, plugin

#3634 Link to specutils 1.20.3 docs
  docs/conf.py
Labels: documentation, trivial, no-changelog-entry-needed, backport-v4.2.x

#3625 Include echo in developer dependencies
  tox.ini
Labels: testing, trivial, no-changelog-entry-needed

#3627 Update minimum version of echo to 0.11
  CHANGES.rst
  pyproject.toml
Labels: trivial, performance, backport-v4.2.x

#3617 expose aperture photometry api
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/tests/test_cubeviz_aperphot.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.vue
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
Labels: cubeviz, imviz, plugin

#3640 fix bug hiding editable select UI
  CHANGES.rst
  jdaviz/components/plugin_editable_select.vue
Labels: bug, UI/UX😍, trivial, backport-v4.2.x

#3628 Avoid circular calls to _on_layers_update
  CHANGES.rst
  jdaviz/configs/default/plugins/viewers.py
Labels: trivial, performance, backport-v4.2.x

#3626 Don't add actual subsets to CubevizProfileView
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: cubeviz, performance, backport-v4.2.x

#3644 Backport PR #3628 on branch v4.2.x (Avoid circular calls to _on_layers_update)
  CHANGES.rst
  jdaviz/configs/default/plugins/viewers.py
Labels: trivial, performance, backport-v4.2.x

#2887 Fix compute_scale when fiducial coordinates are outside bounding box
  CHANGES.rst
  jdaviz/configs/imviz/wcs_utils.py
Labels: bug, imviz, plugin, backport-v4.2.x

#3646 Backport PR #2887 on branch v4.2.x (Fix compute_scale when fiducial coordinates are outside bounding box)
  CHANGES.rst
  jdaviz/configs/imviz/wcs_utils.py
Labels: bug, imviz, plugin, backport-v4.2.x

#3647 add successful sonified data snackbar message
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.py
Labels: cubeviz, trivial, plugin, backport-v4.2.x

#3650 add successful sonified data snackbar message (#3647)
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.py
Labels: cubeviz, no-changelog-entry-needed, plugin

#3654 fix get_zoom_limits when wcs linked and out of image bounds
  CHANGES.rst
  jdaviz/configs/imviz/plugins/line_profile_xy/line_profile_xy.py
  jdaviz/configs/imviz/tests/test_line_profile_xy.py
Labels: imviz

#3658 fix gwcs units issue
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: backport-v4.2.x

#3656 Auto-update default sonification label
  CHANGES.rst
  jdaviz/configs/cubeviz/plugins/sonify_data/sonify_data.py
Labels: cubeviz, Ready for final review, plugin

#3652 loaders: defer calling resolver while initializing kwargs
  jdaviz/core/loaders/resolvers/resolver.py
Labels: Ready for final review, no-changelog-entry-needed

#3655 fix deconf model fitting when spectral subset is referenced
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/core/template_mixin.py
Labels: bug, Ready for final review, no-changelog-entry-needed, plugin, backport-v4.2.x

#3664 [bug] address codecov upload issue
  .github/workflows/ci_workflows.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v4.2.x

#3666 Backport PR #3664 on branch v4.2.x ([bug] address codecov upload issue)
  .github/workflows/ci_workflows.yml
Labels: testing, trivial, no-changelog-entry-needed, backport-v4.2.x

#3635 Disable subset export formats
  CHANGES.rst
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/export.vue
  jdaviz/configs/default/plugins/export/tests/test_export.py
Labels: Ready for final review, plugin, backport-v4.2.x

#3663 Backport PR #3658 on branch v4.2.x (fix gwcs units issue)
  CHANGES.rst
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: backport-v4.2.x

#3660 update icon coloring for sonified layer
  CHANGES.rst
  jdaviz/components/layer_viewer_icon_stylized.vue
  jdaviz/configs/default/plugins/data_menu/data_menu.vue
  jdaviz/core/template_mixin.py
Labels: cubeviz, UI/UX😍, Ready for final review, plugin
